<style type="text/css">
  body{
    background-image: url(<%= asset_path "v3/bg_black.png" %>);
  }

  #logo_white{
    position: relative;
    float: left;
    width: 77px;
    height: 76px;
    margin: 30px;
  }

  .flowchart9{
    font-size: 9px;
    text-transform: uppercase;
    font-family: futura-pt-1, futura-pt-2;
    font-weight: 700;
    color: white;
    letter-spacing: 0.2em;
  }
</style>

<div style="float: left; width: 1280px">
  <%= link_to image_tag('v3/logo-white.png'), root_path, :id => "logo_white" %>         
</div>

<div style="float: left; height: 76px">
  <div style="height: 76px; width: 256px"> 
    <div class="flowchart9">
      i need to learn more about this hour school doohickey before i dive in 
    </div>
  </div>

  <div style="height: 76px; width: 256px"> 
    <div class="flowchart9">
      i wanna dream big but i don't know where to start
    </div>
  </div>
</div>


<div class="flowchart55">
  where DO YOU SHINE IN YOUR MISSION?
</div>


<div class="flowchart55">
  are you a lover of life, a do’er, a thinker, a maker, or aspire to be any of the above? 
</div>