<div class="grid_16" style="margin: 0; float: right">
  <ul class="sub-nav">
    <li class="sub-nav-inactive">
      <a href="/about" class="sub-nav-inactive">About</a>
    </li>
    <li class="sub-nav-inactive">
      <a href="/story" class="sub-nav-inactive">Founding Story</a>
    </li>
    <li class="sub-nav-inactive">
      <a href="/team" class="sub-nav-inactive">Team</a>
    </li>
    <li class="sub-nav-inactive">
      <a href="/communities" class="sub-nav-inactive">Communities</a>
    </li>
    <li class="sub-nav-inactive">
      <a href="/store" class="sub-nav-inactive">Store</a>
    </li>
    <li class="sub-nav-inactive">
      <a href="/events" class="sub-nav-inactive">Events & Appearances</a>
    </li>
  </ul>
</div>