<div class="span3" style="margin: 30px 0">
  <ul class="nav nav-tabs nav-stacked affix" style="padding-left: 0">
    <li><a href="/about">About</a></li>
    <li><a href="/story">Founding Story</a></li>
    <li><a href="/team">The Team</a></li>
    <li><a href="/events">Events & Appearances</a></li>
  </ul>
</div>