<div class="signup_wizard">
 <p class="error"></p>
 
 <h2>Create a new Hourschool password</h2>
 
 <%= form_for @user, :url => {:action => "update"}, :method => :put, :html => {:class => 'inset', :id => 'form-signup'} do |f| %>
   <div>
     <%=  f.password_field :password , :placeholder => "Password" %>
   </div>
   <div>
    <%=  f.password_field :password_confirmation , :placeholder => "Confirm Password" %>
    </div>
   <div>
     <%=  f.submit "Done", :class => "button-submit" %>
   </div>
 <% end %>
  <div>
    
  </div>
</div>