%h2.share_header Help spread Hourschool by sharing with your friends!


= render :partial => "users/facebook_share/share", :locals => {:limit   => 8, :message => "I just signed up for Hourschool", :link    => root_url, :name    => "Join me, so we can Learn Together", }


%div
  = link_to "Finish", wizard_path(@next_step)
