<div class="heading10-class">Classes are always more fun with a group of friends. Share this class!</div>

<!-- AddThis Button BEGIN -->
<%= render :partial => "shared/components/add_this_buttons", :locals => {:url => course_url(@course), :title => "Check out this class @hourschool!" }  %>
