<% if @course.teacher == current_user %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Teacher's Toolbox</h4>
    <br>
    <%= link_to "Edit event", edit_course_path, :class => "btn" %>
    <a class="btn" data-toggle="modal" href="#addBasicInfo">Promote my event</a>
    <a class="btn" data-toggle="modal" href="#addBasicInfo">Invite someone</a>
    <a class="btn" data-toggle="modal" href="#addBasicInfo">Email all attendees</a>
  </div>
<% else %>
    <a class="btn" data-toggle="modal" href="#addBasicInfo">Invite someone</a>
    <a class="btn" data-toggle="modal" href="#addBasicInfo">Email organizer</a>
<% end %>

