<div style="float: left; margin-bottom: 18px">
<span class='facebookShareMain'
  data-url="<%= users_facebook_share_index_path(local_assigns) %>"
>
  <span class='facebookShareMainContent' data-url="<%= users_facebook_share_index_path(local_assigns) %>">
  </span>
</span>

<%= render :partial => 'users/facebook/grid/activate' %>

</div>