<p>You have been invited to join <%= @account.name %></p>

<% unless @existing_user %>
  <p>Finish creating your account here:</p>
  <p><%= edit_password_url(@user, :reset_password_token => @user.reset_password_token, :subdomain => @account.subdomain) %></p>
<% end %>