<p<Hello <%= @user.name.split(" ").first %>,</p><br>

<p><%= link_to "#{@new_member.name}", user_url(@new_member) %> has joined your mission <%= link_to "#{@mission.verb} #{@mission.title}", mission_url(@mission) %>.</p><br>

<p>Say hi!</p>
