
<div class="email-page">  

  <center>
        <img src="../../../images/v2/Logo_Orange.png">
  </center>
  
  
<div class="email-content">

  <h1 class="email-header">Hello <%= @name %>,</h1>

  <p class="email-body"> You have registered for the course "<%= @course.title%>"</p>

 	<p class="email-body"> Keep visiting for more classes and fun. We hope you enjoy the course. </p>
  
  <p class="email-footer">
  Cheers!<br>
  Hour School<br>
  <br>
  ---<br>
  Learn more about HourSchool, give us feedback, or contact us with any questions here:
  <a href="www.hourschool.com/faq">www.hourschool.com/faq</a>
  </p>
</div>




</div>
