
<div class="email-page">  

  <center>
        <img src="/images/v2/Logo_Orange.png">
  </center>
  
  
<div class="email-content">

  <h1 class="email-header">Hello <%= @name %>,</h1>

  <p class="email-body"> You recently submitted a proposal to teach "<%= @course.title %>".We are delighted to inform you that your course has been approved by HourSchool team. Please complete additional details here <%= link_to "here", edit_course_url(:id => @course.id)%></p>

 	<p class="email-body"> If for some reason, the above link does not work, you can find the approved courses in your profile page. Happy teaching! </p>
  
  <p class="email-footer">
  Cheers!<br>
  HourSchool Team<br>
  <br>
  ---<br>
  Learn more about HourSchool, give us feedback, or contact us with any questions here:
  <a href="www.hourschool.com/faq">www.hourschool.com/faq</a>
  </p>
</div>




</div>



