<p>Hi <%= @user.name %>,</p>

<p><%= @inviter.name %> bought you a ticket to <%= @course.name %>.</p>

<p>Go to <%= edit_users_ticket_invite_url(@user.invite_token) %> to claim your ticket.</p>

<p>For any questions, please contact us at hello@hourschool.com</p>



