<p>Hello,</p>

<p><%= @inviter.name %> invited you to organize an event for this topic: <%= @topic.title %></p>

<p>"<%= @message %>"</p>

<p>Visit <%= mission_topic_url(@topic.mission, @topic, :q => 'topic') %> to create an event!</p>