<div class="row">
  <%= render :partial => 'admin/sidebar' %>

  <div class="span9">
    <div class="white">
      <div class="page-content">
        Upcoming classes
      </div>
    </div>
  </div><!-- end span9 -->


</div>


