<% unless content_for?(:facebugger_autocomplete_javascript) %>
  <%= content_for :facebugger_autocomplete_javascript do %>
    <script type='text/javascript'>
      if (typeof FaceBugger === 'undefined') var FaceBugger = {} ;
      FaceBugger.Autocomplete = (function(){

        // callback
        var afterInvite = function(target, ui) {};

        var create = function(event, ui, target) {
          options = { message:     target.data('message'),     // message above link
                      description: target.data('description'), // description under link
                      link:        target.data('link'),        // url for link
                      name:        target.data('name'),        // text on link
                      id:          ui.item.id                  // id of user
                    }

          $.ajax({
            url:      target.data('create-url'),
            dataType: 'html',
            type:     'POST',
            data:     options,
            success:  function(html) { afterInvite(target, ui) },
            error:    function(html) { console.log('error') }
          })
        };


        var addFriendsToAutocomplete = function(target, friends){
          target.autocomplete({
            minLength: 6,
            source: friends,
            select: function(event, ui) {
              create(event, ui, target);
            }
          }).data('autocomplete').
          _renderItem = function(ul,item) {
            var itemElement = $('<li></li>')
            .data("item.autocomplete", item)
            .addClass("ui-helper-clearfix")
            .append(  "<div id='fb-autocomplete'>" + "<a>" + 
                       "<img height='50' width=50' src='" +
                         item.image_url +
                         "' />" +
                       "<span id='fb-name'>" +
                         item.name +
                       "</span>" +
                     "</a>" + "</div>"
                     )
            .appendTo(ul);
        }};

        var populateAutocomplete = function(target) {
          $.ajax({ url: target.data('source-url'),
                   dataType: 'json',
                   success: function(friends) {addFriendsToAutocomplete(target, friends)}
          });
        };

        var setup = function(){
          $('.facebookTypeAheadShare').each(function(){
            populateAutocomplete($(this));
          })
        };

        return {
          setup: setup,
          afterInvite: afterInvite,
        };
        })();

      $(document).ready( function(){
        FaceBugger.Autocomplete.setup()
      });
    </script>
  <% end %>


  <%= content_for :foot_scripts do %>
    <%= yield :facebugger_autocomplete_javascript %>
  <% end %>
<% end %>
