/*ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 10px;
}
ul.hmenu li {
  display: inline;
  padding: 10px;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

h3 {
    margin-left: 20px;
}
p {
    margin-left: 20px;
}

.left-link {
  display: block;
  width: 50%;
  float: left;
  clear:both;
}

.right-link {
  display: block;
  float: right;
  width: 30%;
}

.header-image {
  margin-left: 20px;
  padding-bottom: 50px;
  float:left;
  display:block;
  clear:both;
  
  
}

.alert {
  margin-left: 20px;
  display: block;
  clear: both;
  
  font-color: orange;
}

.content {
  margin-left: 20px;
  padding-top: 30px;
  display: block;
  clear: both;
}
.featured_classes {
  display:block;
  height: 200px;
  margin-left:20px;
  width: 80%;
  background: #8f8f8f;
}

#home-search-bar {
  margin-left: 20px;
}
#learn-search-bar {
  margin-left: 20px;

}
#home-search-bar input[type=text] {
  padding: 5px;
  width: 200px;
}
#learn-search-bar input[type=text] {
  padding: 5px;
  width: 75%;
  
}
#learn-city-search-bar input[type=text] {
  padding: 5px;
  margin-left: 20px;
}

#learn-city-search-bar input[type=submit]{
    margin-left: 20px;
}

.nav {
  float: left;
  width: 20%;
}
.nav-right {
  float: right;
  width: 20%;
}
.nav-right li{
  margin-left: 20px;
  list-style: none;
}
.nav li{
  margin-left: 20px;
  list-style: none;
}

#nav-browse-city {
  padding: 10px;
}
#nav-browse-time {
  padding: 10px;
}

#learn-upcoming-classes {
  
  padding-bottom: 25px;
  overflow: hidden;
}
#learn-content, #teach-content {
  width: 55%;
  float: left;
  padding-top: 25px;
  padding-left: 20px;
}

*/

/*#teach-upcoming-classes {
  height: 300px;
  background: #bfbfbf;
  padding-bottom: 25px;
  overflow: hidden;
}*/

/*
#learn-upcoming-classes img {
  padding: 5px;
  display: inline;
}
#learn-upcoming-classes h6 {
  display: inline;
  
}
#learn-help-make-classes-happen, #teach-upcoming-classes {
  padding-bottom: 25px;
  
}
.suggbox {
  border: 1px solid #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnail
{
float: left;
width: 150px;
height: 175px;
border: 1px solid #999;
margin: 0 15px 15px 0;
padding: 5px;
}

.clearboth { clear: both; }
*/
/*
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }
*/