/*......RESET.......*/
/*...Ensures default variables in different browsers are the same...*/
* {
	margin:0px;
	padding:0px;
}


/*......GENERAL......*/


body {
	font-family: museo-1,museo-2,sans-serif;	
	font-size: 14px;
	color: #3d3d3d;
	line-height: 20px;
	background-color: none; 
	background-image:url(../../../images/main_bg.png);
	position: relative;
}
p, ol, ul {
	font-family: museo-1,museo-2,sans-serif;	
	font-size: 14px;
	color: #3d3d3d;
	line-height: 28px;

}

a { text-decoration: none; color: #686868;}
a:visited { text-decoration: none; color: #686868;}
a:active { text-decoration: none; color: #686868;}
a:hover { color: #35a9e5;}




table#courses {
	border:1px solid #919090;
	padding: 5px;
}



#wrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;

}

#header{
	position: relative;
	left: 0px;
	padding: 20px;
	overflow: hidden;
	background: white;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border radius: 0px 0px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;
	border: 0px solid black;
	font-family: museo-1,museo-2,serif;
	font-size: 20px;

}

#content{
	position: relative;
	float: left;
	left: 0px;
	margin-top: 13px;
}

#white_bg{
	position: relative;
	float: left;
	left: 0px;
	width: 860px;
	padding: 20px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;
	border: 0px dashed green;

}

#merchant_logo{
	position: relative;
	float: left;
	width: 200px;
	padding-left: 20px;

}

#merchant_blurb{
	position: relative;
	float: left;
	width: 600px;
	padding-top: 5px;


}

#no_bg{
	position: relative;
	float: left;
	left: 0px;
	width: 880px;
	padding-top: 30px;
	padding-left: 20px;
	background: none;
	border: 0px solid green;

}

hr#solid {
 	border: 1px solid #999;
    width: 100%;
}

hr#business{
	padding-top: 30px;
	border: 0px solid white;
}

hr#top {
   	position: absolute;
	top: 40px;
 	border: none 0;
    border-top: 1px solid #999;
    width: 100%;
	text-align: center;

}

hr#full {
  	border: none 0;
    border-top: 1px solid #999;
    width: 100%;
	text-align: center;
}

hr#blackline {
	float: left;
	border-top: 1px solid #b1b1b1;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}

hr#whiteline {
	float: left;
    border-top: 1px solid white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}


#tagline {
	background: white;
	float: left;
	padding: 5px;
	padding-left: 20px;
	padding-top: 10px;
	text-align: left;
	margin-bottom: 2px;
	font-size: 12px;

}

#user_nav {
	background: white;
	padding: 5px;
	padding-right:30px;
	padding-top: 10px;
	text-align: right;
	margin-bottom: 2px;
	font-size: 12px;

}

#loginBox { 
	position: absolute; 
	left: 700px; 
	width: 270px; 
	z-Index: 99; 
	top: 30px; 
	padding: 10px; 
	background-color: white;
	border: 1px solid black;
	}


#loginBox2 { 
	width: 350px; 
	left: 280px;
	position: absolute;
	z-Index: 99; 
	top: 30px; 
	padding: 30px; 
	background-color: white;
	border: 1px solid black;
	}


span#loginBoxPrompt2{
	text-decoration: underline;
}

#logo {	
	margin-top: 0px;
	float: left;
	}

#main_nav {
	float: right;
	text-align:right;
	padding-top: 35px;
	padding-right: 10px;
	letter-spacing: 1.5px;
	border: 0px dashed green;
}



#footer_image {
	margin-bottom: -8px;
	float: right;
	padding-right: 230px;
	padding-top: 70px;
}


#footer_thin_box{
	position: relative;
	float: left;
	width: 100%;
	height: 4px;
	background-color: #b1b1b1;

}

#footer_bottom{
	position: relative;
	float: left;
	margin-left: auto;
	margin-right: auto;
 	width: 100%;


}

#footer_box{
	position: relative;
	text-align: center; 
	color: white;
	line-height:2em;
	padding-top: 10px;
	padding-bottom: 50px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #808080;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #666666;
	-webkit-box-shadow: 1px 1px 1px #666666;
	box-shadow: 1px 1px 1px #666666;

}

#footer_box a { color: #ffffff; } /* white */
#footer_box a:hover { color: #35a9e5;}


#footer_background{
	position: absolute;
	z-index: -3;
	height: 200px;
	width: 100%;
	background-image: url(../../../images/footer_bg.png);

}


#about_text{
	position: relative;
	float: left;
	margin-top: 0px;
	padding-left: 20px;
	width: 330px;
	border: 0px solid black;
}

#video{
	position: relative;
	margin-top: 0px;
	margin-bottom: 40px;
	padding-right: 20px;
	float: right;
	border: 0px dashed green;

}

#step_1{
	float:left;
}

#step_2{
	float:left;
}

#signup_text{
	float: left;
}

#login_text{
	text-decoration: underline;
}

#applebutton {
	float: left;
	padding-top:3px;
	margin-bottom: -15px;
	border: 1px solid transparent;

}

.actions {
	float: left;
	width: 38px;/* Width of button image */
	height: 40px;/* Height of button image */
	padding: 40px 0 0;
	margin-top: 3px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	background: transparent url("../../../images/gobutton.png") no-repeat;
	overflow: hidden;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */

}

#heading2{
	padding-top: 20px;
}

#applebutton2 {
	float: left;
	width: 38px;/* Width of button image */
	height: 40px;/* Height of button image */
	padding: 40px 0 0;
	margin-top: 30px;
	margin-bottom: 0;
	border: 1px solid transparent;
	background: transparent url("../../../images/gobutton.png") no-repeat;
	overflow: hidden;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */

}



a#smalltext{
	font-size: 12px;
	text-decoration: underline;
}

a#blackhover:hover{
	color: black;
}


#classStatus{
	width: 200px;
	text-align: center;
	padding: 10px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


#studentStatus{
	width: 100px;
	text-align: center;
	background-color: #bdbdbd;
	color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


#merchant_logo{
	position: relative;
	float: left;
	border: 0px solid black;
}

#merchant_blurb{
	position: relative;
	float: left;
	border: 0px solid black;
}

#greybutton{
	margin: 20px;
	width: 150px;
	padding: 10px;
	text-align: center;
	background-color: #bdbdbd;
	color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


#classnav{
	width: 860px;
	float: left;
}


.navbutton{
	float: left;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #666;
	-moz-box-shadow:inset 3px 3px 3px #c3c3c3;
	-webkit-box-shadow:inset 3px 3px 3px #c3c3c3;
	box-shadow:inset 3px 3px 3px #c3c3c3;
}

#bluebutton{
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px;
	text-align: center;
	background-color: #35a9e5;
	color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#bluebuttonCall{
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: #35a9e5;
	color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#bluebutton a { color: #ffffff; } /* white */
#bluebutton:hover { background-color: #2099d7;}

p#share{
	line-height: 16px;
	margin-bottom: 10px;
}

#classlist:hover{
	color: black;
}

hr#left {
 	border: none 0;
    border-top: 1px dashed #999;
    width: 500px;
}

hr#right {
 	border: none 0;
    border-top: 1px dashed #999;
    width: 250px;
}

#class_page_left {
  position: relative;
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 500px;
  border: 0px dashed green;
}

#class_page_right {
  position: relative;
  float: left;
  padding-top: 30px;
  margin-left: 20px;
  width: 250px;
  border: 0px dashed green;
}


h2#headline{
	padding-top: 5px;
	text-transform: uppercase;
}


#twoCol_left{
	position: relative;
	float: left;
	width: 270px;
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 25px;
	
}

#twoCol_left_wide{
	position: relative;
	float: left;
	width: 500px;
	padding-top: 5px;
	padding-bottom: 30px;
	
}


#twoCol_right{
	position: relative;
	float: left;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 30px;
}


.title {
	color: #35a9e5;
	font-family: museo-sans-1,museo-sans-2,sans-serif;
	font-size: 16px;
	}


#fb-root {
	float: left;
	margin-right: 5px;
}

a.twitter-share-button {
	float: left;
	margin-right: 5px;
}

p#profile {
	float: left;
}

#edit_profile {

	font-size: 12px;
}

#class_area{
  position: relative;
  float: left;
  width: 900px;
  padding: 20px;
  border: 0px dashed green;

}

#browse_sidebar{
  float: left;
  position: relative;
	margin-left: 8px;
  border: 0px dashed green;
}

#white_bg_class{
	position: relative;
	float: left;
	width: 243px;
	height: 310px;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;

}

#white_bg_profile{
	position: relative;
	float: left;
	width: 243px;
	height: 135px;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;

}

#white_bg_teach{
	position: relative;
	float: left;
	width: 243px;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;

}

h2#peopleInterested{
	float: left;
	padding-right: 5px;
}

#peopleInterested{
	float: left;
}

h3#classtitle{
	width: 220px;
	padding-top: 10px;

}

#white_bg_class_home{
	position: relative;
	float: left;
	padding: 15px;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 15px;
	background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 1px 1px 1px #c3c3c3;
	-webkit-box-shadow: 1px 1px 1px #c3c3c3;
	box-shadow: 1px 1px 1px #c3c3c3;


}

#classImg {
	width: 243px;
	height: 150px;
	background-color: #3d3d3d;
}

.shortBox {
	border: 1px solid #b5b5b5;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1em;
	width: 50px;
	height: 25px;
	float: none; 
	margin-top: 15px;
}

.bigTextBox {
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1em;
	width: 400px;
	float: none; 
	margin-top: 15px;
	height: 100px;
}

.teacher_textarea{
	height: 100px;
	border: 1px solid #b5b5b5;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;

}

.textInput_short {
	border: 1px solid #b5b5b5;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1em;
	width: 100px;
	height: 25px;
	float: none; 
	margin-top: 15px;
	color: #666;
	font-size: 13px;
}

.textInput_medium {
	border: 1px solid #b5b5b5;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1em;
	width: 200px;
	height: 25px;
	float: none; 
	margin-top: 15px;
	color: #666;
	font-size: 13px;
}

.textInput_long {
	border: 1px solid #b5b5b5;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1em;
	width: 400px;
	height: 25px;
	float: none; 
	margin-top: 15px;
	color: #666;
	font-size: 13px;
}



#smalltext {
	 float: clear;
     width: 800px;
     line-height: 0.5em;
	 margin: 0 auto; 
	 text-align: center;
     padding-top: 30px;
	color: #666;
    
}

.center
{
margin-left:auto;
margin-right:auto;
width:80%;
background-color:#b0e0e6;
}





p#notice {
	color: white;
	background-color: #666;
	padding: 10px;
	margin-bottom: 10px;

}


#notice {
	color: white;
	background-color: #666;
	padding: 10px;
	margin-bottom: 10px;

}



#error_explanation {
  margin-bottom: 20px;
  background-color: #FCF9F7;
	font-color: red;
}

