<div class="full-page white">
  <div class="page-content">

    <div class="page-section-float-left">
      <div class="form-question">Almost there...</div>
    </div>

    <% @user.errors.each do |error, msg| %>
      <p class="error"><%= "#{error}: #{msg}" %></p>
    <%- end -%>


    <%= form_for @user, :url => wizard_path, :method => :put, :html => {:class => 'inset', :id => 'form-signup'} do |f| %>

    <div class="page-section-float-left">
      <%=  f.text_field :zip , :placeholder => "Zipcode (required)", :class => "form-short" %>
    </div>

    <div class="page-section-float-left">
        <%=  f.submit "Continue", :class => "orange button" %>
    </div>
  <% end %>

  </div>
</div>