%ul.searchFilter
  %li
    .sidebar-heading Browse By Time
    %li= link_to "All classes",   courses_browse_path(:all,      @params)
    %li= link_to "Upcoming only", courses_browse_path(:upcoming, @params)


%ul.searchFilter
  %li
    .sidebar-heading Browse By Category
    - TAGS.each do |tag|
      %li= link_to "#{tag}", courses_browse_path(:tags, :tag => tag)
