<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>
<% else %>


    <!-- Section 1 -->
    <div style="float: left; width: 300px; margin-right: 25px;">

      <div style="float: left; width: 300px; height: 225px; background-color: grey; margin-bottom: 15px"></div>

      <div style="float: left; width: 300px; height: 180px; background-color: grey; margin-bottom: 20px"></div>

      <div style="float: left; width: 300px; height: 60px; background-color: grey"></div>

    </div><!-- End Section 1 -->

    <!-- Section 2 -->
    <div style="float: left; width: 630px;">

      <div style="float: left; width: 630px; height: 400px; background-color: grey; margin-top: 30px"></div>

      <div style="float: left; width: 630px; height: 70px; background-color: white"></div>

    </div><!-- End Section 2 -->

    <!-- Section 3 -->
    <div style="float: left; width: 960px; margin-top: 30px; margin-bottom: 30px">

      <div style="float: left; width: 960px; height: 180px; background-color: grey;"></div>

      <div style="float: left; width: 960px; height: 70px; background-color: white;"></div>

    </div><!-- End Section 3 -->

    <!-- Section 4 -->
    <div style="float: left; width: 630px; height: 530px; margin-bottom: 50px; margin-right: 25px">

      <div style="float: left; width: 300px; height: 180px; background-color: grey; margin-right: 30px;"></div>

      <div style="float: left; width: 300px; height: 180px; background-color: grey;"></div>

      <div style="float: left; width: 300px; height: 70px; background-color: white; margin-right: 30px; margin-bottom: 30px"></div>

      <div style="float: left; width: 300px; height: 70px; background-color: white; margin-bottom: 30px"></div>

      <div style="float: left; width: 630px; height: 180px; background-color: grey"></div>
      <div style="float: left; width: 630px; height: 70px; background-color: white;"></div>

    </div><!-- End section 5 left -->

    <!-- Section 6 right -->
    <div style="float: left; width: 300px; height: 530px; background-color: white; overflow:scroll;">

      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>
      <div style="float: left; width: 300px; height: 85px; background-color: grey; margin-bottom: 10px"></div>


    </div><!-- End section 6 right -->


<% end %>
