/*......NOT LOGGED IN......*/
/* line 5, ../../../app/assets/stylesheets/components/header.scss */
#header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  overflow: hidden;
}

/* line 12, ../../../app/assets/stylesheets/components/header.scss */
#logo {
  position: relative;
  float: left;
}

/* line 17, ../../../app/assets/stylesheets/components/header.scss */
#login {
  color: #4f4e4e;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 26, ../../../app/assets/stylesheets/components/header.scss */
li#login {
  float: left;
  color: #8f8f8f;
  text-decoration: none;
  margin-left: 10px;
}

/* line 33, ../../../app/assets/stylesheets/components/header.scss */
.profile-avatar {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -3px;
  background-color: #ccc;
}

/* line 42, ../../../app/assets/stylesheets/components/header.scss */
table#menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 51, ../../../app/assets/stylesheets/components/header.scss */
td#menu_teach, td#menu_partners, td#menu_business {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 59, ../../../app/assets/stylesheets/components/header.scss */
td#menu_learn, td#menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 70, ../../../app/assets/stylesheets/components/header.scss */
td#menu_learn {
  width: 176px;
}

/* line 74, ../../../app/assets/stylesheets/components/header.scss */
td#menu_teach {
  width: 170px;
}

/* line 78, ../../../app/assets/stylesheets/components/header.scss */
td#menu_partners {
  width: 170px;
}

/* line 82, ../../../app/assets/stylesheets/components/header.scss */
td#menu_business {
  width: 235px;
}

/* line 86, ../../../app/assets/stylesheets/components/header.scss */
td#menu_faq {
  width: 67px;
}

/* line 90, ../../../app/assets/stylesheets/components/header.scss */
a#menu {
  color: #8f8f8f;
  text-decoration: none;
}

/* line 95, ../../../app/assets/stylesheets/components/header.scss */
a#menu:hover {
  text-decoration: none;
  color: #d70100;
}

/* line 97, ../../../app/assets/stylesheets/components/header.scss */
#menu18 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 20px;
}

/* line 106, ../../../app/assets/stylesheets/components/header.scss */
#menu9 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
}

/* line 114, ../../../app/assets/stylesheets/components/header.scss */
#menu_faq {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/*......LOGGED IN - ENTERPRISE......*/
/* line 125, ../../../app/assets/stylesheets/components/header.scss */
#enterprise_peer_learning {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #d70100;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* line 137, ../../../app/assets/stylesheets/components/header.scss */
table#enterprise_menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 146, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_learn, td#enterprise_menu_teach, td#enterprise_menu_request, td#enterprise_menu_community {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 154, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_dashboard, td#enterprise_menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 166, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_dashboard {
  width: 200px;
}

/* line 170, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_learn {
  width: 160px;
}

/* line 174, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_teach {
  width: 160px;
}

/* line 178, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_request {
  width: 160px;
}

/* line 182, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_community {
  width: 200px;
}

/* line 186, ../../../app/assets/stylesheets/components/header.scss */
td#enterprise_menu_faq {
  width: 67px;
}

/*......LOGGED IN - COMMUNITY......*/
/* line 192, ../../../app/assets/stylesheets/components/header.scss */
#peer-learning-at {
  position: relative;
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 203, ../../../app/assets/stylesheets/components/header.scss */
table#community_menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 212, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_teach, td#community_menu_request, td#community_menu_community {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 220, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_learn, td#community_menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 232, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_learn {
  width: 176px;
}

/* line 236, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_teach {
  width: 170px;
}

/* line 240, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_request {
  width: 170px;
}

/* line 244, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_community {
  width: 235px;
}

/* line 248, ../../../app/assets/stylesheets/components/header.scss */
td#community_menu_faq {
  width: 67px;
}
