/*......RESET.......*/
/*...Ensures default variables in different browsers are the same...*/
/* line 3, ../../../app/assets/stylesheets/components/homepage.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 16, ../../../app/assets/stylesheets/components/homepage.scss */
body {
  font-family: verdana,sans-serif;
  font-size: 13px;
  color: white;
  line-height: 18px;
  background-color: none;
  background-image: url(../../../images/v2/BG_grey.png);
  position: relative;
}

/* line 25, ../../../app/assets/stylesheets/components/homepage.scss */
p, ol, ul {
  font-family: verdana,sans-serif;
  font-size: 13px;
  color: white;
  line-height: 24px;
}

/* line 33, ../../../app/assets/stylesheets/components/homepage.scss */
a {
  text-decoration: underline;
  color: #ff7733;
}

/* line 34, ../../../app/assets/stylesheets/components/homepage.scss */
a:visited {
  text-decoration: underline;
  color: #ff7733;
}

/* line 35, ../../../app/assets/stylesheets/components/homepage.scss */
a:active {
  text-decoration: underline;
  color: #ff7733;
}

/* line 36, ../../../app/assets/stylesheets/components/homepage.scss */
a:hover {
  text-decoration: underline;
  color: #ff7733;
}

/*......HOMEPAGE PAGE BREAKDOWN......*/
/* line 41, ../../../app/assets/stylesheets/components/homepage.scss */
.homepage_top_bg {
  background-color: #ff7733;
  padding-bottom: 40px;
}

/* line 46, ../../../app/assets/stylesheets/components/homepage.scss */
.homepage_middle_bg {
  background-image: url(../../../images/v2/BG_grey.png);
}

/* line 50, ../../../app/assets/stylesheets/components/homepage.scss */
.homepage_bottom_bg {
  background-color: #fff;
}

/* line 55, ../../../app/assets/stylesheets/components/homepage.scss */
.featuredContent {
  display: block;
  width: 960px;
  height: 350px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  position: relative;
}

/* line 65, ../../../app/assets/stylesheets/components/homepage.scss */
.footerContent {
  display: block;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}

/*......HOMEPAGE NAV......*/
/* line 77, ../../../app/assets/stylesheets/components/homepage.scss */
#header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  color: white;
}

/* line 85, ../../../app/assets/stylesheets/components/homepage.scss */
a#menu_homepage {
  color: white;
  text-decoration: none;
}

/* line 90, ../../../app/assets/stylesheets/components/homepage.scss */
#logo {
  position: relative;
  float: left;
}

/* line 95, ../../../app/assets/stylesheets/components/homepage.scss */
table#homepage_menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
}

/* line 102, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_teach, td#homepage_menu_partners, td#homepage_menu_business {
  border: 1px solid white;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 110, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_learn, td#homepage_menu_faq {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 121, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_learn {
  width: 176px;
}

/* line 125, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_teach {
  width: 170px;
}

/* line 129, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_partners {
  width: 170px;
}

/* line 133, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_business {
  width: 235px;
}

/* line 137, ../../../app/assets/stylesheets/components/homepage.scss */
td#homepage_menu_faq {
  width: 67px;
}

/* line 141, ../../../app/assets/stylesheets/components/homepage.scss */
#menu18 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 20px;
}

/* line 150, ../../../app/assets/stylesheets/components/homepage.scss */
#menu9 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
}

/* line 158, ../../../app/assets/stylesheets/components/homepage.scss */
#menu_faq {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* line 166, ../../../app/assets/stylesheets/components/homepage.scss */
#login {
  position: relative;
  float: right;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/*......BANNER CONTENT......*/
/* line 179, ../../../app/assets/stylesheets/components/homepage.scss */
.featured-content {
  padding: 30px;
  padding-bottom: 45px;
}

/* line 184, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 18px;
  margin-left: 66px;
  color: white;
}

/* line 195, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_2 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 48px;
  margin-left: 92px;
  color: white;
}

/* line 205, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_3 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 45px;
  margin-left: 13px;
  color: white;
}

/* line 215, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_4 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 45px;
  margin-left: 190px;
  color: white;
}

/* line 225, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_5 {
  text-transform: uppercase;
  font-family: bello-pro-1, bello-pro-2;
  font-size: 100px;
  margin-left: 13px;
  margin-top: -18px;
  color: white;
}

/* line 234, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_6 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 100px;
  margin-left: 95px;
  margin-top: -2px;
  color: white;
}

/* line 245, ../../../app/assets/stylesheets/components/homepage.scss */
h1#homepage_headline {
  text-transform: uppercase;
  color: white;
}

/* line 250, ../../../app/assets/stylesheets/components/homepage.scss */
.word1, .word2, .word3, .word4 {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
  line-height: 40px;
}

/* line 257, ../../../app/assets/stylesheets/components/homepage.scss */
.word5 {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
  margin-left: 62px;
}

/* line 265, ../../../app/assets/stylesheets/components/homepage.scss */
.word7 {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 80px;
  line-height: 40px;
  margin-left: 13px;
}

/* line 273, ../../../app/assets/stylesheets/components/homepage.scss */
.word9 {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 40px;
  line-height: 100px;
  top: 2em;
}

/* line 281, ../../../app/assets/stylesheets/components/homepage.scss */
.word6, .word8, .word12 {
  font-family: bello-pro-1, bello-pro-2;
  font-size: 100px;
}

/* line 286, ../../../app/assets/stylesheets/components/homepage.scss */
.word10 {
  font-family: bello-pro-1, bello-pro-2;
  font-size: 100px;
  margin-left: -320px;
}

/* line 293, ../../../app/assets/stylesheets/components/homepage.scss */
.word11 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 100px;
  line-height: 90px;
}

/* line 301, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_7 {
  position: relative;
  float: left;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 25px;
  margin-top: 50px;
  letter-spacing: 0.1em;
  color: white;
}

/* line 313, ../../../app/assets/stylesheets/components/homepage.scss */
#homepage_headline_8 {
  position: relative;
  float: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  margin-left: 62px;
  width: 144px;
  margin-top: 25px;
  color: white;
}

/* line 327, ../../../app/assets/stylesheets/components/homepage.scss */
#homeSearchForm-background {
  position: relative;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 465px;
  height: 50px;
  background-color: white;
  opacity: 0.5;
  margin-top: 10px;
}

/* line 338, ../../../app/assets/stylesheets/components/homepage.scss */
#homepageSearchForm {
  position: relative;
  float: left;
  border: 0px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 415px;
  height: 40px;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding-left: 40px;
  margin-top: -45px;
  margin-left: 5px;
  margin-bottom: 15px;
  overflow: visible;
  z-index: 10;
}

/* line 357, ../../../app/assets/stylesheets/components/homepage.scss */
#homepageSearchButton {
  /* Disables default styling */
  border: none;
  background: #00B6FF;
  color: #fff;
  position: relative;
  float: right;
  width: 110px;
  height: 33px;
  background-color: #e4652f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2em;
  margin-right: -5px;
}

/* line 378, ../../../app/assets/stylesheets/components/homepage.scss */
img.mag-glass-homepage {
  position: relative;
  float: left;
  overflow: visible;
  z-index: 10;
  margin-top: -42px;
  margin-left: 20px;
}

/* line 387, ../../../app/assets/stylesheets/components/homepage.scss */
img#homepage_arrow {
  position: relative;
  float: left;
  margin-top: 45px;
  margin-left: -85px;
}

/*......FEATURED CONTENT......*/
/* line 398, ../../../app/assets/stylesheets/components/homepage.scss */
.viewMore {
  position: relative;
  float: right;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-style: italic;
  color: #bbb;
  padding-right: 7px;
}

/* line 411, ../../../app/assets/stylesheets/components/homepage.scss */
img.arrow_small_pointright {
  padding-bottom: -10px;
  margin-left: 3px;
}

/* line 417, ../../../app/assets/stylesheets/components/homepage.scss */
.classRow-homepage {
  float: left;
  width: 960px;
  margin-bottom: 23px;
}

/* line 423, ../../../app/assets/stylesheets/components/homepage.scss */
.classBlock-homepage {
  float: left;
  width: 190px;
  height: 250px;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  margin-right: 65px;
}

/* line 434, ../../../app/assets/stylesheets/components/homepage.scss */
.classBlock-last-homepage {
  float: left;
  width: 190px;
  height: 250px;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
}

/* line 444, ../../../app/assets/stylesheets/components/homepage.scss */
img.class-arrow {
  position: relative;
  float: right;
  margin-top: -13px;
  margin-right: 10px;
}
