= render :partial => "home/header"  
.page
  .page-content
  
    .page-section-float-left
      %ul.sub-nav
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile") Upcoming
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile-past") Past
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile-suggest") Suggestions
        %li.sub-nav-active 
          %a.sub-nav-active(href="/profile-pending") Pending
    .page-section-float-left

      .welcome-header Classes pending approval
      %img.greyheader_half{:src => '/images/v2/greyheader_half.png'}
      = render :partial => "classes_top_three_pending", :locals => {:pending => current_user.top_three_pending}
    .page-section-float-left
      .welcome-header Classes Approved
      %img.greyheader_half{:src => '/images/v2/greyheader_half.png'}
      = render :partial => "classes_approved", :locals => {:pending => current_user.approved_classes}
      

= render :partial => 'sidebar'