= render :partial => "home/header"	
.page
  .page-content
  
    .page-section-float-left
      %ul.sub-nav
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile") Classes
        %li.sub-nav-active 
          %a.sub-nav-active(href="/profile-suggest") Suggestions
        
    .page-section-float-left
      
      .welcome-header Classes you suggested
      %img.greyheader_half{:src => '/images/v2/greyheader_half.png'}
      = render :partial => "suggestions_top_three", :locals => {:suggestions => current_user.top_three_suggestions}


= render :partial => 'sidebar'
      