@import 'hourschool/variables';

p.about {
  padding-bottom: 10px; }

.about-bio-team-left {
  float: left;
  width: 410px;
  margin-bottom: 30px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 1px 1px #F0F0F0; }

.about-hourschool-box {
  float: left;
  width: 95%;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #F0F0F0;
  box-shadow: 1px 1px 1px 1px #F0F0F0, 1px 1px 2px 1px #F0F0F0; }

.about-bio-team-right {
  float: left;
  width: 410px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 1px 1px #F0F0F0; }

.about-bio-advisor {
  padding-bottom: 20px; }

.about-bio-team-photo {
  float: left;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  width: 125px;
  height: 125px;
  background-color: #ccc; }

.about-bio-team-name {
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px; }

.about-bio-team-title {
  font-weight: 400;
  font-size: 10px;
  color: #999;
  margin-bottom: 5px; }

.about-bio-team-blurb {
  float: left;
  width: 300px;
  font-style: italic; }

.about-bio-advisor-company {
  font-style: italic; }
