@import 'hourschool/variables';

a.button{
  /*reset style*/
  border: none;
  background: #00B6FF;
  color: #fff;

  /*common style*/
  @include hourschool-heading;
  @include hourschool-border-radius;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 12px;
  cursor: pointer;

  &:hover{text-decoration: none; color: white;}


  /*custom style*/

  &.grey {
  width: 84px;
  background-color: #666;
  &:hover {
    background-color: #a9a9a9; } 
  }

  &.orange{
    background-color: $hourschool-house-color;

    &.long{
      width: 220px;
    }

    &.short{
      width: 120px;
    }

    &:hover {
      background-color: #e46f28; } 
  }

  &.yellow{
    background-color: #d89f24;

    &.long{
      width: 220px;
    }

    &.short{
      width: 120px;
    }

    &:hover {
      background-color: #d89f24; } 

  }

  &.blue{
    background-color: #5382a4;

    &.long{
      width: 220px;
    }

    &.short{
      width: 120px;
    }

    &:hover {
      background-color: #5382a4; } 

  }

  &.edit-class{
    width: 220px;
    background-color: #a9a9a9;
    &:hover {
      background-color: #949393; } 
  }

  &.preview-publish {
  float: right;
  width: 120px;
  background-color: $hourschool-house-color;
  margin-top: -7px;
  &:hover {
    background-color: #e46f28; } 
  }

  &.preview-edit{
    float: right;
    width: 120px;
    background-color: #a9a9a9;
    margin-right: 10px;
    margin-top: -23px;
    height: 35px;
    &:hover {
      background-color: #949393; }
  }
  
  &.complete-profile {
    width: 170px;
    background-color: $hourschool-house-color;
    overflow: visible;
    z-index: 10;
    margin-top: -90px;
    &:hover {
      background-color: #e46f28; } 
  }  

  &.newsletter {
    float: right;
    width: 120px;
    background-color: #999;
    &:hover {
      background-color: #949393;}
  }

  &#tipbox {
    width: 160px;
    background-color: #a9a9a9;
    &:hover {
      background-color: #949393; } 
  }
}




    
 
