@import 'hourschool/variables';

.footerContent {
  display: block;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px; }

.footer-message-description {
  padding-right: 10px;
  font-size: 11px; }

.footer {
  margin-right: 10px; }

.footer-right {
  margin-right: 10px;
  margin-left: 40px; }

.three-col-left {
  padding-right: 20px; }

.three-col-middle {
  margin-right: 20px; }

.three-col-right {
  margin-bottom: 100px; }

.footer-heading {
  color: #666;
  @including hourschool-heading;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-top: 40px;
  margin-bottom: 20px; }

.footer-blog-title {
  color: #999999;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em; }

table#footer, tr#footer, td#footer {
  padding-bottom: 10px; }

img.footer_contact {
  position: relative;
  float: left;
  margin-right: 10px; }

.footer_contact {
  position: relative;
  float: left;
  font-size: 11px;
  color: #999999;
  line-height: 16px; }

p.footer {
  font-size: 11px;
  color: #999999;
  line-height: 16px;
  margin-bottom: 5px; }

a.footer {
  font-size: 13px;
  line-height: 16px;
  &:hover, &:visited {
    color: #999999; } }

.newsletterForm {
  border: 1px solid #eeeaea;
  @include hourschool-border-radius;
  float: left;
  width: 98%;
  height: 30px;
  color: #666;
  padding-left: 5px;
  font-style: italic;
  margin-top: 12px;
  margin-bottom: 10px; }

.grasshopper-footer {
  float: left; }

.enterprise_footer {
  margin-top: 40px; }

table#powered-by {
  margin-bottom: 60px;
  float: right; }

.footer-powered-by {
  font-family: verdana,sans-serif;
  font-size: 9px;
  color: #a8a7a7;
  text-transform: uppercase;
  padding-right: 10px; }

img#powered-by-logo {
  padding-bottom: -40px; }