@import 'hourschool/variables';

.greyheader {
  position: relative;
  float: left;
  overflow: visible;
  z-index: 99;
  padding-top: 30px;
  padding-bottom: 40px;

  &.full{
    margin-top: -90px;
    margin-left: -60px;
    width: 1020px; }

  &.half {
    margin-top: -85px;
    margin-left: -45px;
    width: 680px; } }

.heading32{
  font-family: Georgia;
  font-size: 32px;
  line-height: 36px;

  &.orange{color: #ff6600; margin: 20px 0px 10px 0px;}
  &.green{color: #4a8488; margin-bottom: 35px;}
}

.heading28{
  font-family: adelle-1, adelle-2;
  font-size: 28px;
  line-height: 32px;

  &.brown{color: #6a4a3b;}
}

.heading25 {
  @include hourschool-heading;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;

  &.light_grey{color: $hourschool-light-grey;}
  &.dark_grey{color: $hourschool-dark-grey;} }

.heading20{
  font-family: Georgia;
  font-size: 20px;
  color: #ff6633;
  margin-bottom: 5px;
}

a.heading20{
  &:visited{color: #ff6633;}
  &:hover{color: #ff6633;}
}

.heading16{
  font-size: 16px;

  &.adelle{
    font-family: adelle-1, adelle-2;
    color: #6a4a3b;}

  &.futura{
    font-family: futura-pt-1, futura-pt-2;
    color: #333;}
}

a.heading16{
  color: #ff7733;
  &:visited{color: #6a4a3b;}
  &:hover{color: #6a4a3b;}
}

.heading15{
  @include hourschool-heading;
  font-size: 15px;
  margin-bottom: 15px;

  &.marcomm{color: #e4652f;}
  &.campaign-greendoors{color: #5b7020;} }

.heading14{
  @include hourschool-heading;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.2em;
  line-height: 20px;
}

.heading13-class {
  color: #6a4a3b;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 14px;

  a {
    color: $hourschool-house-color;
    &:visited {
      color: $hourschool-house-color; }
    &:hover {
      color: $hourschool-house-color; } } }

.heading13{
  font-family: adelle-1, adelle-2;
  font-size: 13px;

  &.brown{
    color: #6a4a3b;}
}

a.heading13{color: #6a4a3b;}
a:hover.heading13{color: #6a4a3b;}
a:visited.heading13{color: #6a4a3b;}

.sidebar-heading {
  @include hourschool-heading;
  color: $hourschool-dark-grey;
  font-size: 13px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  line-height: 26px; }

.heading11{
  @include hourschool-heading;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #333333;

  &#homepage {
    margin-bottom: 10px;
  }

  &#explore {
    margin-bottom: 5px;
  }

  &.marcomm{
    margin-bottom: 10px;
  }

  &.orange{
    color: #ff7733;
  }
}

.heading10 {
  @include hourschool-heading;
  font-size: 10px;
  margin: 0px 10px 10px 0px;

  &.light_grey {color: $hourschool-light-grey;}
  &.dark_grey {color: #8f8f8f;} }

.heading9-class {
  font-weight: 400;
  font-size: 9px;
}

.heading9{
  font-size: 9px;

  &.bold{
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
  }
}


/* NEED NESTING */

.welcome-header {
  @include hourschool-heading;
  color: $hourschool-dark-grey;
  font-size: 20px;
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.homepage-header {
  @include hourschool-heading;
  color: $hourschool-dark-grey;
  font-size: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  padding-top: 35px;
}

.heading15#marcomm-grey {
  @include hourschool-heading;
  color: $hourschool-dark-grey;
  font-size: 13px;
  letter-spacing: 0.2em;
  line-height: 26px;
  margin-bottom: 10px; }

