.mission-description-box{
  float: left;
  width: 730px;
  margin: 0px 20px 0px 20px;
}

.mission-status-box{
  float: left;
  margin: 60px 0px 10px 57px
}

.crewman-box{
  float: left;
  margin-bottom: 20px;
}

.crewman-photo{
  float: left;
  margin-right: 20px;
}

.crewman-description{
  float: left;
  width: 420px;
}