.page-main{
  float: left;
  width: 630px;
  margin-bottom: 30px;
}

.page-sidebar{
  float: left;
  width: 300px;
  margin-bottom: 30px;

  &.right{
    margin-left: 30px;
  }

  &.left{
    margin-right: 30px;
  }
}

.intro-text{
  font-size: 20px;
  line-height: 24px;
  color: #666;
  margin-bottom: 35px;
}

.big-quote{
  font-size: 30px; 
  line-height: 36px; 
  font-family: Georgia;
  margin-top: 20px;
  margin-bottom: 20px;
}

.screen-tip{
  font-family: caflisch-script-pro-1, caflisch-script-pro-2; 
  font-size: 32px;
  line-height: 30px;
  width: 160px;
}