.page-main{
  float: left;
  width: 630px;
  background-color: white;
  margin-bottom: 30px;
}

.page-right-sidebar{
  float: left;
  width: 300px;
  margin-left: 30px;
  background-color: white;
}

.big-quote{
  font-size: 30px; 
  line-height: 36px; 
  font-family: Georgia;
  margin-top: 20px;
  margin-bottom: 20px;
}