.wallOfmissions {
	background-color:red;

	.full {
		float: left; height: 275px; margin-bottom: 20px
	}

	.small {
		float: left; height: 275px; margin-bottom: 20px
	}
	
	.large {
		float: left; height: 275px; margin-bottom: 20px
	}
	
	
}
