<div class="heading10">It's always more fun with a group of friends. Share this with them!</div>
<!-- AddThis Button BEGIN -->
<%= render :partial => "shared/add_this_buttons", :locals => {:url => course_url(@course), :title => "Check out this class @hourschool!" }  %>
