<div class="container_16 clearfix">  
   
   <div class="grid_6">
       <div class="footer-heading">Our Mission</div>
       <p class="footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><br>

       <p class="footer">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>

       <a href="/p/about" class="footer">More About Us</a>
   </div><!-- .end /threeCol_left -->
       
   <div class="grid_6">  
	<% if !get_tumblr_first_regular_post.nil? %>
	<% tum = get_tumblr_first_regular_post %>
     <div class="footer-heading">Recent Blog Post</div>
     <div class="footer-date"><%= Date.parse(tum["date"]).strftime("%B %d, %Y")%></div>
     <div class="footer-blog-title"><%= tum["regular_title"]%></div><br>

     <p class="footer"><%= strip_tags(truncate(tum["regular_body"], :length => 500, :omission => "..."))%></p><br>
	<%= link_to "Continue Reading", tum["url"], :class => "footer "%>
     
  <% end %>
     
   </div>
   
   <div class="grid_4 three-col-right">
     
     <div class="footer-heading">Connect with us</div>
     
     <table id="footer">
       <tr>
         <td id="footer">
            <img src="../../../images/v2/icon_facebook.png" class="footer_contact">
         </td>
         <td id="footer">
            <a href="http://www.facebook.com/hourschool" class="footer" target="_blank">Like us on Facebook</a>
         </td>
       </tr>

       <tr>
          <td id="footer"> 
             <img src="../../../images/v2/icon_twitter.png" class="footer_contact">
          </td>
          <td id="footer">
            <a href="http://www.twitter.com/hourschool" class="footer" target="_blank">Follow us on Twitter</a>
          </td>
        </tr>
       
       <tr>
         <td id="footer">
           <img src="../../../images/v2/icon_email.png" class="footer_contact">
         </td>
         <td id="footer">
       <a href="mailto:hello@hourschool.com" class="footer" target="_blank">hello@hourschool.com</a>
         </td>
       </tr>
   
       <tr>
          <td id="footer"> 
            <img src="../../../images/v2/icon_phone.png" class="footer_contact">
          </td>
          <td id="footer">
            <div class="footer_contact">(877) 246-4689</div>
          </td>
        </tr>
   
     </table>

     <div class="footer-heading">Newsletter sign up</div>
       
        <p class="footer">Sign up for our newsletter to get updates on latest classes in your city!</p>
       
        <input type="text" placeholder="email address" class="newsletterForm"><br>
       
        <input type="submit" value="Submit" class="newsletterButton">
     
   
   </div><!-- .end /threeCol_right -->
 
</div><!-- /end .container_16 -->
