.heading25_ccc {
  color: #cccccc;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
}

.heading25_about {
  text-transform: uppercase;
  color: #cccccc;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
  margin-top: 30px;
}
.welcome-header {
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}

.homepage-header {
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 30px;
  padding-top: 35px;
}
.greyheader_half {
  position: relative;
  float: left;
  width: 680px;
  margin-top: -56px;
  margin-left: -45px;
  overflow: visible;
  z-index: 10;
  padding-bottom: 15px;
}