img.nail{
  margin-left: 90px;
  margin-top: 20px;
}

.greendoors-alternatives{
  font-weight: 400;
  font-size: 9px;
  color: #81ae21;
  line-height: 12px;
}

.greendoors-register-class-button{
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #81ae21;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  cursor: pointer;
}

.greendoors-frame{
  float: left;
}

.campaign_frame_big{
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.campaign-frame-text{
  float: left;
  text-align: center;
  z-index: 10;
  margin-top: -160px;
  margin-left: 50px;
}

.campaign-frame-big-heading{
  color: #5b7020;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2em;
}

.campaign-frame-bold-text{
  font-family: futura-pt-1, futura-pt-2;
  font-size: 26px;
  font-weight: 700;
  color: #666;
}

.campaign-frame-small-text{
  font-size: 10px;
  color: #999;
}

.campaign-button{
  margin-top: 20px;
  margin-right: 5px;
}

.greendoors-frame-heading{
  float: left;
  z-index: 10;
  color: #5b7020;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.15em;
  margin-top: -151px;
  margin-left: 40px;
}

.greendoors-frame-copy{
  float: left;
  z-index: 10;
}

.greendoors-frame-copy-text{
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #81ae21;
  font-size: 10px;
  margin-top: -130px;
  padding-bottom: 20px;
  line-height: 15px;
}

.button-learnmore{
  float: left;
  z-index: 1;
  margin-top: -53px;
  margin-left: 32px;
}

.icon-greenhouse{
/*  float: left;
  z-index: 10;*/
  margin-top: -45px;
  margin-left: 10px;
  margin-right: 10px;
}

.widget-ribbon{
  position: relative;
  float: left;
  margin-top: -125px;
  margin-left: -4px;
}

.greendoorsRegister {
  background-image: url("v2-campaign/button-register.png");
  background-repeat:no-repeat;
  border: none;
  color: #fff;
  float: left;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: none;
}