<div class="featured-content container_16 clearfix">

      <div class="homepage-header">Featured classes</div><br><br>

      <div class="classRow-homepage clearfix">

          <div class="classBlock-homepage">
              <img src="../../../images/v2-courses/112_BakingBread.jpg">
             <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
            <div class="class-description">
              <div class="heading13-class">Putting Techniques</div>
              <div class="heading9-class">Oct 3, 6:00P</div>
              <p>Sharpen your skills with an hour long class from the master himself!</p>
            </div><!-- /end .class-description -->
          </div><!-- /end .classBlock -->

          <div class="classBlock-homepage">
              <img src="../../../images/v2-courses/119_DIY.jpg">
             <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
            <div class="class-description">
              <div class="heading13-class">Putting Techniques</div>
              <div class="heading9-class">Oct 3, 6:00P</div>
              <p>Sharpen your skills with an hour long class from the master himself!</p>
            </div><!-- /end .class-description -->
          </div><!-- /end .classBlock -->

          <div class="classBlock-homepage">
              <img src="../../../images/v2-courses/138_child-with-ipad.jpg">
             <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
            <div class="class-description">
              <div class="heading13-class">Putting Techniques</div>
              <div class="heading9-class">Oct 3, 6:00P</div>
              <p>Sharpen your skills with an hour long class from the master himself!</p>
            </div><!-- /end .class-description -->
          </div><!-- /end .classBlock -->

          <div class="classBlock-last-homepage">
              <img src="../../../images/v2-courses/144_Moto.jpg">
             <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
            <div class="class-description">
              <div class="heading13-class">Putting Techniques</div>
              <div class="heading9-class">Oct 3, 6:00P</div>
              <p>Sharpen your skills with an hour long class from the master himself!</p>
            </div><!-- /end .class-description -->
          </div><!-- /end .classBlock -->

      </div><!-- /end .classRow-homepage -->
      
</div><!-- /end .featured-content -->

