<div class="featured-content container_16 clearfix">
    <div class="homepage-header">Hourschool Happenings</div><br><br>
    
    <div class="classRow-homepage clearfix">
        
        <div class="happeningBlock-homepage">
            <a href="../../../pdf/handbook-111311.pdf">
            <img src="../../../images/v2/screenshot_teacherHandbook.png">    
            <div class="happening-message-header">
                Want to teach a class?
            </div>
            </a>
            <div class="happening-message-description">
                Our teacher's handbook is a great guide to help you get started.
            </div>
        </div><!-- /happeningBlock-homepage -->
    
        <div class="happeningBlock-homepage">     
            <a href="http://www.hourschool.com/courses/sf-hourschool-holiday-social-in-san-francisco-ca" target="_blank">
            <img src="../../../images/v2/SFHolidayParty_Dec8.png">
            <div class="happening-message-header">
                SF HourSchool Holiday Social
            </div>
            </a>
            <div class="happening-message-description">
                Friends and alumni gather to celebrate the holidays!
            </div>
        </div><!-- /happeningBlock-homepage -->
    
        <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="459" height="258" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>        
        <a href="http://vimeo.com/user7331787" target="_blank">
        <div class="happening-message-header">
            What is HourSchool?
        </div>
        </a>
        <div class="happening-message-description">
            Learning with your network, one hour at a time.<br>
        </div>
            

    </div><!-- /end .classRow-homepage -->    
</div><!-- /end .featured-content -->




