= form_tag search_path, :method => 'post' do
	%input.searchForm(type='text' placeholder='Find a class to attend')
	%img.mag-glass{:src => 'images/v2/search-magnifying-glass-orange.png'}
	= submit_tag "Search", :class => "searchButton"