= form_tag search_path, :method => 'post' do
	/ %input.searchForm(type='text' placeholder='Find a class to take')
	
	= text_field_tag 'search', 'Find a class to take', :class => 'searchForm', :onclick => 'this.select();'
	%img.mag-glass{:src => '/images/v2/search-magnifying-glass-orange.png'}
	= submit_tag "Search", :class => "searchButton"