.page
  .page-content
  
    .page-section-float-left
      .heading25_ccc Never taught before? Perfect!
      .why-teach.clearfix
        .why-teach-short.clearfix
          .heading15-whyteach We love first time teachers
          %p Most people think we want to learn from experts, or think they need to be an expert in order to teach. But that's not true! We all like learning from people that are passionate, genuine, and are excited to share their experiences. 
        = link_to new_course_path do
          #create-class-button
            %img#create-class-star{:src => '/images/v2/White Star_create a class.png'}
            .create-class-heading Create a class
      .why-teach.clearfix
        .why-teach-short.clearfix
          .heading15-whyteach Don't know where to start?
          %p Our mission here is to make your first class as successful as possible. Check out our Teacher Handbook. Read our blog. Browse some classes. Watch some featured stories.      
      .why-teach-last.clearfix 
        .heading15-whyteach Why are we doing this?
        %p Check out our story here.