.why-teach.clearfix
  .why-teach-short.clearfix
    .heading15-whyteach We love first time teachers
    %p If you’re passionate, genuine, and excited to share your experience, you’ve got all it takes.
  = link_to new_course_path do
    #create-class-button
      %img#create-class-star{:src => '/images/v2/White Star_create a class.png'}
      .create-class-heading Create a class
.why-teach-last.clearfix
  .why-teach-short.clearfix
    .heading15-whyteach Don't know where to start?
    %p Check out our Teacher Handbook. Read our blog. Browse some classes. Watch some featured stories.     