<%= render :partial => 'header' %>
  
<div class="full-page">
  <div class="page-content">
  
    <center>
    <div class="marcomm-header">
      <div class="heading25_666"> All Students are Teachers. They just don't know it yet.</div>

      <img src="../../../images/v2/greyheader_full.png" class="greyheader_full">
    </div>
    </center>
  
    <a href="#" id="dialog-link">Open box</a>
  
    <div id="dialog">
      <div class="welcome-header">Nominate a teacher</div>
      <a href="#" id="lightbox-test-close"><img src="/images/v2/modal-close.png" class="modal-close"></a>
    </div>
    

    <div class="grid_7">
        <div class="heading15-marcomm">Our mission:</div>
         <p>We’re building a social school from your social network. Because it’s not always the experts who make the best teachers, it’s the people you know.</p>
         <br>
      <div class="heading15-marcomm">We believe:</div>
      <ul class="noBullet-marcomm">
        <li class="noBullet-marcomm"><span class="list-number">1</span>You don’t have to be an expert to teach.</li>
        <li class="noBullet-marcomm"><span class="list-number">2</span> You’re passionate about a wide variety of things.</li>
        <li class="noBullet-marcomm"><span class="list-number">3</span> You enjoy learning from and with your friends.</li>
        <li class="noBullet-marcomm"><span class="list-number">4</span> Your friends have a lot to teach you.</li>
        <li class="noBullet-marcomm"><span class="list-number">5</span> You have a great deal to teach them.</li>  
      </ul>

    </div>

    <div class="grid_8">
      <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="470" height="281" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    </div>

  </div>
</div>

<div class="marcomm-half-page">
    <div class="page-content">

    <div class="grid_11">
      <div class="heading25_ccc">The team</div>
  
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Alex Pappas</div>
      <p class="about-bio-team-blurb">Alex had 5 years of experience in bringing products to market as a senior toy designer. Created open-source toys and built online communities around mentoring and knowledge sharing.</p>
    </div>
    
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Ruby Ku</div>

      <p class="about-bio-team-blurb">Ruby was a program manager and interaction designer at Thinktiv, working with early stage startups to find market relevance and product leadership.</p>
    </div>
    
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Saranyan Vigraham</div>
      <p class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</p>
    </div>
    
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Joannie Wu</div>
      <p class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</p>
    </div>
    
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Mary Altman</div>
      <p class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</p>
    </div>
    
    <div class="about-bio-team">
      <div class="avatar-100"></div>
      <div class="about-bio-team-name">Jessica Cheng</div>
      <p class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</p>
    </div>


    </div> 
    
    <div class="grid_4">
      <div class="heading25_ccc"> The Advisors</div>
      <div class="about-bio-advisor">
        <div class="about-bio-team-name">Jon Kolko</div>
        <p class="about-bio-advisor-blurb">Director & Founder</p>
        <p class="about-bio-advisor-company">Austin Center for Design</p>
      </div>
      
      <div class="about-bio-advisor">
        <div class="about-bio-team-name">Justin Petro</div>
        <p class="about-bio-advisor-blurb">President & co-founder</p>
        <p class="about-bio-advisor-company">Thinktiv Inc.</p>
      </div>


    </div>
    
    
  </div>
</div>

<script>

    //Dialog         
	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#dialog" ).dialog({
			modal: true,
			autoOpen: false,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
	
	    // Dialog Link
    $('#dialog-link').click(function(){
     $('#dialog').dialog('open');
     return false;

    });


</script>