.full-page
    .page-content

        %center
            .marcomm-header
                .heading25_666 HourSchool brings peer learning to your organization
                %img.greyheader_full{:src => '../../../images/v2/greyheader_full.png'}

        .grid_7
            %p Your employees are your biggest assets. High-performing organizations all need a way to:
            %br
            %ul.noBullet-marcomm
                %li.noBullet-marcomm 1. Foster cross-department knowledge sharing
                %li.noBullet-marcomm 2. Increase employees performance and retention
                %li.noBullet-marcomm 3. Identify and nurture future leaders
            
            %p HourSchool for Business is a new way to leverage and strengthen the human capital at your organization. With our platform, your employees can share skills and knowledge with one another easily by facilitating small, peer-led classes.
      
        .grid_8
            .tipbox-marcomm
                %img.tape{:src => '../../../images/v2/Tape_White.png'}
                %center 
                    .heading10 Want to know more? <br>Ask us here:
                    %br
                    %img{:src => '../../../images/v2/icon_email.png'}
                    %br
                    %a(href="mailto:hello@hourschool.com") hello@hourschool.com
                    %br
                    %br
                    %img{:src => '../../../images/v2/icon_phone.png'}
                    %br
                    %p.textOrange (877) 246-4689

.marcomm-half-page
    .page-content

        .heading25_ccc How does it work?
  
        .feature-row
            .grid_6
                .heading15-marcomm Real time, demand driven, and bite sized
                %ul.withBullets
                    %li.withBullets In person classes encourage conversations and sharing of personal experiences
                    %li.withBullets Let your employees decide what skills they need the most to do their jobs
                    %li.withBullets One-hour classes so your employees can fit training into their busy schedules
      
            .grid_8
                %img{:src => '../../../images/v2-business/hs-forBiz-dashboard.png'}
        
        .feature-row
            .grid_6
                .heading15-marcomm Real time, demand driven, and bite sized
                %ul.withBullets
                    %li.withBullets In person classes encourage conversations and sharing of personal experiences
                    %li.withBullets Let your employees decide what skills they need the most to do their jobs
                    %li.withBullets One-hour classes so your employees can fit training into their busy schedules

            .grid_8
                %img{:src => '../../../images/v2-business/hs-forBiz-classpage.png'}
            
        .feature-row
            .grid_6
                .heading15-marcomm Real time, demand driven, and bite sized
                %ul.withBullets
                    %li.withBullets In person classes encourage conversations and sharing of personal experiences
                    %li.withBullets Let your employees decide what skills they need the most to do their jobs
                    %li.withBullets One-hour classes so your employees can fit training into their busy schedules

            .grid_8
                %img{:src => '../../../images/v2-business/hs-forBiz-progress.png'}
                
                
      
