= render "header"
.full-page
  .page-content

  %center
    .heading25_666 HourSchool infuses peer learning in your organization
    %img.greyheader_full{:src => '../../../images/v2/greyheader_full.png'}

    .grid_8
      %p Your employees are your biggest assets. High-performing organizations all need a way to:
      %ul.noBullet
        %li 1
        %li 2
        %li 3 
      %ul.wordsAfterNum 
        %li Foster cross-department knowledge sharing
        %li Increase employees performance and retention
        %li Identify and nurture future leaders
      
      %p HourSchool for Business is a new way to leverage and strengthen the human capital at your organization. With our platform, your employees can share skills and knowledge with one another easily by facilitating small, peer-led classes.
      
    .grid_8
      .tipBox
        %img.tape{:src => '../../../images/v2/Tape_White.png'}
        %center 
          .heading10 Want to learn more? Contact us!
          %img{:src => '../../../images/v2/icon_email.png'}
          %a(href="mailto:hello@hourschool.com") hello@hourschool.com
          %img{:src => '../../../images/v2/icon_phone.png'}
          .textOrange (877) 246-4689

.white-bg  
  .container_16
    .heading25_ccc How does it work?
  
    .grid_16
      .grid_7
        .heading25 Real time, demand driven, and bite sized
        %ul
          %li In person classes encourage conversations and sharing of personal experiences
          %li Let your employees decide what skills they need the most to do their jobs
          %li One-hour classes so your employees can fit training into their busy schedules
      
      .grid_8
        %img{:src => '../../../images/v2-business/hs-forBiz-dashboard.png'}
        
    .grid_16
      .grid_7
        .heading25 Real time, demand driven, and bite sized
        %ul
          %li In person classes encourage conversations and sharing of personal experiences
          %li Let your employees decide what skills they need the most to do their jobs
          %li One-hour classes so your employees can fit training into their busy schedules

      .grid_8
        %img{:src => '../../../images/v2-business/hs-forBiz-dashboard.png'}
            
      .grid_16
        .grid_7
          .heading25 Real time, demand driven, and bite sized
          %ul
            %li In person classes encourage conversations and sharing of personal experiences
            %li Let your employees decide what skills they need the most to do their jobs
            %li One-hour classes so your employees can fit training into their busy schedules

        .grid_8
          %img{:src => '../../../images/v2-business/hs-forBiz-dashboard.png'}
                
                
      
