= render :partial => "header"

.container_16.searchBar.clearfix
  %input.searchForm(type='text' placeholder='Search the FAQ')
  %img.mag-glass{:src => '../../../images/v2/search-magnifying-glass-orange.png'}
  %input.searchButton(type='submit' value='Search')

.page

  .page-content

    .heading25_ccc Topic of the FAQ question
  
    .form-question This is a question
    .form-question-tip Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi, fermentum ac ornare ac, euismod in felis
  
    .form-question This is a question
    .form-question-tip Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi, fermentum ac ornare ac, euismod in felis
  
    .form-question This is a question
    .form-question-tip Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi, fermentum ac ornare ac, euismod in felis
  
    .form-question This is a question
    .form-question-tip Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi, fermentum ac ornare ac, euismod in felis
  
    .form-question This is a question
    .form-question-tip Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi, fermentum ac ornare ac, euismod in felis
      
.sidebar

  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
      .heading10 Have more questions?
      %a(href="/p/contact") 
        #tipboxButton Contact us!