= render :partial => "header"


.page

  .page-content

    .heading25_ccc Frequently Asked Questions
    %br
    .welcome-header The Basics
    %img.greyheader_half{:src => '../../../images/v2/greyheader_half.png'}
    %br
    .faq-question What is HourSchool?
    .faq-answer We’re building a social school from your social network. Because it’s not always the experts who make the best teachers, it’s the people you know.
    
    .faq-question How do I post a class?
    .faq-answer To post a class, go to the Offer to Teach page and click the "Create a class" button. We'll ask some basic questions about your class. It shouldn't take more than a day or two for a member of our team to get back to you about your proposal.
    
    .faq-question Do I have to charge for my class?
    .faq-answer It’s not a requirement for posting on HourSchool. However, we do recommend charging even if it’s just for $5. We find that charging a little ensures people actually show up if they sign up.

    
      
.sidebar

  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
      .heading10 Have more questions?
      %a(href="/p/contact") 
        #tipboxButton Contact us!