<body id="hasbanner">

<div class="homepage_top_bg">
  
  <div id="header">
    <div class="container_16">

        <a href="/p/home" id="logo">
            <img src="../../../images/v2/Logo_White.png">
        </a>

        <div id="login">
		  <%= link_to "Sign up", new_user_registration_path, :id => "menu_homepage"%> |
          <%= link_to "Sign in", new_user_session_path, :id => "menu_homepage"%>
          
        </div>

        <table id="homepage_menu">
          <tr id="homepage_menu">
            <td id="homepage_menu_learn">
			  <a href="/learn" id="menu_homepage">
                <div id="menu18">Learn</div> 
                <div id="menu9">something new</div>
              </a>
            </td>
            <td id="homepage_menu_teach">
              <a href="/teach" id="menu_homepage">
                <div id="menu9">Offer to</div>
                <div id="menu18">teach</div>
              </a>
            </td>
            <td id="homepage_menu_partners">
              <a href="/partners" id="menu_homepage">
                <div id="menu18">Local</div>
                <div id="menu9">Partners</div>
              </a>
            </td>
            <td id="homepage_menu_business">
              <a href="/business" id="menu_homepage">
                <div id="menu9">Hourschool for</div>
                <div id="menu18">Business</div>
              </a>
            </td>
            <td id="homepage_menu_faq">
              <a href="/community_faq" id="menu_homepage">
                <div id="menu_faq">F</div>
                <div id="menu_faq">A</div>
                <div id="menu_faq">Q</div>
              </a>
            </td>
          </tr>
        </table>

    </div><!-- /end .container_16 -->
  </div><!-- /end #header -->
  
    <div class="container_16">

     <div class="grid_8">
       
       <div id="homepage_headline_1">We believe everybody can</div>
       <div id="homepage_headline_2">explore,</div>
       <div id="homepage_headline_3"> teach,</div> 
       <div id="homepage_headline_4">learn</div>
       <div id="homepage_headline_5">&</div>
       <div id="homepage_headline_6">grow.</div> 

     </div><!-- /end .twoCol_left -->
   
     <div class="grid_8">
       
        <div id="homepage_headline_7">Find a class</div>

        <div id="homeSearchForm-background"></div>
        
		<%= form_tag search_path, :method => 'post' do %>
			<%= text_field_tag 'search', 'Nutrition, boxing conditioning, typography... and more!', :class => 'searchForm', :onclick => 'this.select();', :id =>"homepageSearchForm"%>
			<!--<input type="text" name="search" placeholder="Nutrition, boxing conditioning, typography... and more!" id="homepageSearchForm"/> -->
	        <img src = "../../../images/v2/search-magnifying-glass-orange.png" class="mag-glass-homepage">
			<br>
			<input type="submit" value="Search" id="homepageSearchButton" />
	        
		<% end %>
        
        <div id="homepage_headline_8"><font size="0.01" style="italic" >or</font> check out our featured classes</div>
         
         <img src="../../../images/v2/arrow_homepage.png" id="homepage_arrow">
       
       
     </div><!-- /end .twoCol_right-->  
   
    </div><!-- /end .container16 -->
    
</div><!-- /end .homepage_top_bg -->


<div class="featured-content container_16 clearfix">

      <div class="heading25_ccc">Featured classes</div><br><br>

          <div class="classRow-homepage clearfix">

              <div class="classBlock-homepage">
                  <img src="../../../images/v2-courses/112_BakingBread.jpg">
                 <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
                <div class="class-description">
                  <div class="heading13-class">Putting Techniques</div>
                  <div class="heading9-class">Oct 3, 6:00P</div>
                  <p>Sharpen your skills with an hour long class from the master himself!</p>
                </div><!-- /end .class-description -->
              </div><!-- /end .classBlock -->

              <div class="classBlock-homepage">
                  <img src="../../../images/v2-courses/119_DIY.jpg">
                 <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
                <div class="class-description">
                  <div class="heading13-class">Putting Techniques</div>
                  <div class="heading9-class">Oct 3, 6:00P</div>
                  <p>Sharpen your skills with an hour long class from the master himself!</p>
                </div><!-- /end .class-description -->
              </div><!-- /end .classBlock -->

              <div class="classBlock-homepage">
                  <img src="../../../images/v2-courses/138_child-with-ipad.jpg">
                 <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
                <div class="class-description">
                  <div class="heading13-class">Putting Techniques</div>
                  <div class="heading9-class">Oct 3, 6:00P</div>
                  <p>Sharpen your skills with an hour long class from the master himself!</p>
                </div><!-- /end .class-description -->
              </div><!-- /end .classBlock -->

              <div class="classBlock-last-homepage">
                  <img src="../../../images/v2-courses/144_Moto.jpg">
                 <img src="../../../images/v2/arrow_white_pointup.png" class="class-arrow">
                <div class="class-description">
                  <div class="heading13-class">Putting Techniques</div>
                  <div class="heading9-class">Oct 3, 6:00P</div>
                  <p>Sharpen your skills with an hour long class from the master himself!</p>
                </div><!-- /end .class-description -->
              </div><!-- /end .classBlock -->

          </div><!-- /end .classRow -->
      
    </div><!-- /end .featuredContent -->

</div><!-- /end .homepage_middle_bg -->



<div class="bottom_bg">
   <div class="container_16 clearfix">  
      
      <div class="grid_6">
          <div class="footer-heading">Our Mission</div>
          <p class="footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><br>

          <p class="footer">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>

          <a href="/p/about" class="footer">Learn More</a>
      </div><!-- .end /threeCol_left -->
          
      <div class="grid_6">  
        <div class="footer-heading">Recent Blog Post</div>
        <div class="footer-date">SEPT 10, 2011</div>
        <div class="footer-blog-title">Title of Blog Post</div><br>

        <p class="footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><br>

        <p class="footer">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu..</p><br>

        <a href="http://hourschool.tumblr.com/" class="footer">Continue Reading</a>
        
      </div>
      
      <div class="grid_4 three-col-right">
        
        <div class="footer-heading">Connect with us</div>
        
        <table id="footer">
          <tr>
            <td id="footer">
               <img src="../../../images/v2/icon_facebook.png" class="footer_contact">
            </td>
            <td id="footer">
               <a href="http://www.facebook.com/hourschool" class="footer" target="_blank">Like us on Facebook</a>
            </td>
          </tr>

          <tr>
             <td id="footer"> 
                <img src="../../../images/v2/icon_twitter.png" class="footer_contact">
             </td>
             <td id="footer">
               <a href="http://www.twitter.com/hourschool" class="footer" target="_blank">Follow us on Twitter</a>
             </td>
          </tr>
          
          <tr>
            <td id="footer">
              <img src="../../../images/v2/icon_email.png" class="footer_contact">
            </td>
            <td id="footer">
          <a href="mailto:hello@hourschool.com" class="footer" target="_blank">hello@hourschool.com</a>
            </td>
          </tr>
      
          <tr>
             <td id="footer"> 
               <img src="../../../images/v2/icon_phone.png" class="footer_contact">
             </td>
             <td id="footer">
               <div class="footer_contact">(877) 246-4689</div>
             </td>
          </tr>
      
        </table>

        <div class="footer-heading">Newsletter sign up</div>
          
           <p class="footer">Sign up for our newsletter to get updates on latest classes in your city!</p>
          
           <input type="text" placeholder="email address" class="newsletterForm"><br>
          
           <input type="submit" value="Submit" class="newsletterButton">
           
      </div><!-- .end /threeCol_right -->
    
   </div><!-- /end .container_16 -->
</div><!-- /end .bottom_bg -->