.container_16.searchBar.clearfix
	%input.searchForm(type='text' placeholder='Find a class to attend')
	%img.mag-glass{:src => '../../../images/v2/search-magnifying-glass-orange.png'}
	%input.searchButton(type='submit' value='Search')
	
	.page
		.page-content
			.page-section-float-left
				.heading25_ccc Latest classes in your city
				.classRow
					= render :partial => 'learn_upcoming_content', :locals => {:classes_this_week => @classes_this_week}
	= render :partial => 'learn_sidebar'