= render :partial => "header"
.container_16.searchBar.clearfix
	= render :partial => 'search_form'
	
.page
	.page-content
		.page-section-float-left
			.heading25_ccc Latest classes in your city
			.classRow
				= render :partial => 'search_content', :locals => {:courses => @classes_this_week}


= render :partial => 'learn_sidebar'