= render :partial => "header"
.container_16.searchBar.clearfix
	= render :partial => 'search_form'
= render :partial => "why_teach"
= render :partial => "teach_sidebar", :locals => {:random_course => @random_course}