<div class="container_16" style="width: 960px">
  <div class="row">
    <%= render :partial => 'admin/sidebar' %>

    <div class="span9 white">
      <div class="page-content">
        <div class="well">
          Coming soon
        </div>
      </div>
    </div>

  </div><!-- /row -->
</div>