<div class="share_header">Help spread Hourschool by sharing with your friends!</div>

<%= render :layout => 'shared/page/modal', :locals => {:modal_class => 'custom', :display => nil} do %>
  contentz
<%- end -%>

<%# render :partial => "users/facebook/autocomplete/share" %>


<p>This is the main content. To display a lightbox click
  <a href = "javascript:void(0)" onclick ="$('.modal').show()">
    here</a>
</p>


<% @course = Course.first %>

<%= render :partial => "users/facebook/grid/share", :locals => {:message => "I just signed up for Hourschool", :link    => root_url, :name    => "Join me so we can learn together!", :same_city => true , :limit => 5 } %>

<%= render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm taking this class on Hourschool, you should sign up!"}
 %>