<div class="share_header">Help spread Hourschool by sharing with your friends!</div>


<%= render :partial => "users/facebook/autocomplete/share" %>


<p>This is the main content. To display a lightbox click
  <a href = "javascript:void(0)" onclick ="$('.modal').show()">
    here</a>
</p>

<div class='modal' style='display:block'>
  <div class="overlay"></div>
  <div class="content">
    <h2>
      <a herf='javascript:void(0)' onclick="$('.modal').hide()" class='closeButton'>
        X
      </a>
    </h2>
    This is the lightbox content.
    <br />
  </div>
</div>

