<div class="share_header">Help spread Hourschool by sharing with your friends!</div>


<%= render :partial => "users/facebook_share/share", :locals => {

  :limit   => 8,
  :message => "I just signed up for Hourschool",
  :link    => root_url,
  :name    => "Join me, so we can Learn Together",

} %>

