.sidebar
	.sidebar-content
		%ul.searchFilter
			%li
				.sidebar-heading Suggestions in
			- if current_user
				%li= link_to "#{current_user.city}", cities_path(:city => current_user.city) unless current_user.city == "Austin" || current_user.city == "San Francisco"
				
			%li= link_to "Austin", cities_path(:city => "Austin")
			%li= link_to "San Francisco", cities_path(:city => "San Francisco")
		%ul.searchFilter
			%li
				.sidebar-heading Most Popular 
				.sidebar-heading Most Recent 