<div class="teaser"></div>
<div id="homepage_headline">School's out for the summer</div>

<div class="featured">
  <div class="sidebar-left">

    <div class="brand_bg"></div>
      <div class="prompt-box white">  
        <%= image_tag "v3/homepage/mission-star.png" %>
        <p class="prompt-text">What is one thing you want to accomplish by the end of the year?</p>

        <p>   
         <%= text_field_tag :prompt, "", :class => "form-short-edit-profile"  %>
        </p>

        <%= button_to "Let us know", "", :class => "orange button" %>
    </div>

    <div class="featured-box">  
    </div>
  
  </div><!-- end .sidebar-left -->


  <div class="content-right white">
    <div class="title-text" id="homepage" style="font-weight: 700">So, let’s begin.</div>
    <div class="heading16" style="color: #333">
    Begin what?  Anything and everything, from building websites to fixing motorcycles to biking across france.  We think that everyone has at least one thing they’ve always wanted to do that they’re just not doing.  We’re changing that. </div>
    
  </div><!-- end .content-right -->

</div><!-- end .featured -->