<div class="teaser">
  <div id="homepage_headline">
    Inspire to Aspire
 </div>
</div><!-- /end .teaser -->


<div class="featured">
  <div class="sidebar-left">

    <div class="brand_bg"></div>
      <div class="prompt-box white">  
        <%= image_tag "v3/homepage/mission-star.png" %>
        <p class="prompt-text">What is one thing you want to accomplish by the end of the year?</p>

        <p>   
         <%= text_field_tag :prompt, "", :class => "form-short-edit-profile"  %>
        </p>

        <%= button_to "Let us know", "", :class => "orange button" %>
    </div>

    <div class="featured-box">  
    </div>
  
  </div><!-- end .sidebar-left -->


  <div class="content-right white">
    <p class="big-text">We are a group of doers, thinkers, writers, designers, filmmakers, chefs, mechanics, engineers and explorers who get together to share knowledge, skills and resources in order to push each other to keep picking up new skills and do new things. </p>
    
    <div class="heading11">What we do</div>
    <p class="body-text">We provide each other with people, a framework, tools and support to do just about anything you could want to — from building websites to fixing motorcycles. We do that by organizing Missions</p>
  </div><!-- end .content-right -->

</div><!-- end .featured -->