<%= form_for(@subdomain) do |f| %>
  <% if @subdomain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subdomain.errors.count, "error") %> prohibited this subdomain from being saved:</h2>

      <ul>
      <% @subdomain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
