<label id="city-id-error" style="color:red; display:none;">Please select a City & State.</label>
<%= f.hidden_field :city_id, :id => 'city-id' %>
<%= label_tag :citySearch, 'City, State', :class => "form-question" %><br />
<%= text_field_tag :citySearch, parent.city.try(:name_state), :placeholder => "ex. Austin, TX", :class => "form-short-edit-profile", :autocomplete => "off", :class => "form-short-edit-profile"  %>


<script type="text/javascript">
  $(document).ready(function() {
    var cityIdField     = $('#city-id'),
        citySearchField = $('#citySearch'),
        form            = cityIdField.parents('form');

    citySearchField.typeahead({
      source: function(query, process) {
        cities     = [];
        city_to_id = {};

        var _this = this;
        return $.ajax({
          url: "<%= cities_path(:format => :json) %>?q=" + query,
          beforeSend: function() {
            // clear out previous city_id value
            cityIdField.val('');
          },
          success: function(data) {
            // process function needs array of strings
            $.each(data, function(i, city) {
              city_to_id[city.name] = city.id
              cities.push(city.name);
            })
            return process(cities);
          }
        });
      },
      property: "name",
      updater: function (city) {
        city_id = city_to_id[city];
        cityIdField.val(city_id);

        return city;
      }
    });

    form.submit(function() {
      var cityId = cityIdField.val();
      if (cityId === '0' || cityId === '') {
        form.find('[type=submit]').attr("disabled", "disabled");
        $('#city-id-error').show();
        return false;
      } else {
        return true;
      }
    })
  })
// http://tatiyants.com/how-to-use-json-objects-with-twitter-bootstrap-typeahead/
</script>
