<%- if assigns[:flash] && flash[:error].present? -%>
  <div class="page-section-float-left">
      <div class="error-block"><div class="form-error">*<%= flash[:error] %></div></div>
  </div>
<%- end -%>