<div class="container_16">
  <table id="powered-by">
    <tr>
      <td>
        <div class="footer-powered-by">Powered by</div>
      </td>
      <td>
        <a href="/p/home">
          <img src="../../../images/v2/Logo_Grey.png" id="powered-by-logo">
        </a>
      </td>
    </td>
  </table>

</div>