<div class="container_16 clearfix">

  <div class="grid_6">
    <% begin %>
      <% if defined?(TUMUSER) && !get_tumblr_first_regular_post.nil? %>
          <% tum = get_tumblr_first_regular_post %>
          <div class="footer-heading">Recent Blog Post</div>
          <div class="footer-blog-title"><%= link_to  tum["regular_title"], tum["url"], :class => "sub-nav-inactive" %></div><br>

          <p class="footer"><%= strip_tags(truncate(tum["regular_body"], :length => 330, :omission => "..."))%></p><br>

      <%- else -%>
          <div class="footer-heading">Our mission</div>
          <div class="footer-blog-title">HourSchool started because...</div><br>
      <% end %>
    <% rescue => ex %>
      <% Rails.logger.error "Tumblr Failed: #{ex}" %>
      <div class="footer-heading">Our mission</div>
      <div class="footer-blog-title">We’re building a social school from your social network. Because it’s not always the experts who make the best teachers, it’s the people you know. <a href="http://www.hourschool.com/about">Learn more...</a></div><br>
    <% end %>

  </div>

  <div class="grid_6">
    <div class="footer-heading">Newsletter sign up</div>
      <form action="http://hourschool.us2.list-manage1.com/subscribe/post?u=2a4ed99f8f06d1af4cea52869&amp;id=369f31a771" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup">
        <form action="http://hourschool.us2.list-manage1.com/subscribe/post?u=2a4ed99f8f06d1af4cea52869&amp;id=369f31a771" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <p class="footer">Sign up for our newsletter to get updates on latest classes in your city!</p>
          <input type="email" value="" name="EMAIL" class="newsletterForm" placeholder="email address" required><br>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletterButton">
        </form>
        </div>

  </div>


  <div class="grid_3 footer-right">

       <div class="footer-heading">Connect with us</div>

       <table id="footer">

       <tr>
          <td id="footer">
            <img src="../../../images/v2/icon_star.png" class="footer_contact">
          </td>
          <td id="footer">
            <a href="/about" class="footer">Read our mission</a>
          </td>
        </tr>

         <tr>
           <td id="footer">
              <img src="../../../images/v2/icon_facebook.png" class="footer_contact">
           </td>
           <td id="footer">
              <a href="http://www.facebook.com/hourschool" class="footer" target="_blank">Like us on Facebook</a>
           </td>
         </tr>

         <tr>
            <td id="footer">
               <img src="../../../images/v2/icon_twitter.png" class="footer_contact">
            </td>
            <td id="footer">
              <a href="http://www.twitter.com/hourschool" class="footer" target="_blank">Follow us on Twitter</a>
            </td>
          </tr>

         <tr>
           <td id="footer">
             <img src="../../../images/v2/icon_email.png" class="footer_contact">
           </td>
           <td id="footer">
         <a href="mailto:hello@hourschool.com" class="footer" target="_blank">Email us</a>
           </td>
         </tr>

       </table>

     </div><!-- .end /threeCol_right -->

  </div><!-- /end .container_16 -->

  <div class="container_16 clearfix">
        <!-- <img src="../../../images/v2/grasshopper-grey.png" class="grasshopper-footer"> -->
      <div class="heading10-footer">© HourSchool 2011, made in Austin TX</div>
      <% if current_user.admin? %>
      <%= Time.now %>
      <% end %>
  </div>


