<div class="row">
  <%= render :partial => 'admin/sidebar' %>

  <div class="span9 white">
    <div class="page-content">
      <div class="well">
        You haven't added any membership plans yet.
        <%= link_to "Add one", "", :class => "btn btn-large" %>
      </div>
    </div>
  </div>

</div><!-- /row -->