<% if params[:q] == 'comment' %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <p><strong>Hello there! Looks like it's your first time here. Welcome!</strong> You've been invited to participate in the mission <%= link_to full_mission_title(@mission), @mission, :target => "_blank" %>.</p>
    <p>Each mission is a micro-community that connects passionate people working towards their goals through in-person classes, workshops, and happy hours.
    <a data-toggle="modal" href="#explainMission" style="color: #505f6a; font-weight: 700; text-decoration: underline">That sounds interesting...tell me more!</a></p>

    <p>When you're ready, go ahead and drop your wisdom by answering the question below. Your community will appreciate it.</p>
  </div>

<% elsif params[:q] == 'course' %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <p><strong>Hello there! Looks like it's your first time here. Welcome!</strong>
        <% if @mission.present? %>
      You've been invited to participate in the mission <%= link_to full_mission_title(@mission), @mission, :target => "_blank" %>.
      </p>

      <p>Each mission is a micro-community that connects passionate people working towards their goals through in-person classes, workshops, and happy hours.
      <a data-toggle="modal" href="#explainMission" style="color: #505f6a; font-weight: 700; text-decoration: underline">That sounds interesting...tell me more!</a></p>
    <% end %>

    <p>When you're ready, sign up for this event and join the fun!</p>
  </div>

<% elsif params[:q] == 'topic' %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <p><strong>Hello there! Looks like it's your first time here. Welcome!</strong> You've been invited to participate in the mission <%= link_to full_mission_title(@mission), @mission, :target => "_blank" %>.</p>

    <p>Each mission is a micro-community that connects passionate people working towards their goals through in-person classes, workshops, and happy hours.
    <a data-toggle="modal" href="#explainMission" style="color: #505f6a; font-weight: 700; text-decoration: underline">That sounds interesting...tell me more!</a></p>

    <p>When you're ready, go ahead and drop your wisdom by organizing an event for this topic. Your community will appreciate it.</p>
  </div>

<% elsif params[:q] == 'mission' %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <p><strong>Hello there! Looks like it's your first time here. Welcome!</strong> You've been invited to participate in the mission <%= link_to full_mission_title(@mission), @mission, :target => "_blank" %>.</p>

    <p>Each mission is a micro-community that connects passionate people working towards their goals through in-person classes, workshops, and happy hours.
    <a data-toggle="modal" href="#explainMission" style="color: #505f6a; font-weight: 700; text-decoration: underline">That sounds interesting...tell me more!</a></p>

    <p>When you're ready, go ahead and get involved!</p>
  </div>

<% end %>
