<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%= course_url(@course)%>" addthis:title="Check out this class I'm taking @hourschool!">
  
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_tumblr"></a>
  <a class="addthis_button_stumbleupon"></a>
  <a class="addthis_button_reddit"></a>
  <a class="addthis_button_email"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ef1765a3967f9ca"></script>
<!-- AddThis Button END -->