.sidebar
	.tipbox
		%img.tape{:src => '/images/v2/Tape_White.png'}
			.heading10 First time teaching? Want resources?
			- link_to community_faq_path do
				#tipboxButton Help me!
	.tipbox
		%img.tape{:src => '/images/v2/Tape_White.png'}
			.heading10 Want to see a class sample?
			- link_to '#' do
				#tipboxButton Inspire me!
	.tipbox
		%img.tape{:src => '/images/v2/Tape_White.png'}
			.heading10 Have more questions?
			- link_to contact_path do
				#tipboxButton Contact us!
