.tipbox
  = image_tag 'v2/Tape_White.png', :class => 'tape'
  %center
    .heading10 Have more questions?
    %br
    = image_tag 'v2/icon_email.png', :style => "margin-left: 65px; margin-bottom: 10px"
    %br
    %a(href="mailto:hello@hourschool.com") hello@hourschool.com
    %br
    %br
    = image_tag 'v2/icon_phone.png', :style => "margin-left: 65px; margin-bottom: 10px"
    %br
    %br
    (877) 246-4689
