<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this class I'm teaching:" data-count="horizontal" data-via="hourschool">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
