%head
  = include_yui_editor_if_used.html_safe
= render 'submit_course_form'

.sidebar

  .tipbox
    %img.tape{:src => '/images/v2/Tape_White.png'}
      .heading10 First time teaching? Want resources?
      %a(href="http://hourschool.assistly.com/")
        #tipboxButton Help me!

  .tipbox
    %img.tape{:src => '/images/v2/Tape_White.png'}
      .heading10 Have more questions?
      %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
        #tipboxButton Contact us!


