= render 'submit_course_form'

.sidebar

  .tipbox
    = image_tag "v2/Tape_White.png", :class => 'tape'
    .heading10 First time teaching? Want resources?
    %a(href="http://help.hourschool.com/")
      #tipboxButton Help me!

  .tipbox
    = image_tag "v2/Tape_White.png", :class => 'tape'
    .heading10 Have more questions?
    %a(href="http://help.hourschool.com/customer/portal/questions/new")
      #tipboxButton Contact us!
