%head
  = include_yui_editor_if_used.html_safe
= render 'home/header'
= render 'submit_course_form'
= render  :partial => 'home/teach_sidebar', :locals => {:random_course => @random_course}

/ .content
/   %h3= "Edit course"
/   = render 'form'
/ 
/   %p
/     = link_to "Show", @course
/     |
/     = link_to "View All", courses_path
 