- if current_account == Account.find(1) 
  = render 'submit_event_form'
- elsif current_account == Account.find(4) 
  .container_16
    .middle#middle_events
      = render 'submit_generic_course_form'
        
- else 
  = render 'submit_course_form'
  = render 'sidebar'