- if current_account == Account.where(:id => 1).first
  = render 'submit_feast_form'
- elsif current_account == Account.where(:id => 4).first
  .page
    .page-content
      = render 'submit_proposal_form'
- else
  .page-main
    .page-content
      = render 'submit_proposal_form'
  .sidebar
    = render 'sidebar'
