<div class="container_16" style="width: 960px">
  <div class="row">
    <div class="span9">
      <%= render 'form' %>
    </div>
    <div class="span3">
      <%#= render 'form_sidebar' %>
    </div>
  </div>
</div>