= render 'home/header'
/ = render 'form'
/ = render 'submit_course_form'
= render 'submit_proposal_form'
= render  :partial => 'home/teach_sidebar', :locals => {:random_course => @random_course}
/ .content
/ 	%h3= "New Course"
/ 
/ 
/ 
/ 	%p= link_to "Back to List", courses_path
