<% if current_account == Account.where(:id => 1).first %>
  <%= render 'submit_feast_form' %>
<% else %>
  <div class="page">
    <div class="page-content">
      <%= render 'form' %>
    </div>
  </div>
<% end %>
