<%= link_to image_tag("/images/v2/404.png"), root_path %>

<% if @exception.present? && current_user.try(:admin?) %>
  <div id="error-code" style="margin-top:15px;">
    <h3><%= h @exception.message %></h3><br /><a href="#" onclick="document.getElementById('error-details').style.display = 'block';">Details</a>
    <div id="error-details" style="">
      <p>Params: <%=h params.inspect %></p>
      <br /><br />
      <div style="width:1000px" >
        <h3>Backtrace:</h3>
          <%= pretty_backtrace(@exception) %>
      </div>
    </div>
  </div>
<%- end -%>