/* line 1, ../../sass/components/960_grid.scss */
body {
  min-width: 960px;
}

/* line 6, ../../sass/components/960_grid.scss */
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 27, ../../sass/components/960_grid.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 49, ../../sass/components/960_grid.scss */
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
  position: relative;
}

/* line 55, ../../sass/components/960_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 58, ../../sass/components/960_grid.scss */
.omega {
  margin-right: 0;
}

/* line 62, ../../sass/components/960_grid.scss */
.container_16 .grid_1 {
  width: 40px;
}

/* line 65, ../../sass/components/960_grid.scss */
.container_16 .grid_2 {
  width: 100px;
}

/* line 68, ../../sass/components/960_grid.scss */
.container_16 .grid_3 {
  width: 160px;
}

/* line 71, ../../sass/components/960_grid.scss */
.container_16 .grid_4 {
  width: 220px;
}

/* line 74, ../../sass/components/960_grid.scss */
.container_16 .grid_5 {
  width: 280px;
}

/* line 77, ../../sass/components/960_grid.scss */
.container_16 .grid_6 {
  width: 340px;
}

/* line 80, ../../sass/components/960_grid.scss */
.container_16 .grid_7 {
  width: 400px;
}

/* line 83, ../../sass/components/960_grid.scss */
.container_16 .grid_8 {
  width: 460px;
}

/* line 86, ../../sass/components/960_grid.scss */
.container_16 .grid_9 {
  width: 520px;
}

/* line 89, ../../sass/components/960_grid.scss */
.container_16 .grid_10 {
  width: 580px;
}

/* line 92, ../../sass/components/960_grid.scss */
.container_16 .grid_11 {
  width: 640px;
}

/* line 95, ../../sass/components/960_grid.scss */
.container_16 .grid_12 {
  width: 700px;
}

/* line 98, ../../sass/components/960_grid.scss */
.container_16 .grid_13 {
  width: 760px;
}

/* line 101, ../../sass/components/960_grid.scss */
.container_16 .grid_14 {
  width: 820px;
}

/* line 104, ../../sass/components/960_grid.scss */
.container_16 .grid_15 {
  width: 880px;
}

/* line 107, ../../sass/components/960_grid.scss */
.container_16 .grid_16 {
  width: 940px;
}

/* line 111, ../../sass/components/960_grid.scss */
.container_16 .prefix_1 {
  padding-left: 60px;
}

/* line 114, ../../sass/components/960_grid.scss */
.container_16 .prefix_2 {
  padding-left: 120px;
}

/* line 117, ../../sass/components/960_grid.scss */
.container_16 .prefix_3 {
  padding-left: 180px;
}

/* line 120, ../../sass/components/960_grid.scss */
.container_16 .prefix_4 {
  padding-left: 240px;
}

/* line 123, ../../sass/components/960_grid.scss */
.container_16 .prefix_5 {
  padding-left: 300px;
}

/* line 126, ../../sass/components/960_grid.scss */
.container_16 .prefix_6 {
  padding-left: 360px;
}

/* line 129, ../../sass/components/960_grid.scss */
.container_16 .prefix_7 {
  padding-left: 420px;
}

/* line 132, ../../sass/components/960_grid.scss */
.container_16 .prefix_8 {
  padding-left: 480px;
}

/* line 135, ../../sass/components/960_grid.scss */
.container_16 .prefix_9 {
  padding-left: 540px;
}

/* line 138, ../../sass/components/960_grid.scss */
.container_16 .prefix_10 {
  padding-left: 600px;
}

/* line 141, ../../sass/components/960_grid.scss */
.container_16 .prefix_11 {
  padding-left: 660px;
}

/* line 144, ../../sass/components/960_grid.scss */
.container_16 .prefix_12 {
  padding-left: 720px;
}

/* line 147, ../../sass/components/960_grid.scss */
.container_16 .prefix_13 {
  padding-left: 780px;
}

/* line 150, ../../sass/components/960_grid.scss */
.container_16 .prefix_14 {
  padding-left: 840px;
}

/* line 153, ../../sass/components/960_grid.scss */
.container_16 .prefix_15 {
  padding-left: 900px;
}

/* line 157, ../../sass/components/960_grid.scss */
.container_16 .suffix_1 {
  padding-right: 60px;
}

/* line 160, ../../sass/components/960_grid.scss */
.container_16 .suffix_2 {
  padding-right: 120px;
}

/* line 163, ../../sass/components/960_grid.scss */
.container_16 .suffix_3 {
  padding-right: 180px;
}

/* line 166, ../../sass/components/960_grid.scss */
.container_16 .suffix_4 {
  padding-right: 240px;
}

/* line 169, ../../sass/components/960_grid.scss */
.container_16 .suffix_5 {
  padding-right: 300px;
}

/* line 172, ../../sass/components/960_grid.scss */
.container_16 .suffix_6 {
  padding-right: 360px;
}

/* line 175, ../../sass/components/960_grid.scss */
.container_16 .suffix_7 {
  padding-right: 420px;
}

/* line 178, ../../sass/components/960_grid.scss */
.container_16 .suffix_8 {
  padding-right: 480px;
}

/* line 181, ../../sass/components/960_grid.scss */
.container_16 .suffix_9 {
  padding-right: 540px;
}

/* line 184, ../../sass/components/960_grid.scss */
.container_16 .suffix_10 {
  padding-right: 600px;
}

/* line 187, ../../sass/components/960_grid.scss */
.container_16 .suffix_11 {
  padding-right: 660px;
}

/* line 190, ../../sass/components/960_grid.scss */
.container_16 .suffix_12 {
  padding-right: 720px;
}

/* line 193, ../../sass/components/960_grid.scss */
.container_16 .suffix_13 {
  padding-right: 780px;
}

/* line 196, ../../sass/components/960_grid.scss */
.container_16 .suffix_14 {
  padding-right: 840px;
}

/* line 199, ../../sass/components/960_grid.scss */
.container_16 .suffix_15 {
  padding-right: 900px;
}

/* line 203, ../../sass/components/960_grid.scss */
.container_16 .push_1 {
  left: 60px;
}

/* line 206, ../../sass/components/960_grid.scss */
.container_16 .push_2 {
  left: 120px;
}

/* line 209, ../../sass/components/960_grid.scss */
.container_16 .push_3 {
  left: 180px;
}

/* line 212, ../../sass/components/960_grid.scss */
.container_16 .push_4 {
  left: 240px;
}

/* line 215, ../../sass/components/960_grid.scss */
.container_16 .push_5 {
  left: 300px;
}

/* line 218, ../../sass/components/960_grid.scss */
.container_16 .push_6 {
  left: 360px;
}

/* line 221, ../../sass/components/960_grid.scss */
.container_16 .push_7 {
  left: 420px;
}

/* line 224, ../../sass/components/960_grid.scss */
.container_16 .push_8 {
  left: 480px;
}

/* line 227, ../../sass/components/960_grid.scss */
.container_16 .push_9 {
  left: 540px;
}

/* line 230, ../../sass/components/960_grid.scss */
.container_16 .push_10 {
  left: 600px;
}

/* line 233, ../../sass/components/960_grid.scss */
.container_16 .push_11 {
  left: 660px;
}

/* line 236, ../../sass/components/960_grid.scss */
.container_16 .push_12 {
  left: 720px;
}

/* line 239, ../../sass/components/960_grid.scss */
.container_16 .push_13 {
  left: 780px;
}

/* line 242, ../../sass/components/960_grid.scss */
.container_16 .push_14 {
  left: 840px;
}

/* line 245, ../../sass/components/960_grid.scss */
.container_16 .push_15 {
  left: 900px;
}

/* line 249, ../../sass/components/960_grid.scss */
.container_16 .pull_1 {
  left: -60px;
}

/* line 252, ../../sass/components/960_grid.scss */
.container_16 .pull_2 {
  left: -120px;
}

/* line 255, ../../sass/components/960_grid.scss */
.container_16 .pull_3 {
  left: -180px;
}

/* line 258, ../../sass/components/960_grid.scss */
.container_16 .pull_4 {
  left: -240px;
}

/* line 261, ../../sass/components/960_grid.scss */
.container_16 .pull_5 {
  left: -300px;
}

/* line 264, ../../sass/components/960_grid.scss */
.container_16 .pull_6 {
  left: -360px;
}

/* line 267, ../../sass/components/960_grid.scss */
.container_16 .pull_7 {
  left: -420px;
}

/* line 270, ../../sass/components/960_grid.scss */
.container_16 .pull_8 {
  left: -480px;
}

/* line 273, ../../sass/components/960_grid.scss */
.container_16 .pull_9 {
  left: -540px;
}

/* line 276, ../../sass/components/960_grid.scss */
.container_16 .pull_10 {
  left: -600px;
}

/* line 279, ../../sass/components/960_grid.scss */
.container_16 .pull_11 {
  left: -660px;
}

/* line 282, ../../sass/components/960_grid.scss */
.container_16 .pull_12 {
  left: -720px;
}

/* line 285, ../../sass/components/960_grid.scss */
.container_16 .pull_13 {
  left: -780px;
}

/* line 288, ../../sass/components/960_grid.scss */
.container_16 .pull_14 {
  left: -840px;
}

/* line 291, ../../sass/components/960_grid.scss */
.container_16 .pull_15 {
  left: -900px;
}

/* line 295, ../../sass/components/960_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 307, ../../sass/components/960_grid.scss */
.clearfix:before,
.clearfix:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 318, ../../sass/components/960_grid.scss */
.clearfix:after,
.container_16:after {
  clear: both;
}

/* line 323, ../../sass/components/960_grid.scss */
.clearfix,
.container_16 {
  zoom: 1;
}
