/* line 1, ../../sass/components/admin.scss */
.indent {
  margin-left: 2em;
}

/* line 5, ../../sass/components/admin.scss */
th.metrics {
  padding-right: 20px;
}

/* line 9, ../../sass/components/admin.scss */
td.metrics {
  text-align: center;
  padding-right: 20px;
}

/* line 14, ../../sass/components/admin.scss */
tr.metrics_underline {
  border-bottom: 1px solid #666;
}

/* line 18, ../../sass/components/admin.scss */
.adminBar {
  font-family: futura-pt-1, futura-pt-2;
  background-color: black;
  color: white;
  padding: 2px;
  margin: 0 auto 0;
}

/* line 26, ../../sass/components/admin.scss */
.adminBar a {
  text-decoration: underline;
  color: white;
}

/* line 32, ../../sass/components/admin.scss */
td.metrics-seats {
  text-align: center;
  padding-right: 20px;
}

/* line 37, ../../sass/components/admin.scss */
td.metrics-course-title {
  width: 300px;
  padding-right: 20px;
}

/* line 42, ../../sass/components/admin.scss */
th.metrics {
  padding-right: 20px;
}

/* line 46, ../../sass/components/admin.scss */
.adminBar .actions {
  float: right;
}
