/* line 13, ../../sass/components/courses.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../../sass/components/courses.scss */
body {
  line-height: 1;
}

/* line 24, ../../sass/components/courses.scss */
ol, ul {
  list-style: none;
}

/* line 27, ../../sass/components/courses.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../../sass/components/courses.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 36, ../../sass/components/courses.scss */
q, blockquote {
  quotes: none;
}

/* line 40, ../../sass/components/courses.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 44, ../../sass/components/courses.scss */
a img {
  border: none;
}

/* line 47, ../../sass/components/courses.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 51, ../../sass/components/courses.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 56, ../../sass/components/courses.scss */
body {
  font-family: verdana,sans-serif;
  font-size: 13px;
  color: #4f4e4e;
  line-height: 18px;
  background-color: none;
  background-image: url("v2/BG_grey.png");
  position: relative;
}

/* line 66, ../../sass/components/courses.scss */
p, ol, ul {
  font-family: verdana,sans-serif;
  font-size: 13px;
  color: #4f4e4e;
  line-height: 18px;
  letter-spacing: auto;
}

/* line 74, ../../sass/components/courses.scss */
a {
  text-decoration: none;
  color: #4f4e4e;
}

/* line 78, ../../sass/components/courses.scss */
a:visited {
  text-decoration: none;
  color: #4f4e4e;
}

/* line 82, ../../sass/components/courses.scss */
a:active {
  text-decoration: none;
  color: #ff7733;
}

/* line 86, ../../sass/components/courses.scss */
a:hover {
  text-decoration: none;
  color: #ff7733;
}

/* line 92, ../../sass/components/courses.scss */
img.class-arrow {
  position: relative;
  float: right;
  margin-top: -13px;
  margin-right: 10px;
}

/* line 100, ../../sass/components/courses.scss */
.brand_bg {
  background-color: #ff7733;
  height: 3px;
}

/* line 104, ../../sass/components/courses.scss */
.enterprise_brand_bg {
  background-color: #ff7733;
  height: 7px;
}

/* line 108, ../../sass/components/courses.scss */
.middle_bg {
  background-image: url("v2/BG_grey.png");
}

/* line 111, ../../sass/components/courses.scss */
.bottom_bg {
  background-color: #fff;
  padding-bottom: 100px;
}

/* line 115, ../../sass/components/courses.scss */
.main {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

/* line 119, ../../sass/components/courses.scss */
.full-page {
  width: 960px;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* line 127, ../../sass/components/courses.scss */
.marcomm-with-sidebar {
  width: 760px;
  float: left;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* line 137, ../../sass/components/courses.scss */
hr.about {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
}

/* line 144, ../../sass/components/courses.scss */
.page {
  width: 700px;
  float: left;
  padding-bottom: 30px;
  background-color: #fff;
}

/* line 151, ../../sass/components/courses.scss */
.page-wdb {
  width: 600px;
  float: left;
  padding-bottom: 30px;
}

/* line 157, ../../sass/components/courses.scss */
.page-content {
  padding: 30px 30px 30px;
}

/* line 160, ../../sass/components/courses.scss */
.page-section-float-left {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

/* line 165, ../../sass/components/courses.scss */
.comment-section {
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px dashed #ccc;
}

/* line 173, ../../sass/components/courses.scss */
.page-section-float-right {
  float: right;
  width: 100%;
  padding-bottom: 20px;
}

/* line 178, ../../sass/components/courses.scss */
.sidebar {
  width: 260px;
  float: left;
}

/* line 182, ../../sass/components/courses.scss */
.sidebar-white {
  width: 250px;
  float: left;
  background-color: #fff;
  margin-left: -20px;
}

/* line 188, ../../sass/components/courses.scss */
.sidebar-content {
  padding: 0px 0px 10px 30px;
}

/* line 191, ../../sass/components/courses.scss */
.sidebar-content-white {
  padding: 20px 15px 10px 15px;
}

/* line 194, ../../sass/components/courses.scss */
ul.noBullet {
  list-style-type: none;
}

/* line 198, ../../sass/components/courses.scss */
ul.noBullet.course-when {
  list-style-type: none;
  padding-bottom: 40px;
}

/* line 202, ../../sass/components/courses.scss */
li.noBullet {
  float: left;
}

/* line 210, ../../sass/components/courses.scss */
.dashboard-story {
  float: left;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px dashed #ccc;
}

/* line 216, ../../sass/components/courses.scss */
.dashboard-story-first {
  float: left;
  width: 100%;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px dashed #ccc;
}

/* line 222, ../../sass/components/courses.scss */
.dashboard-story-last {
  float: left;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

/* line 227, ../../sass/components/courses.scss */
ul.dashboard-name {
  list-style: none;
  margin-top: 5px;
}

/* line 231, ../../sass/components/courses.scss */
li.dashboard-name {
  float: left;
  top: 0px;
  padding-right: 7px;
  vertical-align: middle;
}

/* line 237, ../../sass/components/courses.scss */
ul.class {
  float: left;
  top: 0px;
  margin-right: 10px;
}

/* line 242, ../../sass/components/courses.scss */
ul.status {
  float: right;
  top: 0px;
}

/* line 246, ../../sass/components/courses.scss */
ul.comment {
  float: left;
  position: absolute;
  width: 450px;
  margin-top: 35px;
  margin-left: 125px;
}

/* line 253, ../../sass/components/courses.scss */
img.dashboard-icon {
  float: left;
  margin-top: 1px;
}

/* line 257, ../../sass/components/courses.scss */
img.dashboard-class {
  float: right;
}

/* line 260, ../../sass/components/courses.scss */
.dashboard-name {
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
  float: left;
}

/* line 268, ../../sass/components/courses.scss */
.dashboard-name a {
  color: #ff7733;
}

/* line 272, ../../sass/components/courses.scss */
.dashboard-name:visited {
  color: #ff7733;
}

/* line 276, ../../sass/components/courses.scss */
.dashboard-name:hover {
  color: #ff7733;
}

/* line 280, ../../sass/components/courses.scss */
ul.searchFilter {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 23px;
}

/* line 287, ../../sass/components/courses.scss */
td.icon {
  vertical-align: top;
}

/* line 291, ../../sass/components/courses.scss */
.classRow {
  float: left;
  width: 650px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 297, ../../sass/components/courses.scss */
.classBlock {
  float: left;
  width: 190px;
  height: 270px;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  margin-right: 23px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 309, ../../sass/components/courses.scss */
.classBlock_last {
  float: left;
  width: 190px;
  height: 270px;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 320, ../../sass/components/courses.scss */
img.class-arrow {
  position: relative;
  float: right;
  margin-top: -13px;
  margin-right: 10px;
}

/* line 326, ../../sass/components/courses.scss */
.class-description {
  padding: 10px;
  height: 105px;
}

/* line 331, ../../sass/components/courses.scss */
.class-note {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 336, ../../sass/components/courses.scss */
a.class-note {
  color: #4f4e4e;
}

/* line 339, ../../sass/components/courses.scss */
table.view-more, tr.view-more {
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* line 344, ../../sass/components/courses.scss */
ul.view-more-arrow {
  float: left;
  list-style-type: none;
}

/* line 349, ../../sass/components/courses.scss */
img.view-more-arrow {
  padding-left: 0px;
}

/* line 353, ../../sass/components/courses.scss */
img.view-more {
  padding-left: 10px;
}

/* line 356, ../../sass/components/courses.scss */
a.view-more {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  font-style: italic;
  color: #bbbbbb;
  text-decoration: none;
  padding-left: 4px;
  padding-bottom: 5px;
}

/* line 368, ../../sass/components/courses.scss */
.heading13-class {
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 376, ../../sass/components/courses.scss */
.heading13-class a {
  color: #ff7733;
}

/* line 380, ../../sass/components/courses.scss */
.heading13-class a:visited {
  color: #ff7733;
  text-decoration: none;
}

/* line 385, ../../sass/components/courses.scss */
.heading13-class a:hover {
  color: #ff7733;
  text-decoration: none;
}

/* line 389, ../../sass/components/courses.scss */
.heading9-class {
  font-weight: 400;
  font-size: 9px;
}

/* line 393, ../../sass/components/courses.scss */
.heading10-class {
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 10px;
}

/* line 399, ../../sass/components/courses.scss */
.vote-class {
  margin-top: 0px;
  margin: 20px 20px 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

/* line 406, ../../sass/components/courses.scss */
.vote-class-title {
  float: left;
  width: 500px;
}

/* line 411, ../../sass/components/courses.scss */
.heading20-vote {
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
}

/* line 419, ../../sass/components/courses.scss */
a.heading20-vote {
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
}

/* line 427, ../../sass/components/courses.scss */
.heading20-vote a:hover {
  color: #666;
}

/* line 428, ../../sass/components/courses.scss */
.heading20-vote a:visited {
  color: #666;
}

/* line 429, ../../sass/components/courses.scss */
.heading20-vote a:active {
  color: #666;
}

/* line 431, ../../sass/components/courses.scss */
img.view-more-arrow-orange {
  margin-right: 10px;
}

/* line 433, ../../sass/components/courses.scss */
.vote-link {
  font-size: 11px;
}

/* line 434, ../../sass/components/courses.scss */
.vote-link a:visited {
  color: #666;
}

/* line 435, ../../sass/components/courses.scss */
.vote-link a:hover {
  color: #ff7733;
}

/* line 437, ../../sass/components/courses.scss */
.vote-class-number {
  float: right;
}

/* line 441, ../../sass/components/courses.scss */
.heading35-vote {
  color: #ff7733;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-left: -5px;
  margin-bottom: 5px;
}

/* line 452, ../../sass/components/courses.scss */
.heading10-vote {
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 3px;
}

/* line 463, ../../sass/components/courses.scss */
a.vote-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  padding-top: 7px;
  padding-right: 0px;
  width: 75px;
  height: 27px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 487, ../../sass/components/courses.scss */
a.vote-button:hover {
  background-color: #e46f28;
  color: white;
}

/* line 489, ../../sass/components/courses.scss */
.voted-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  padding-top: 7px;
  width: 75px;
  height: 27px;
  background-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* line 511, ../../sass/components/courses.scss */
.claim-class-button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff7733;
  color: white;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* line 532, ../../sass/components/courses.scss */
.claim-class-button a {
  color: white;
  text-decoration: none;
}

/* line 537, ../../sass/components/courses.scss */
.claim-class-button a:hover {
  color: white;
  text-decoration: none;
}

/* line 542, ../../sass/components/courses.scss */
.why-teach-short {
  width: 75%;
  float: left;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* line 549, ../../sass/components/courses.scss */
.why-teach-last {
  margin-top: 20px;
}

/* line 553, ../../sass/components/courses.scss */
.teach_how_it_works {
  width: 200px;
  margin-left: -10px;
  margin-right: 15px;
  margin-top: -20px;
  margin-bottom: -10px;
}

/* line 561, ../../sass/components/courses.scss */
#create-class-button {
  float: right;
  width: 135px;
  height: 85px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* line 575, ../../sass/components/courses.scss */
#create-class-button:hover {
  background-color: #e46f28;
}

/* line 578, ../../sass/components/courses.scss */
img#create-class-star {
  margin-top: 10px;
  margin-left: 46px;
}

/* line 582, ../../sass/components/courses.scss */
.heading15-whyteach {
  color: #ff7733;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

/* line 591, ../../sass/components/courses.scss */
.create-class-heading {
  float: left;
  padding-top: 5px;
  padding-left: 18px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  color: white;
  font-size: 10;
}

/* line 602, ../../sass/components/courses.scss */
.teach-start-block {
  float: left;
  width: 168px;
  margin-top: 31px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 614, ../../sass/components/courses.scss */
#new-create-class-button {
  float: left;
  width: 135px;
  height: 85px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* line 628, ../../sass/components/courses.scss */
#new-create-class-button:hover {
  background-color: #e46f28;
}

/* line 630, ../../sass/components/courses.scss */
.teach-resource-block {
  float: right;
  width: 190px;
  margin-top: 31px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 643, ../../sass/components/courses.scss */
.pagenote-box {
  border: 1px solid #ccc;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

/* line 651, ../../sass/components/courses.scss */
.pagenote-header {
  text-transform: uppercase;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
  float: left;
  letter-spacing: 0.1em;
  width: 100%;
}

/* line 663, ../../sass/components/courses.scss */
a.pagenote-link {
  color: #ff7733;
}

/* line 667, ../../sass/components/courses.scss */
hr#pagenote {
  float: left;
  width: 98%;
  border: 1px dashed #999;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 675, ../../sass/components/courses.scss */
.class-logistic-block {
  float: left;
  width: 220px;
  margin-right: 0px;
}

/* line 680, ../../sass/components/courses.scss */
.class-logistic-line {
  float: left;
  width: 200px;
  margin-right: 0px;
}

/* line 685, ../../sass/components/courses.scss */
.class-description-block {
  float: left;
  width: 400px;
}

/* line 689, ../../sass/components/courses.scss */
.class-attendance-block {
  float: left;
  width: 220px;
  padding: 10px 0px 0px 0px;
}

/* line 694, ../../sass/components/courses.scss */
img#fb-comment {
  margin-top: 10px;
}

/* line 697, ../../sass/components/courses.scss */
hr#class {
  border: 1px dashed #ededed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 704, ../../sass/components/courses.scss */
p.class-detail {
  margin-bottom: 10px;
}

/* line 707, ../../sass/components/courses.scss */
ul.withBullets {
  list-style-type: square;
}

/* line 710, ../../sass/components/courses.scss */
li.withBullets {
  margin-bottom: 10px;
}

/* line 713, ../../sass/components/courses.scss */
.class-section-heading {
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

/* line 722, ../../sass/components/courses.scss */
.class-details {
  float: left;
  margin-top: 8px;
  color: #666;
  font-weight: 700;
  font-size: 12px;
  width: 190px;
}

/* line 730, ../../sass/components/courses.scss */
p.class-details {
  color: #666;
  font-weight: 400;
  font-size: 12px;
  width: 180px;
}

/* line 737, ../../sass/components/courses.scss */
.class-sidebar-details {
  width: 150px;
  line-height: 14px;
}

/* line 741, ../../sass/components/courses.scss */
.class-alternatives {
  float: left;
  font-weight: 400;
  font-size: 10px;
  color: #666;
}

/* line 747, ../../sass/components/courses.scss */
img.class-details-icon-cost {
  margin-right: 3px;
  margin-top: 8px;
}

/* line 751, ../../sass/components/courses.scss */
img.class-details-icon-when {
  margin-right: 7px;
  margin-top: 8px;
}

/* line 755, ../../sass/components/courses.scss */
img.class-details-icon-where {
  margin-right: 10px;
  margin-top: 8px;
}

/* line 759, ../../sass/components/courses.scss */
img.class-details-icon-heart {
  margin-left: 0px;
  margin-top: 0px;
}

/* line 764, ../../sass/components/courses.scss */
img.class-details-icon-email {
  margin-bottom: -5px;
}

/* line 767, ../../sass/components/courses.scss */
.class-details-heart-number {
  font-size: 12px;
  font-weight: 700;
  margin-left: 7px;
  margin-top: -1px;
  color: #8f8f8f;
}

/* line 775, ../../sass/components/courses.scss */
.register-class-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 799, ../../sass/components/courses.scss */
.register-class-button:hover {
  background-color: #e46f28;
}

/* line 801, ../../sass/components/courses.scss */
.approve-class-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  cursor: pointer;
}

/* line 825, ../../sass/components/courses.scss */
.approve-class-button:hover {
  background-color: #e46f28;
}

/* line 827, ../../sass/components/courses.scss */
.approvalRow {
  border-bottom: 1px solid #8f8f8f;
}

/* line 831, ../../sass/components/courses.scss */
.grey-header {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  color: #8f8f8f;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  float: left;
}

/* line 842, ../../sass/components/courses.scss */
.edit-class-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a9a9a9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 866, ../../sass/components/courses.scss */
.edit-class-button:hover {
  background-color: #949393;
}

/* line 868, ../../sass/components/courses.scss */
.edit-form-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: right;
  width: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #a9a9a9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-right: 10px;
  margin-top: -7px;
  height: 35px;
}

/* line 894, ../../sass/components/courses.scss */
.edit-form-button:hover {
  background-color: #949393;
}

/* line 896, ../../sass/components/courses.scss */
.complete-class-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  width: 170px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  position: relative;
  float: left;
  overflow: visible;
  z-index: 10;
  margin-top: -90px;
  cursor: pointer;
}

/* line 925, ../../sass/components/courses.scss */
.complete-class-button:hover {
  background-color: #e46f28;
}

/* line 927, ../../sass/components/courses.scss */
.class-title-big {
  float: left;
  color: #666;
  width: 400px;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  line-height: 22px;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 939, ../../sass/components/courses.scss */
.contact-link {
  color: #4f4e4e;
}

/* line 944, ../../sass/components/courses.scss */
img.steps {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 35px;
}

/* line 950, ../../sass/components/courses.scss */
#preview-box {
  width: 900px;
  height: 50px;
  padding: 30px 30px 0px 30px;
  background: white;
}

/* line 957, ../../sass/components/courses.scss */
.preview-header {
  width: 500px;
  float: left;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 969, ../../sass/components/courses.scss */
.preview-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: right;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-top: -7px;
  cursor: pointer;
}

/* line 994, ../../sass/components/courses.scss */
.preview-button:hover {
  background-color: #e46f28;
}

/* line 995, ../../sass/components/courses.scss */
#preview-box-tall {
  width: 880px;
  height: 300px;
  padding: 30px 30px 0px 50px;
  background: white;
}

/* line 1002, ../../sass/components/courses.scss */
#preview-checklist-box {
  width: 600px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

/* line 1009, ../../sass/components/courses.scss */
li.preview-checklist {
  color: #ff7733;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
}

/* line 1018, ../../sass/components/courses.scss */
a.orange-checklist {
  color: #ff7733;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
}

/* line 1027, ../../sass/components/courses.scss */
a.orange-checklist:hover {
  color: #ff7733;
}

/* line 1028, ../../sass/components/courses.scss */
a.orange-checklist:visited {
  color: #ff7733;
}

/* line 1031, ../../sass/components/courses.scss */
.confirm-messageBlock {
  float: left;
  width: 628px;
  height: 130px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f8f8;
}

/* line 1040, ../../sass/components/courses.scss */
.confirm-classblock {
  float: left;
  width: 190px;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  padding-bottom: 20px;
  margin-right: 40px;
}

/* line 1050, ../../sass/components/courses.scss */
.confirm-class-description {
  padding: 10px;
}

/* line 1054, ../../sass/components/courses.scss */
.confirm-description-block {
  float: left;
  width: 390px;
  margin-bottom: 30px;
  margin-left: 20px;
}

/* line 1061, ../../sass/components/courses.scss */
.confirm-description-share-block {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* line 1066, ../../sass/components/courses.scss */
.vote-show-block {
  float: left;
  width: 600px;
  margin-bottom: 15px;
}

/* line 1072, ../../sass/components/courses.scss */
.vote-share-block {
  float: left;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 1078, ../../sass/components/courses.scss */
.confirm-second-message {
  text-transform: uppercase;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
  letter-spacing: 0.05em;
}

/* line 1089, ../../sass/components/courses.scss */
.confirm-grasshopper {
  float: right;
  margin-right: 10px;
  margin-top: -10px;
}

/* line 1095, ../../sass/components/courses.scss */
hr#confirm {
  float: right;
  border: 1px dashed #ededed;
  width: 100%;
  margin-bottom: 30px;
}

/* line 1101, ../../sass/components/courses.scss */
.confirm-bring-friend {
  text-transform: uppercase;
  color: #666;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 18px;
  float: left;
  letter-spacing: 0.15em;
  width: 100%;
  margin-bottom: 20px;
}

/* line 1112, ../../sass/components/courses.scss */
.confirm-copy-url {
  float: left;
  text-transform: uppercase;
  color: #666;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.15em;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 21px;
}

/* line 1124, ../../sass/components/courses.scss */
p.confirm {
  margin-bottom: 20px;
}

/* line 1128, ../../sass/components/courses.scss */
p.warning {
  color: red;
  font-weight: 700;
}

/* line 1133, ../../sass/components/courses.scss */
.form-short-edit-profile {
  position: relative;
  float: left;
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 10px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1147, ../../sass/components/courses.scss */
td.edit-profile {
  width: 250px;
}

/* line 1150, ../../sass/components/courses.scss */
a.profile-link {
  color: #ff7733;
  font-weight: 700;
  font-size: 12px;
}

/* line 1155, ../../sass/components/courses.scss */
img.notBig {
  margin-right: 10px;
}

/* line 1158, ../../sass/components/courses.scss */
a.bio-detail-header {
  float: left;
  color: #8f8f8f;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
}

/* line 1165, ../../sass/components/courses.scss */
.profile-heading10 {
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-top: 10px;
}

/* line 1174, ../../sass/components/courses.scss */
ul.avatar {
  float: left;
  list-style-type: none;
  margin-bottom: 20px;
  line-height: 23px;
}

/* line 1180, ../../sass/components/courses.scss */
li.avatar {
  float: left;
}

/* line 1183, ../../sass/components/courses.scss */
.avatar {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #ccc;
}

/* line 1191, ../../sass/components/courses.scss */
.avatar-30 {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -5px;
  background-color: #ccc;
}

/* line 1198, ../../sass/components/courses.scss */
.avatar-medium {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #ccc;
}

/* line 1205, ../../sass/components/courses.scss */
.avatar-big {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  background-color: #ccc;
}

/* line 1215, ../../sass/components/courses.scss */
img#amazon {
  float: left;
  margin-top: 80px;
  margin-left: -160px;
}

/* line 1221, ../../sass/components/courses.scss */
.empty-prompt {
  color: #cccccc;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 1234, ../../sass/components/courses.scss */
.form-question {
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
}

/* line 1240, ../../sass/components/courses.scss */
.class-form-question {
  float: left;
  font-size: 13px;
  font-weight: 700;
}

/* line 1246, ../../sass/components/courses.scss */
.form-question-tip {
  float: left;
  width: 100%;
  font-size: 12px;
}

/* line 1251, ../../sass/components/courses.scss */
p.form-bg {
  float: left;
  background-color: #f7f9fa;
  width: 95%;
  margin-top: 10px;
  height: 70px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1263, ../../sass/components/courses.scss */
.feedback-form {
  position: relative;
  float: left;
  width: 200px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1277, ../../sass/components/courses.scss */
.form {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1290, ../../sass/components/courses.scss */
.form-short {
  position: relative;
  float: left;
  width: 30%;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding-left: 10px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1304, ../../sass/components/courses.scss */
.form-short-with-margin {
  position: relative;
  float: left;
  width: 30%;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 10px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1317, ../../sass/components/courses.scss */
.form-med {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: text-top;
}

/* line 1332, ../../sass/components/courses.scss */
.form-with-margin {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1347, ../../sass/components/courses.scss */
.form-med-with-margin {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: text-top;
}

/* line 1362, ../../sass/components/courses.scss */
.form-tall {
  position: relative;
  float: left;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid #d2d9dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: text-top;
}

/* line 1377, ../../sass/components/courses.scss */
.submit-proposal-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  margin-top: 10px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 1402, ../../sass/components/courses.scss */
.submit-proposal-button:hover {
  background-color: #e46f28;
}

/* line 1405, ../../sass/components/courses.scss */
p.note {
  float: left;
  margin-bottom: 20px;
}

/* line 1409, ../../sass/components/courses.scss */
p.tip {
  float: left;
  color: #8f8f8f;
  font-size: 11px;
  width: 100%;
}

/* line 1415, ../../sass/components/courses.scss */
a.tip {
  float: left;
  color: #8f8f8f;
  font-size: 11px;
  text-decoration: underline;
}

/* line 1421, ../../sass/components/courses.scss */
.form-error {
  color: red;
  font-weight: 700;
}

/* line 1425, ../../sass/components/courses.scss */
.form-med-with-margin-error {
  position: relative;
  float: left;
  width: 95%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: text-top;
}

/* line 1440, ../../sass/components/courses.scss */
.error-block {
  float: left;
  padding: 15px;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff6f6;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 600px;
}

/* line 1453, ../../sass/components/courses.scss */
.flash-notice {
  text-transform: uppercase;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 14teapx;
  margin-bottom: 0px;
  float: left;
  letter-spacing: 0.05em;
  width: 100%;
}

/* line 1464, ../../sass/components/courses.scss */
.loginButton {
  border: none;
  background: #00B6FF;
  color: #fff;
  position: relative;
  float: left;
  width: 84px;
  height: 33px;
  background-color: #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 1486, ../../sass/components/courses.scss */
.loginButton:hover {
  background-color: #e46f28;
}

/* line 1487, ../../sass/components/courses.scss */
.send-message-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  float: left;
  margin-top: 10px;
  padding: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 1510, ../../sass/components/courses.scss */
.send-message-button:hover {
  background-color: #e46f28;
}

/* line 1516, ../../sass/components/courses.scss */
td.feedback {
  padding: 10px;
}

/* line 1520, ../../sass/components/courses.scss */
.sidebar-heading {
  color: #666;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.2em;
  line-height: 26px;
}

/* line 1529, ../../sass/components/courses.scss */
.heading10-sidebar {
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

/* line 1539, ../../sass/components/courses.scss */
ul.avatar-list {
  margin-top: 0px;
}

/* line 1543, ../../sass/components/courses.scss */
li.avatar-list {
  float: left;
  margin-right: 3px;
}

/* line 1548, ../../sass/components/courses.scss */
.sidebar-block {
  float: left;
  width: 220px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px dashed #ccc;
}

/* line 1555, ../../sass/components/courses.scss */
.sidebar-block-last {
  float: left;
  width: 220px;
  padding: 15px 0px 0px 0px;
  border-bottom: 0px dashed #ccc;
}

/* line 1562, ../../sass/components/courses.scss */
.partner-block {
  float: left;
  width: 220px;
  padding: 10px 0px 20px 0px;
  border: 1px solid #fdcdb5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fef7f4;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 23px;
}

/* line 1577, ../../sass/components/courses.scss */
p.similar-class-description {
  float: left;
  width: 200px;
  font-size: 10px;
  padding-bottom: 10px;
}

/* line 1584, ../../sass/components/courses.scss */
p.profile-name-blurb {
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
  margin-top: 5px;
  float: left;
  width: 150px;
}

/* line 1594, ../../sass/components/courses.scss */
p.profile-location-blurb {
  float: left;
  width: 150px;
  font-weight: 400;
  font-size: 11px;
  padding-bottom: 10px;
}

/* line 1602, ../../sass/components/courses.scss */
p.profile-bio {
  padding-bottom: 10px;
  width: 220px;
}

/* line 1607, ../../sass/components/courses.scss */
.tape {
  float: left;
  margin-top: -31px;
  margin-left: 32px;
}

/* line 1613, ../../sass/components/courses.scss */
.tipbox {
  position: relative;
  width: 160px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 40px;
  background: #fefefe;
  border: 1px solid #f0f0f0;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
}

/* line 1627, ../../sass/components/courses.scss */
.tape-metrics {
  float: left;
  margin-top: -31px;
  margin-left: 55px;
}

/* line 1633, ../../sass/components/courses.scss */
.tipbox-metrics {
  position: relative;
  width: 210px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -10px;
  background: #fefefe;
  border: 0.5px solid #f0f0f0;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
}

/* line 1649, ../../sass/components/courses.scss */
.tape-metrics {
  float: left;
  margin-top: -31px;
  margin-left: 55px;
}

/* line 1655, ../../sass/components/courses.scss */
.tipbox-metrics {
  position: relative;
  width: 210px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -10px;
  background: #fefefe;
  border: 0.5px solid #f0f0f0;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
}

/* line 1669, ../../sass/components/courses.scss */
ol.metrics {
  list-style-type: decimal;
  padding-left: 20px;
  padding-top: 10px;
}

/* line 1675, ../../sass/components/courses.scss */
#tipboxButton {
  margin-top: 10px;
  padding: 7px;
  text-align: center;
  background-color: #a9a9a9;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-decoration: none;
  cursor: pointer;
}

/* line 1693, ../../sass/components/courses.scss */
#tipboxButton:hover {
  background-color: #949393;
}

/* line 1695, ../../sass/components/courses.scss */
.heading10 {
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: center;
}

/* line 1705, ../../sass/components/courses.scss */
.marcomm-header {
  padding-top: 15px;
}

/* line 1709, ../../sass/components/courses.scss */
.heading25_666 {
  color: #666;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  padding-bottom: 25px;
}

/* line 1719, ../../sass/components/courses.scss */
.greyheader_full {
  position: left;
  float: left;
  margin-top: -59px;
  margin-left: -60px;
  overflow: visible;
  width: 1020px;
  z-index: 99;
}

/* line 1729, ../../sass/components/courses.scss */
.greyheader_three_fouths {
  position: left;
  float: left;
  margin-top: -55px;
  margin-left: -90px;
  overflow: visible;
  width: 880px;
  z-index: 99;
}

/* line 1739, ../../sass/components/courses.scss */
.about-hourschool-box {
  float: left;
  width: 95%;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #F0F0F0;
  box-shadow: 1px 1px 1px 1px #F0F0F0, 1px 1px 2px 1px #F0F0F0;
}

/* line 1749, ../../sass/components/courses.scss */
.heading15-marcomm {
  color: #e4652f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

/* line 1759, ../../sass/components/courses.scss */
.heading15-campaign {
  color: #5b7020;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

/* line 1769, ../../sass/components/courses.scss */
.heading15-campaign-orange {
  color: #e4652f;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

/* line 1779, ../../sass/components/courses.scss */
.heading15-marcomm-grey {
  color: #666;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.2em;
  line-height: 26px;
  margin-bottom: 10px;
}

/* line 1790, ../../sass/components/courses.scss */
ul.noBullet-marcomm {
  list-style-type: none;
  margin-bottom: 30px;
}

/* line 1795, ../../sass/components/courses.scss */
li.noBullet-marcomm {
  margin-bottom: 3px;
}

/* line 1799, ../../sass/components/courses.scss */
span.list-number {
  float: left;
  font-size: 20px;
  margin-right: 5px;
}

/* line 1805, ../../sass/components/courses.scss */
p.about {
  padding-bottom: 10px;
}

/* line 1809, ../../sass/components/courses.scss */
.about-bio-team-left {
  float: left;
  width: 410px;
  margin-bottom: 30px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 1px 1px #F0F0F0;
}

/* line 1819, ../../sass/components/courses.scss */
.about-bio-team-right {
  float: left;
  width: 410px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 1px 1px #F0F0F0;
}

/* line 1828, ../../sass/components/courses.scss */
.about-bio-advisor {
  padding-bottom: 20px;
}

/* line 1832, ../../sass/components/courses.scss */
.about-bio-team-photo {
  float: left;
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  width: 125px;
  height: 125px;
  background-color: #ccc;
}

/* line 1846, ../../sass/components/courses.scss */
.about-bio-team-name {
  color: #ff7733;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
}

/* line 1854, ../../sass/components/courses.scss */
.about-bio-team-title {
  font-weight: 400;
  font-size: 10px;
  color: #999;
  margin-bottom: 5px;
}

/* line 1861, ../../sass/components/courses.scss */
.about-bio-team-blurb {
  float: left;
  width: 250px;
  font-style: italic;
}

/* line 1867, ../../sass/components/courses.scss */
.about-bio-advisor-company {
  font-style: italic;
}

/* line 1871, ../../sass/components/courses.scss */
.feature-row {
  padding-bottom: 30px;
  padding-left: 15px;
  float: left;
}

/* line 1877, ../../sass/components/courses.scss */
.tipbox-marcomm {
  position: relative;
  width: 160px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 150px;
  background: #fefefe;
  border: 0.5px solid #f0f0f0;
  -moz-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
  box-shadow: 1px 1px 1px #f0f0f0, -1px 1px 1px #f0f0f0;
}

/* line 1896, ../../sass/components/courses.scss */
.ui-progressbar {
  background-color: #f0f0f0;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

/* line 1905, ../../sass/components/courses.scss */
.ui-progressbar .ui-progressbar-value {
  background-color: #ff7744;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 1916, ../../sass/components/courses.scss */
#homepage .teaser {
  height: 318px;
}

/* line 1922, ../../sass/components/courses.scss */
.modal a {
  text-decoration: underline;
}

/* line 1927, ../../sass/components/courses.scss */
.center {
  margin: 0 auto 0;
  text-align: center;
}

/* line 1932, ../../sass/components/courses.scss */
h2 {
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 30px;
  color: #666666;
  letter-spacing: 0.2em;
  margin-left: 0px;
  padding-left: 0px;
}

/* line 1942, ../../sass/components/courses.scss */
.friendList {
  border-top: 1px dotted #8f8f8f;
  padding: 10px 0;
  height: 55px;
}

/* line 1948, ../../sass/components/courses.scss */
.friendList .avatar {
  margin: 0px;
  padding: 0px;
}

/* line 1954, ../../sass/components/courses.scss */
.friendList .name {
  margin-top: 15px;
}

/* line 1958, ../../sass/components/courses.scss */
.friendList .name a {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  color: #FF7543;
  padding-left: 10px;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* line 1970, ../../sass/components/courses.scss */
.friendList .unfollow a {
  background: #ECECEC;
  color: #BCBABA;
  margin-top: 6px;
}

/* line 1976, ../../sass/components/courses.scss */
.friendList .unfollow {
  margin-left: 50px;
}

/* line 1981, ../../sass/components/courses.scss */
a.button {
  border: none;
  background: #00B6FF;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  background-color: #81ae21;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-size: 11px;
}

/* line 2003, ../../sass/components/courses.scss */
.userConfirm {
  background-color: #FF7543;
  height: 28px;
  margin: 0;
  padding: 5px 0;
  border-top: solid 2px #E56F45;
  border-bottom: solid 2px #E56F45;
}

/* line 2012, ../../sass/components/courses.scss */
.userConfirm p {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  height: 100%;
  color: #8E381A;
  font-family: futura-pt-1, futura-pt-2;
  font-size: 11px;
  margin-top: 5px;
  letter-spacing: 0.2em;
}

/* line 2024, ../../sass/components/courses.scss */
.userConfirm .reminder {
  margin-right: 1em;
}

/* line 2029, ../../sass/components/courses.scss */
.userConfirm a,
.userConfirm a:visited {
  color: white;
  text-decoration: underline;
  padding: 2px;
}

/* line 2035, ../../sass/components/courses.scss */
.break-word {
  word-wrap: break-word;
}

/* line 2039, ../../sass/components/courses.scss */
table.admin {
  width: 100%;
}

/* line 2043, ../../sass/components/courses.scss */
td.admin-id {
  border: 1px solid black;
  width: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

/* line 2051, ../../sass/components/courses.scss */
td.admin-name {
  border: 1px solid black;
  width: 200px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

/* line 2059, ../../sass/components/courses.scss */
td.admin-email {
  border: 1px solid black;
  width: 200px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

/* line 2067, ../../sass/components/courses.scss */
td.admin {
  border: 1px solid black;
  width: 100px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

/* line 2075, ../../sass/components/courses.scss */
.invite-user-button {
  border: none;
  background: #00B6FF;
  color: #fff;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7733;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  cursor: pointer;
}
