/*......LOGGED IN - ENTERPRISE......*/
/* line 5, ../../../app/assets/stylesheets/components/golfsmith.scss */
#enterprise_peer_learning {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #4f4e4e;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 17, ../../../app/assets/stylesheets/components/golfsmith.scss */
table#enterprise_menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 26, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_learn, td#enterprise_menu_teach, td#enterprise_menu_request, td#enterprise_menu_community {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 34, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_dashboard, td#enterprise_menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 46, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_dashboard {
  width: 200px;
}

/* line 50, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_learn {
  width: 160px;
}

/* line 54, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_teach {
  width: 160px;
}

/* line 58, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_request {
  width: 160px;
}

/* line 62, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_community {
  width: 200px;
}

/* line 66, ../../../app/assets/stylesheets/components/golfsmith.scss */
td#enterprise_menu_faq {
  width: 67px;
}

/* line 71, ../../../app/assets/stylesheets/components/golfsmith.scss */
a#golfsmith_menu {
  color: #8f8f8f;
  text-decoration: none;
}

/* line 77, ../../../app/assets/stylesheets/components/golfsmith.scss */
a#golfsmith_menu:hover {
  text-decoration: none;
  color: #d70100;
}

/* line 79, ../../../app/assets/stylesheets/components/golfsmith.scss */
#menu18 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 20px;
}

/* line 88, ../../../app/assets/stylesheets/components/golfsmith.scss */
#menu9 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
}

/* line 96, ../../../app/assets/stylesheets/components/golfsmith.scss */
#menu_faq {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}
