/* line 1, ../../sass/components/header.scss */
#header {
  width: 100%;
  padding-top: 15px;
  overflow: hidden;
}

/* line 8, ../../sass/components/header.scss */
#logo {
  position: relative;
  float: left;
  display: block;
  width: 122px;
  height: 125px;
  text-decoration: none;
  margin-bottom: 10px;
  background: url("v2/Logo_Orange_withHover.png");
}

/* line 19, ../../sass/components/header.scss */
a#logo:hover {
  background-position: -122px 0;
}

/* line 22, ../../sass/components/header.scss */
#username {
  margin-left: 1px;
}

/* line 26, ../../sass/components/header.scss */
#homepage #username {
  color: white;
}

/* line 30, ../../sass/components/header.scss */
#login {
  position: relative;
  float: right;
  color: #4f4e4e;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 40, ../../sass/components/header.scss */
li#login {
  float: right;
  color: #4f4e4e;
  text-decoration: none;
  margin-left: 10px;
  top: 0px;
}

/* line 48, ../../sass/components/header.scss */
li#login_peerlearning {
  float: left;
  color: #8f8f8f;
  text-decoration: none;
  margin-left: 10px;
  top: 0px;
}

/* line 57, ../../sass/components/header.scss */
#homepage li#login_peerlearning {
  float: left;
  color: #8f8f8f;
  text-decoration: none;
  margin-left: 10px;
  top: 0px;
  color: white;
}

/* line 67, ../../sass/components/header.scss */
#homepage_login {
  position: relative;
  float: right;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 76, ../../sass/components/header.scss */
li#homepage_login {
  float: left;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  top: 0px;
}

/* line 84, ../../sass/components/header.scss */
img.profile-arrow {
  margin-bottom: 1px;
  margin-left: 5px;
}

/* line 88, ../../sass/components/header.scss */
.profile-avatar {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -5px;
  margin-right: 7px;
  background-color: #ccc;
}

/* line 96, ../../sass/components/header.scss */
#dropdown-box {
  position: absolute;
  top: 25px;
  right: 0px;
  z-Index: 99;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 111, ../../sass/components/header.scss */
tr#dropdown-text {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 115, ../../sass/components/header.scss */
tr#dropdown-text-last {
  color: #ccc;
}

/* line 118, ../../sass/components/header.scss */
td#dropdown-text {
  font-weight: 700;
  font-size: 12px;
  color: #666666;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 30px;
}

/* line 128, ../../sass/components/header.scss */
table#menu {
  position: relative;
  float: right;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 134, ../../sass/components/header.scss */
td#menu_teach, td#menu_suggest, td#menu_business {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 141, ../../sass/components/header.scss */
td#menu_learn, td#menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 151, ../../sass/components/header.scss */
td#menu_learn {
  width: 180px;
}

/* line 154, ../../sass/components/header.scss */
td#menu_teach {
  width: 180px;
}

/* line 157, ../../sass/components/header.scss */
td#menu_suggest {
  width: 180px;
}

/* line 160, ../../sass/components/header.scss */
td#menu_business {
  width: 180px;
}

/* line 163, ../../sass/components/header.scss */
td#menu_faq {
  width: 67px;
}

/* line 166, ../../sass/components/header.scss */
a#menu {
  color: #8f8f8f;
  text-decoration: none;
}

/* line 171, ../../sass/components/header.scss */
a#menu:visited {
  color: #8f8f8f;
  text-decoration: none;
}

/* line 175, ../../sass/components/header.scss */
a#menu:hover {
  text-decoration: none;
  color: #ff7733;
}

/* line 180, ../../sass/components/header.scss */
a#menu-active {
  text-decoration: none;
  color: #ff7733;
}

/* line 185, ../../sass/components/header.scss */
a#menu-inactive {
  text-decoration: none;
  color: #8f8f8f;
}

/* line 190, ../../sass/components/header.scss */
#homepage a#not_logged_in {
  text-decoration: none;
  color: white;
}

/* line 191, ../../sass/components/header.scss */
#homepage a#not_logged_in:visited {
  text-decoration: none;
  color: white;
}

/* line 192, ../../sass/components/header.scss */
#homepage a#not_logged_in:hover {
  text-decoration: none;
  color: #ffbd9c;
}

/* line 194, ../../sass/components/header.scss */
#homepage #not_logged_in {
  position: relative;
  float: left;
  padding-right: 10px;
  color: white;
}

/* line 201, ../../sass/components/header.scss */
a#not_logged_in {
  text-decoration: none;
  color: #4f4e4e;
}

/* line 202, ../../sass/components/header.scss */
a#not_logged_in:visited {
  text-decoration: none;
  color: #4f4e4e;
}

/* line 203, ../../sass/components/header.scss */
a#not_logged_in:hover {
  text-decoration: none;
  color: #ff7733;
}

/* line 205, ../../sass/components/header.scss */
#not_logged_in {
  position: relative;
  float: left;
  padding-right: 10px;
  color: #4f4e4e;
}

/* line 212, ../../sass/components/header.scss */
#menu18 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 20px;
}

/* line 220, ../../sass/components/header.scss */
#menu9 {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
}

/* line 227, ../../sass/components/header.scss */
#menu_faq {
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* line 235, ../../sass/components/header.scss */
#enterprise_peer_learning {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #ff7733;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* line 246, ../../sass/components/header.scss */
table#enterprise_menu {
  position: relative;
  float: left;
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 20px;
}

/* line 254, ../../sass/components/header.scss */
td#enterprise_menu_learn {
  width: 180px;
}

/* line 257, ../../sass/components/header.scss */
td#enterprise_menu_teach {
  width: 180px;
}

/* line 261, ../../sass/components/header.scss */
#enterprise_menu {
  position: relative;
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
}

/* line 272, ../../sass/components/header.scss */
#peer-learning-at {
  position: relative;
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* line 282, ../../sass/components/header.scss */
table#community_menu {
  position: relative;
  float: right;
  margin-top: 12px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 289, ../../sass/components/header.scss */
td#community_menu_teach, td#community_menu_suggest, td#community_menu_community {
  border: 1px solid #d0cdcd;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

/* line 297, ../../sass/components/header.scss */
td#community_menu_learn, td#community_menu_faq {
  border-top: 1px solid #d0cdcd;
  border-bottom: 1px solid #d0cdcd;
  border-left: 0px;
  border-right: 0px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  vertical-align: middle;
}

/* line 307, ../../sass/components/header.scss */
td#community_menu_learn {
  width: 189px;
}

/* line 311, ../../sass/components/header.scss */
td#community_menu_teach {
  width: 189px;
}

/* line 315, ../../sass/components/header.scss */
td#community_menu_suggest {
  width: 189px;
}

/* line 319, ../../sass/components/header.scss */
td#community_menu_community {
  width: 189px;
}

/* line 323, ../../sass/components/header.scss */
td#community_menu_faq {
  width: 67px;
}

/* line 328, ../../sass/components/header.scss */
a.sub-nav-active {
  color: black;
}

/* line 331, ../../sass/components/header.scss */
a.sub-nav-inactive {
  color: #8f8f8f;
}

/* line 334, ../../sass/components/header.scss */
a.sub-nav-active:hover {
  text-decoration: none;
  color: #ff7733;
}

/* line 338, ../../sass/components/header.scss */
a.sub-nav-inactive:hover {
  text-decoration: none;
  color: #ff7733;
}

/* line 342, ../../sass/components/header.scss */
ul.sub-nav {
  float: left;
  list-style: none;
  font-family: futura-pt-1, futura-pt-2;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

/* line 352, ../../sass/components/header.scss */
li.sub-nav-active, li.sub-nav-inactive {
  float: left;
  margin-right: 10px;
  padding-bottom: 3px;
}

/* line 357, ../../sass/components/header.scss */
li.sub-nav-active {
  border-bottom: 3px solid #ff7733;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 362, ../../sass/components/header.scss */
li.sub-nav-inactive {
  padding-left: 10px;
  padding-right: 10px;
}
