<div class="page-main white" style="margin-left: 160px">
  <div class="page-content">

  <div class="heading28 brown" style="margin-bottom: 20px">Build A New Mission</div>

  <p style="margin-bottom: 20px">
    OK! Start your mission by explaining your big, long-term goal. 
  </p>    

  <%= render 'form' %>
  
  </div>
</div>