<div class="full-page white" style="box-shadow: 2px 2px 2px #ccc; margin-bottom: 30px">
  <div class="page-content">

    <h1 class="feastfordays">About</h1>
    <%= image_tag 'feastfordays/how-it-works.png', :style => "padding-bottom: 30px;" %>

  </div>
</div>

<div style="float: left; margin-right: 30px">
  <div class="column_heading">History of Feast for Days</div>
  <div class="three_column">
    <%= image_tag 'feastfordays/cutting-veggies.jpg', :style => "margin-bottom: 20px" %>
    <p>Feast for days is the brainchild of Benjamin Franck and Jonathan Lewis. While students at the Austin Center for Design they extensively researched food access issues in the Austin area.</p>
    <p class="quote" id="feastfordays">They spent countless hours at food pantries, farmer’s markets, and grocery stores watching people shop, prepare, and consume food.</p><p> They boiled (no pun intended) all of their conversations and findings into three key insights.</p>
    <strong>
    <p>1. People use food to connect with others.</p>

    <p>2. Changing eating habits is hard.</p>

    <p>3. Cooking skills are best learned by doing.</p>
    </strong>
    <p>Then came the idea for Feast for Days. People cook and share food in a fun environment, while saving time and money. Care to join us?</p>
  </div>
</div>
<div style="float: left; margin-right: 30px">
  <div class="column_heading">Thoughts from Ben</div>
  <div class="three_column">
    <%= image_tag 'feastfordays/ben.jpg', :style => "margin-bottom: 20px" %>
    <p>
    I come from a proud heritage of bakers. My grandma makes an amazing marble cake. My mom creates homemade donuts to die for. As for me, I enjoy preparing desserts that are a little less conventional. I love trying recipes that include healthy ingredients such as black beans as excuse to consume more sugar.</p>

    <p class="quote" id="feastfordays">Quick tip: if you bake spinach cookies, freeze the spinach first. I once forgot to. The results were gross.</p>

    <p>As I became a more experienced baker I quickly discovered the value of community. It is highly motivating to watch your friends and family enjoy a dish you have carefully prepared.</p>

    <p>However, sometimes it isn't easy to build that positive network surrounding food. This is the main reason I'm so excited about Feast for Days: it gives people an opportunity to build a healthy community through food. I can't wait to be a part of it.</p>
  </div>
</div>
<div style="float: left;">
  <div class="column_heading">Thoughts from Jonathan</div>
  <div class="three_column">
    <%= image_tag 'feastfordays/jon.jpg', :style => "margin-bottom: 20px" %>
    <p>Sometimes I feel like I created this business for myself. Before researching issues surrounding food access, cooking used to be last on my priority list, right behind finishing my novel where I’ve only written the opening line,</p>

    <p class="quote" id="feastfordays">“I could tell by the orange cheeto dust on her fingers that she had been making dinner.”</p>

    <p>Usually I would go out to eat or go “grocery shopping” where I would buy food that was already prepared and feel slightly better about myself because I did not technically go to a restaurant.</p>

    <p>As I talked with people at grocery stores, farmer’s markets, and kitchen tables I realized that it’s important for everyone to have a palette that can tolerate different tastes and know how to prepare different kinds of food.  My dietary decisions were not only hurting my pocket book and causing me to sweat when I brushed my teeth but they also caused me to miss out on meaningful social experiences.</p>

    <p>All that being said, Ben and I believe there is something powerful about people coming together to prepare food and share with one another.</p>

    <p>Bon Appetit!</p>
  </div>
</div>

