<h1>FAQ</h1>
<br>
<strong>What is Feast for Days?</strong>
<p>Feast for Days is an online company that makes it easy for people to cook and share food.</p>

<strong>What does Feast for Days do?</strong>
<p>The collaborative cooking startup is centered on an online platform that promotes connecting and cooking with friends and neighbors through organized Feasts. It incorporates cooking’s experiential qualities to facilitate personal connection through the many benefits of collaborative cooking that include: it’s fun, it builds cooking literacy and has the power to change the way people interact with food.</p>

<strong>Does Feast for Days have a larger mission?</strong>
<p>Feasts for Days is based on three truths that we believe have the power to affect change on many levels.</p>

<ol>
  <li>People use food as the setting for connecting with others. You can't separate community and interpersonal connection from food.</li>
  <li>Cooking with people is fun. This is even true for people who normally dislike cooking and can lead to changing the way they interact with food through healthier meal decisions.</li>
  <li>People learn how to cook by actually cooking.</li>
</ol>

<strong>Who is Feast for Days?</strong>
<p>A community of individuals with the desire to connect with others through cooking. Founder Jonathan Lewis created Feast for Days with the simple purpose of changing the world through cooking and sharing food.</p>

<strong>Who uses Feast for Days?</strong>
<p>People with the desire to connect with others through cooking. Our community has identified value to various aspects of the Feast for Days platform that includes joy of cooking, community, food literacy and collaborative creation.</p>

<strong>What is the general process for a Feast?</strong>
<ol>
  <li>“Hosts” login to the Feast for Days website and post a meal or series of meals (a "Feast") as well as set a price per participant for a Feast.</li>
  <li>Visitors to the Feast for Days site can then sign up and pay in advance to participate in a Feast.</li>
  <li>Host coordinates Feast.</li>
  <li>People cook together. Good things happen.</li>
</ol>

<strong>What are the benefits for being a Feast Host?</strong>
<p>Some people love to cook large meals and seek outlets to share their hobby, while others enjoy planning social gatherings to meet new people or find new experiences to share with friends. If you wear either or both of these hats, hosting a Feast is for you.</p>

<strong>What are the benefits for participating in a Feast?</strong>
<p>Looking for an alternative experience for meeting new people or honing your cooking skills? Great, participating in a Feast is for you. Best of all, cooking with others is fun and a relatively inexpensive and productive experience compared to other leisure activities.</p>

<strong>Are there refunds for Feasts?</strong>
<p>If a Host cancels a Feast, all participants will be fully refunded the cost of the Feast. However, once a participant requests to join a Feast, the Feast for Days platform is currently unable to refund participants that cannot or do not attend.</p>

<strong>Why should someone join the Feast for Days community?</strong>
<p>Cooking with people is fun. This is even true for people who normally dislike cooking and can lead to changing the way a person interacts with food through healthier meal decisions.</p>

<strong>How is Feast for Days involved in the collaborative consumption movement?</strong>
<p>Feast for Days is based on a collaborative creation model, which is a slightly new way of looking at collaborative consumption. Right now, collaborative consumption is about how an individual can leverage the cost of what he or she buys through sharing it with others. Or in other cases how a group of people can offset the cost for a single use of something. Collaborative creation is about using the collective resources of a group to create something for use by everyone in the group. Feast for Days provides a platform for people to pool their knowledge, time and financial resources to create something great (food).</p>

<strong>How are Hosts reimbursed and compensated for Feasts?</strong>
<p>The day after a Feast, Hosts receive payment through PayPal based on the predetermined Feast price and total participants.</p>

<p>In addition, Hosts are not charged for their portion of a Feast, but instead it is included into the participant cost. This is one of the primary Host benefits and it is important a Host includes their portion of the total cost into the Feast price.</p>

<strong>Is there a fee for using Feast for Days?</strong>
<p>Feast for Days receives 15 percent of the Feast price per person. This fee is included by the Host in the Feast price. The fee is the basis for Feast for Days business model to make it easy for people cook and share food.</p>
