<div class="full-page white" style="box-shadow: 2px 2px 2px #ccc;">
  <div class="page-content">

    <h1 class="feastfordays" style="margin-bottom: 30px">
      How does this thing work?
    </h1>

    <div style="font-family: 'Open Sans', sans-serif; color: #402b15; line-height: 24px">
      In short, we help connect people to collaboratively cook and share food during cooking sessions we call Feasts. We’ve tried to break down how our system works into the steps below. If you have questions, please don’t hesitate to <a href="mailto:jonathan@feastfordays.com" style="text-decoration: underline">email us</a>.
    </div>

    <%= image_tag('feastfordays/how_it_works_big.png') %>

    <p style="font-size: 10px">Icons from <a href="http://thenounproject.com/">The Noun Project</a>, <a href="http://thenounproject.com/noun/kitchen-fork/#icon-No2520">Kitchen Fork</a> by <a href="http://cargocollective.com/connie">Connie Shu</a>, <a href="http://thenounproject.com/noun/box/#icon-No4735">Box</a> by Oliver Guin, <a href="http://thenounproject.com/noun/chef/#icon-No2206">Chef</a> by Maurizio Storto, <a href="http://thenounproject.com/noun/calendar/#icon-No404">Calendar</a> by The Noun Project

  </div>
</div>