<div class="container_16" style="width: 960px">
  <% @courses = Course.where(:account_id => 1).where("starts_at < ?", Time.zone.now).order('DATE(starts_at) DESC') %>
  <% @courses.each do |course| %>
    <%= render :partial => "/shared/course_grid", :locals => {:course => course}  %>
  <% end %>
</div>