<span class='facebookShareMain' data-url="<%= users_facebook_share_index_path(:limit => local_assigns[:limit], :message => local_assigns[:message], :link => local_assigns[:link], :name => local_assigns[:name]) %>">
</span>


