<div class="grid_2" style="margin-right: 30px">
  <%= link_to "About", about_path %><br>
  <%= link_to "Story", story_path %> <br>
  <%= link_to "Team", team_path %>
</div>

<div class="marcomm-with-sidebar">
  <div class="page-content">

    <center>
    <div class="marcomm-header">
      <div class="heading25_666"> All Students are Teachers. They just don't know it yet.</div>

      <%= image_tag 'v2/arrow_grey_profile.png', :class => 'profile-arrow' %>
    </div>
    </center>
    
    <div class="grid_12">
      <div class="heading15-marcomm">What is HourSchool?</div>
        <p>We’re building a social school from your community. We believe everybody has something they can teach and people learn the most and are most willing to learn when they know and trust their teachers. Our mission is to empower people to be teachers and makes it easier for anyone to become a student. We define our success by people becoming teachers.</p>
    </div>
    
    <div class="about-hourschool-box">
      <div class="grid_4">
        <div class="heading15-marcomm-grey">HourSchool in your city</div>
        <p>Always wanted to learn how to fix your bike? Grocery shop on a budget? Learn how to use the letterpress? We bet there's someone around you that can teach you. </p>
        <p>Learn more...</p>
      </div>
    
      <div class="grid_7">
        <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="320" height="197" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
      </div>
    </div>
    
    <div class="about-hourschool-box">
      <div class="grid_5">
        <div class="heading15-marcomm-grey">HourSchool for Enterprise</div>
        <p>Want to foster a learning culture and have a campus at your company or non-profit? You can!</p>
        <p>Learn more...</p>
      </div>
    </div>
 
    <div class="about-hourschool-box">      
      <div class="grid_5">
        <div class="heading15-marcomm-grey">HourSchool for non-profits</div>
        <p>Want to foster a learning culture and have a campus at your company or non-profit? You can!</p>
        <p>Learn more...</p>
      </div>
    </div>
       
       
    <div class="grid_12">
    
    <div class="heading15-marcomm">Core principles we believe in:</div>

      <ul class="noBullet-marcomm">
        <li class="heading15-marcomm-grey"><span class="list-number">1</span>Classes should be small and friendly.</li>
          <p>Our ideal class is when you know some and don’t know others. every class you’re not there all by yourself. you’re with your friends so you’re having fun. but you’re also meeting new people.</p> 
        <li class="heading15-marcomm-grey"><span class="list-number">2</span>Classes should be short and sweet.</li>
          <p>Our bite-sized one-hour classes give students a taste of a new topic, inspire and leave students energized</p>
        <li class="heading15-marcomm-grey"><span class="list-number">3</span>Everyone is a teacher.</li>
        <li class="heading15-marcomm-grey"><span class="list-number">4</span>Everyone should teach.</li>
        <li class="heading15-marcomm-grey"><span class="list-number">5</span>Learning should be student-driven and pro-active.</li>
      </ul>
      
    </div>
  </div>
</div>

