<div class="heading32">About</div>

<div style="float: left; width: 630px">
  <div class="page-main">
    <div class="page-content">
      <div class="heading11 marcomm">Who we are</div>
      <p>We are a group of students, teachers, writers, designers, filmmakers, chefs, mechanics, engineers, thinkers and explorers who meet in person to share knowledge, skills, and resources to continually push each other to keep learning and doing new things.</p>
    </div>
  </div>

  <div class="page-main">
    <div class="page-content">
      <div class="heading11 marcomm">What we do</div>
      <p>Simply put, we run Missions.  We pick things we want to accomplish, and we connect each other with the necessary people, tools, frameworks, and support to get it done.  Oh, and we make sure we’re all having a grand ‘ol time along the way.</p>
      <div class="big-quote">“Information is not knowledge. The only source of knowledge is experience.”</div>
      <p style="text-align: right; margin-bottom: 20px">-Albert Einstein</p>
      <p>If the basic building block of traditional learning is lessons, and the basic building block for solo endeavors is mistakes and hard knocks, our kind of learning is all about missions. Missions can be self-created, or co-created, but you always share them with other people – experts and peers alike.</p>
      <p>Missions are goal-driven, not content-driven. You complete them when you feel like you’re able to do what you set out to do, whether it’s fix your own car, or create a healthy meal from scratch, from growing your own vegetables to making your own marinara sauce.</p>
      <p>And the mission model is circular, not linear. Milestones are constantly changing as you learn more about the topic, discover new stuff you’d still like to try, and branch out in new directions. If you want to stay engaged, and start teaching others what you yourself have learned, the mission can go on and on. As long as it keeps your interest, we think you should keep  experimenting and stay engaged.  Explore our Missions.</p>
    </div>
  </div>

  <div class="page-main">
    <div class="page-content">
      <div class="heading11 marcomm">What we believe</div>
      <p>It’s simple. We think life is better when you’re learning. We think it’s deceptively easy to slip into the routine and to stick with what you know.  We think sometimes the best way to keep growing is to get together with other people and learn. </p>
      <div class="big-quote">We think school doesn’t have to be about classrooms and curriculums.  It can be about garages and get-togethers. </div>
      <p>We belive that everyone can and should teach.  You are the expert of your own stories, share them!</p>
      <iframe src="http://player.vimeo.com/video/42154383?byline=0&amp;color=ff9933" width="570" height="321" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
</div>

<div style="float: left; width: 300px; margin-left: 30px">
  <div class="page-right-sidebar">
    <div class="page-content">
    <div class="heading11 marcomm">About</div>
    <div class="heading16">Who we are</div>
    <p style="font-size: 11px; margin-bottom: 15px">
      Meet a community of awesome people who believe in doing
    </p>

    <div class="heading16">What we do</div>
      <p style="font-size: 11px; margin-bottom: 15px">
        What's all this about anyways?
      </p>

    <div class="heading16">What we believe</div>
    
    </div>
    
  </div>

  <p>Quote here</p>

</div>