<div class="heading32 green">Build a School</div>

<center>

  <div class="screen-tip" style="margin-top: 100px; z-index: 1001; position: relative">
    Custom CSS and branded platform
  </div>

<div id="myCarousel" class="carousel slide">

  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag 'v3/build_school/HS_FedEx_MockUps_Homepage.jpg' %></div>
    <div class="item"><%= image_tag 'v3/build_school/HS_FedEx_MockUps_Events.jpg' %></div>
    <div class="item"><%= image_tag 'v3/build_school/HS_FedEx_MockUps_MissionPage.jpg' %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>
</center>



<script type="text/javascript">
  $('.carousel').carousel({
    interval: false
  })
</script>