<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-inactive">
          <a href="/about" class="sub-nav-inactive">About</a>
        </li>
        <li class="sub-nav-inactive">
          <a href="/story" class="sub-nav-inactive">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-active">
            <a href="/campaign" class="sub-nav-active">Campaign</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">The start of a peer-teaching fund</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>

    <div class="grid_6">
      <div class="heading15-marcomm">Returning to the founding idea of HourSchool to give back</div>
      <p>HourSchool began as a project on homelessness. During a research project at the Austin Center for Design, Alex and Ruby realized people lack a channel to give and share their skills, which indirectly hurts their emotional abilities to believe they can change their situation. HourSchool was built based on the belief that everyone has someone to teach. Our mission is to help people realize that, and fulfill the financial and emotional needs that comes along with teaching.</p>
      
      <div class="heading15-campaign">How you can support the Peer-Teaching Fund</div>
      <p>Teach a class or ask someone else to teach a class, and choose to donate your class proceeds towards our peer teaching fund! By peer-teaching today, you are enabling and empowering someone else to peer teach. Tt the moment, you can’t directly contribute monetarily without teaching.</p>
        
    </div>

    <div class="grid_7">
      
    </div>

  </div>
</div>