<div class="full-page white">
  <div class="page-content">

  <%= render :partial => '/pages/show/subnav/about-subnav' %>

  <%= image_tag 'v4/community/handbook.png', :style => "width: 200px" %>

  <iframe src="http://player.vimeo.com/video/40254660" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/40254660">Local Spotlight #01 Urban Roots</a> from <a href="http://vimeo.com/hourschool">HourSchool</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  </div>
</div>