.full-page
  .page-content
    .heading25_666 Business Communications Club at McCombs School of Business

    .heading15-marcomm Mission
    %p To provide a non-threatening environment for students to improve their public speaking and social skills in a variety of business settings. With constructive feedback from MBA+ Coaches and peers, the Business Communications Club will help enable us to become stronger and confident business leaders.
    %br
    .heading15-marcomm Who should join?
    %p All McCombs MBA students are welcome to join. The more who participate, the more you benefit. 
    %br
    .heading15-marcomm Contact Us
    %p President: Jessica Cheng (jessica.cheng@mba13.mccombs.utexas.edu)
    %p VP: Philip Marrone (Philip.Marrone@mba13.mccombs.utexas.edu)
    %p VP: Erin Whalen (Erin.Whalen@mba13.mccombs.utexas.edu)
   