<%= render :partial => '/pages/show/subnav/about-subnav' %>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Events & Appearances
    </p>
  </center>
</div>
<hr>

<div class="container_16" style="width: 960px">
<p style="font-size: 15px; line-height: 2em">Here are our outs and abouts. Come by and say hi! We would love to learn about you and what you're working on!</p>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Co-working spaces we work out from:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Center61, Austin TX</li>
    <li style="line-height: 2em">Austin Center for Design, Austin TX</li>
    <li style="line-height: 2em">Hub LA, Los Angeles CA</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Conferences/Events we've spoken at:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">July 2013, Community Leadership Summit, Portland OR</li>
    <li style="line-height: 2em">June 2013, GovJam, Los Angeles CA</li>
    <li style="line-height: 2em">May 2013, RISE, Austin TX</li>
    <li style="line-height: 2em">March 2013, SXSW Edu, Austin TX</li>
    <li style="line-height: 2em">March 2013, Service Jam, Los Angeles CA</li>
    <li style="line-height: 2em">Nov 2012, Silicon Beach Fest panel, Los Angeles CA</li>
    <li style="line-height: 2em">June 2012, A2Reskilling Festival, Ann Arbor MI</li>
    <li style="line-height: 2em">March 2012, RISE, Austin TX</li>
    <li style="line-height: 2em">March 2012, SXSW, Austin TX</li>
    <li style="line-height: 2em">Nov 2011, International Conference for Interaction Design, Hong Kong</li>
    <li style="line-height: 2em">Oct 2011, Service Design Global Conference, San Francisco CA</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Local meetups we attend:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Open Coffee, Austin TX [weekly]</li>
    <li style="line-height: 2em">Refresh Austin [monthly]</li>
    <li style="line-height: 2em">Continue Some Good BBQ, Austin TX [quarterly]</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Case study on HourSchool in these publications:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Service Design, From Insight to Implementation, by Andy Polaine, Lavrans Lovlie, and Ben Reason, published by Rosenfeld</li>
    <li style="line-height: 2em">Wicked Problems, by Jon Kolko, self-published</li>
    <li style="line-height: 2em">Touchpoint Vol.3 No. 3 "From Sketchbook to Spreadsheet" </li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 40px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Awards:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Core 77 Award, Service Design Professional Category, Notable Mention</li>
    <li style="line-height: 2em">Pitch Some Good Competition @ SXSW 2012</li>
    <li style="line-height: 2em">Design Ignites Change, Idea Award</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="well">
    <p style="font-size: 15px; line-height: 2em">If you plan to be at an event where we’ll be speaking or attending, we’d love to say hello. Drop us a note at <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com", :style => "color: #ff7733"  %>!</p>
  </div>
</div>