<style type="text/css">
  .section-header{font-size: 40px;}
  .big-quote{font-size: 18px; font-style: italic;}

  a {
    color: #ff7733;
    &:visited {
      color: #ff7733; }
    &:active, &:hover {
      color: #ff7733; } }

</style>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <p class="lead section-header">Project: Green Doors</p>
  <%= image_tag 'v4/services/greendoors.jpg', :style => "margin: 10px 0 20px 0" %>
      <div class="big-quote">
      “The Hour School team has contributed significantly to the development of peer-led learning and social activities at Pecan Springs Commons, helping to build community and support leadership development efforts among our residents...Their thoughtful, inquisitive, and solutions-focused approached has allowed them to quickly identify the opportunities and resources available in the community, working to leverage these assets in their program design.”
    </div>
    <p>- Andi Shively, DIRECTOR OF COMMUNITIES, GREEN DOORS</p>
</div>
<hr>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">

  <div class="span8" style="margin: 0 20px 0 0">
    <div class="heading14" style="margin-top: 10px; margin-bottom: 5px">Challenge</div>
    <p>We partnered with Green Doors, a permanent supportive housing community in Austin, Texas, to co-design a peer education program. Green Doors provides housing to more than 300 residents annually, with the goal of returning residents to self-sufficiency through stable housing, case management, and support programs.</p>
    <p>Based on our common values, we committed to creating a strengths-based approach to increase participation and leadership among community residents. HourSchool staff had seen the transformative power of teaching and wanted to give residents a platform for giving back to their community as a means to boost agency and engagement. We wanted to empower residents to take charge of the learning in their own lives.</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Approach & Insights</div>
    <p>HourSchool worked collaboratively with the community to identify the needs of both staff and residents. We wanted to ensure our peer-education program fit seamlessly into people’s busy lives and was sustainable beyond our initial partnership. Through iterative prototyping and service design, we co-created a program solution for Green Doors residents to request, sign up for, learn about new classes, and propose classes they could teach.</p>
    <p>We were able to integrate the peer-education program into the community by identifying the following key leverage points:
      <ul>
        <li>the relationship between the community manager and the residents,</li>
        <li>available public spaces, and</li>
        <li>regularly-scheduled community events</li>
      </ul>
    </p>
    <p>We quickly realized the importance of the community manager. Not only would she be spearheading the logistical efforts to organize events, she would also be the one training residents in how they could interact with the program (through templates, requests, and meetings with her). Furthermore, we needed to empower her with the tools to continue making decisions and adjustments to the service blueprint as the program continued to evolve after we left. Our work amplified her efforts at engaging the community.</p>
    <p>In order to connect with the community and to start building trust early on, we met casually but continually with people outside of formal research and design sessions. Some of our most valuable insights and design work ended up happening at monthly Resident Council Meetings—community meetings where hot issues, such as laundry room complaints or new playground rules, were discussed.</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Impact</div>
    <p>The peer-education program increased attendance at community events and brought residents together over common interests. Over time, the Resident Council Meetings became a key touchpoint in our peer education program because of their consistency in community life. Announcing new classes, soliciting requests, and recruiting volunteer organizers are now standing agenda items. As people shared stories from attending classes, the meetings became a place where residents could inspire and encourage each other to take the leap, reach for a goal, and support each other along the way.</p>
    <p>Our work with Green Doors has shifted residents’ perception of what learning can look like. They’ve realized that classes be both fun and relevant, as classes are tied to their personal goals. Residents now also have a process for shaping the programming that’s offered in their community.</p>
    <p>Additionally, our program has given individual residents the power to imagine themselves as leaders and teachers within their community and to begin thinking of ways they can share their knowledge with their neighbors.</p>

  </div>
  <div class="span4">
    <div class="heading14" style="margin-top: 10px; margin-bottom: 5px">Project Details</div>
    <p>Client: Green Doors</p>
    <p>Dates: Aug 2011 - Jun 2012</p>
    <p>Location: Austin, TX</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Reognition</div>
    <div class="row-fluid">
      <%= link_to (image_tag 'v4/services/c77da-2012-notable.png', :style => "width: 50%; margin-right: 200px"), "http://www.core77designawards.com/2012/recipients/building-peer-education-programs-hour-time/", :target => "_blank" %>
      <p style="width: 200px">Notable winner of Core77 Design Award, Service Design Category</p>
    </div>
    <div class="row-fluid" style="margin-top: 20px">
      <%= link_to (image_tag 'v4/services/rosenfeld-service-design-book.png', :style => "width: 50%; margin-right: 200px"), "http://rosenfeldmedia.com/books/service-design/", :target => "_blank" %>
      <p style="width: 200px">Mentioned as a case study in Service Design: From Insight to Implementation</p>
    </div>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Stories from the field</div>
    <p>Coming soon</p>
  </div>
</div>

<hr>


<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 5px">Photos from the field</div>
  <p>Coming soon</p>
</div>


