<div class="heading32 green">Partner Schools</div>

<div style="float: right; margin-top: -50px; margin-right: 20px">
  Choose a city:
  <select class="span3">
    <option>Austin, TX</option>
    <option>Ann Arbor, MI</option>
    <option>Waterloo, ON</option>
    <option>San Francisco, CA</option>
  </select>
</div>

<div>

  <div style="float: left; width: 300px; height: 180px; margin-right: 20px">
    <%= link_to image_tag('v3/partner_schools/womendesignbuild.jpg'), new_pre_mission_signup_path(:mission => 'Design thinking and making'), :class => "preMissionSignup", 'data-mission' => 'Design thinking and making' %>
  </div>

  <div style="float: left; width: 300px; height: 180px; margin-right: 20px; background-color: #ccc">
    
  </div>

  <div style="float: left; width: 300px; height: 180px;; background-color: #ccc">
  
  </div>

  <div style="float: left; width: 275px; height: 52px; background-color: white; margin-right: 20px; margin-bottom: 30px; opacity: 0.85; margin-left: 5px; margin-top: 5px; padding-top: 10px; padding-left: 15px">
    <div class="title-text" id="explore">Women.Design.Build</div>
    <div class="heading11" id="explore">Austin, TX</div>
  </div>

  <div style="float: left; width: 275px; height: 52px; background-color: white; margin-bottom: 30px; opacity: 0.85; margin-top: 5px; margin-right: 22px; margin-left: 10px; padding-top: 10px; padding-left: 15px">
    <div class="title-text" id="explore">So Good Network</div>
    <div class="heading11" id="explore">Austin, TX</div>
  </div>

  <div style="float: left; width: 277px; height: 53px; background-color: white; margin-bottom: 30px; opacity: 0.85; margin-left: 7px; margin-top: 5px; padding-top: 10px; padding-left: 15px">
    <div class="title-text" id="explore">Feast for Days</div>
    <div class="heading11" id="explore">Austin, TX</div>
  </div>

</div>

