<div class="heading32 green">Partner Schools</div>

<div>

  <%= image_tag 'v3/partner_schools/annarbor.png' %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore">The Sustainable Living Network</div>
    <div class="heading11" id="explore">Ann Arbor, MI</div>
    <p>We are a group of Ann Arbor residents who believe in sustainbable living and ongoing education. From sustainable home building, to building chickten coops, from eating healthy and local to maintaining your bicycle, join us! </p>
    <span class="label">Coming soon</span>
  </div>

  <%= image_tag 'v3/explore/mission-soGoodNetwork.png' %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore">The So Good Network</div>
    <div class="heading11" id="explore">Austin, TX</div>
    <p>The SoGood Network is an exciting new initiative that is striving to be the heart of social innovation and change in Austin. All inclusive group that may come from a variety of backgrounds and industries, but focused on making a difference in the world. It will bring together passionate, innovative, and smart individuals, groups, and other organizations looking to connect with one another.</p>
    <span class="label">Coming soon</span>
  </div>

  <%= image_tag 'v3/partner_schools/theloom.png' %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore">The LOOM</div>
    <div class="heading11" id="explore">Philly, PA</div>
    <p>The LOOM is a growing network of working spaces designed to meet the needs of entrepreneurs, artists, and innovators. Much like a LOOM, our buildings are designed and operated to weave together a diverse set of creative and innovative entrepreneurs and artisans such as; fine artists, food artisans, technology companies and new start ups of every manner.</p>
    <span class="label">Coming soon</span>
  </div>

</div>

