<div class="container_16" style="width: 960px">
  <div class="heading14" style="margin-top: 30px">YOUR PRIVACY RIGHTS</div>
  <p>HourSchool Inc (“we,” “us,” “our,” or "HourSchool") knows that you care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about how we use your personal information. By visiting, accessing or using the http://www.hourschool.com website, and any other linked pages, features, content, or application services (including mobile applications) offered from time to time by HourSchool in connection therewith (collectively, the “Website”), or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy. For more information on the HourSchool community, please click here.</p>

  <div class="heading14" style="margin-top: 30px">WHAT DOES THIS PRIVACY POLICY COVER?</div>
  <p>This Privacy Policy covers HourSchool's treatment of personally identifiable information (“Personal Information”) that HourSchool gathers when you access the Website and when you use HourSchool's services. This policy does not apply to the practices of companies that HourSchool does not own or control (including any third-party products or services used for logging into the Website or that are integrated with the Website), or to individuals that HourSchool does not employ or manage. The Website may contain links to other sites. Company is not responsible for the privacy policies and/or practices on other sites. When linking to another site a user should read the privacy policy stated on that site.</p>

  <div class="heading14" style="margin-top: 30px">WHAT PERSONAL INFORMATION DOES HOURSCHOOL COLLECT?</div>
  <p>The information we gather from users enables us to provide, personalize and improve our services, and allows our users to set up a user account and profile that can be used to personalize their experience on the Website and our service and interact with other users through the site. In connection with the Website, we request and display some personal information to other users and visitors of the Website, which allows users to identify one another. We collect the following types of information from our users:</p>

  <div class="heading14" style="margin-top: 30px">PERSONAL INFORMATION YOU PROVIDE TO US:</div>
  <p>When you create an account on our service, we require you to enter your birthdate in order to verify that you are not a child as defined by the Children’s Online Privacy Protection Act of 1998. If you are a child, we require you to have your parent create an account on your behalf and manage your use of the Website and our service. To create an account we ask you to provide your first and last name, email address, and choose a password.</p>

  <p>Once your account is created, we send an email to the provided email address prompting you to confirm your account. In addition, if you elect to participate in any paid features of our service, we may collect additional billing information such as a mailing address. As only an adult (18 years of age or older) can enter into any transaction or subscription with respect to such paid features, if a minor wishes to participate in these features we ask them to obtain parental permission, and require that they provide their parent’s name and email in order to do so.</p>

  <p>HourSchool does not intentionally collect any personal information from children. However, as part of the functionality of our service, we allow accounts created by minors to upload certain content to the site, including photos. We take measures to prevent minors from communicating personal information through these features, but we cannot guarantee the effectiveness of these measures. If you use these features to disclose personally identifiable information, you should be aware that such information could be read, collected, or used by other users and/or third parties. You agree not to provide any personally identifiable information through these features, and we are not responsible for any personally identifiable information that you provide using these features.</p>

  <p>You can choose not to provide us with certain information, but then you may not be able to create an account or take advantage of many of the Website’s special features. The Personal Information you provide is used for such purposes as obtaining account confirmation as set forth above, answering questions, improving the content of the Website, responding to your requests for certain information, products and services, attribution for content you submit, customizing the advertising and content you see, allowing you to communicate with other users, and communicating with you about HourSchool's products and services, including specials and new features.</p>

  <div class="heading14" style="margin-top: 30px">PERSONAL INFORMATION COLLECTED AUTOMATICALLY:</div>
  <p>We receive and store certain types of information whenever you interact with our Website or use our services. HourSchool automatically receives and records information on our server logs from your browser including your IP address, cookie information, browser information, operating system, timestamps, the pages you request, and the actions and path you take on the Website.</p>

  <p>Generally, our service automatically collects usage information, such as the numbers and frequency of visitors to our Website and how they use its various components. HourSchool only uses this data in aggregate form, that is, as a statistical measure, and not in a manner that would identify you personally. This type of aggregate data enables us to figure out how users use parts of the Website or services so that we can make the Website appealing to as many users as possible, and improve those services. As part of this use of information, we may provide aggregate information to our partners about how our users, collectively, use our Website or services. We share this type of statistical data so that our partners also understand how people use the Website or services, so that they, too, may provide you with an optimal online experience. Again, HourSchool never discloses aggregate information to a partner in a manner that would identify you personally.</p>

  <div class="heading14" style="margin-top: 30px">E-MAIL COMMUNICATIONS:</div>
  <p>We may use your contact information to send emails to you about HourSchool and other related topics that may be of interest to users of the Website, as well as for the other reasons set forth in this Privacy Policy. We may receive a confirmation when you open an email from HourSchool if your computer or device supports this type of functionality. HourSchool uses this confirmation to help us make emails more interesting and helpful and to improve the Website and our services. When you receive e-mail from HourSchool, you can opt out of receiving further e-mails by following the included instructions to unsubscribe. You can also opt out of these communications within your account settings or by sending us an email at hello@HourSchool.com..</p>

  <div class="heading14" style="margin-top: 30px">WHAT ABOUT COOKIES?</div>
  <p>Cookies are alphanumeric identifiers that we transfer to your computer’s (or other device’s) persistent storage medium (e.g., hard drive) through your browser to enable our systems to recognize your browser and tell us how and when pages in our site are visited and by how many people. We use cookies to enhance visitors’ experiences, to learn more about their use of the Website and to improve quality.</p>

  <p>Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. We strongly recommend that you leave the cookies activated, however, because cookies enable you to take advantage of some of our Website’s most attractive features.</p>

  <p>We may use standard Internet technology, such as web beacons and other similar technologies, to track your use on our sites and software. We also may include web beacons in promotional e-mail messages or newsletters to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer our visitors/customers to deliver targeted advertisements and to measure the overall effectiveness of our online advertising, content, programming or other activities.</p>

  <p>We may allow third parties, including our authorized service providers, advertising companies, and ad networks, to display advertisements on our site and/or software. HourSchool and these companies may use tracking technologies, such as cookies, to collect information about users who view or interact with these advertisements and connect to the HourSchoolproperties and/or software. Our properties do not provide any personal information to these third parties. This information allows HourSchool and these companies to deliver targeted advertisements and gauge their effectiveness.</p>

  <div class="heading14" style="margin-top: 30px">WILL HourSchool SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</div>
  <p>Personal Information about our users is an integral part of our business. We neither rent nor sell your Personal Information to anyone.</p>

  <p>With respect to a child’s Personal Information:</p>

  <p>HourSchool will not knowingly contact children under the age of 13 about special offers or for marketing purposes without parental consent.</p>

  <p>HourSchool will not knowingly send Personal Information about a child to other companies or people, except when: we have a parent’s consent to share the information or we are required to do so to comply with the law, including for example, to comply with a court order or subpoena; to enforce our Terms of Service, or site rules; or to protect the safety and security of our users and site.</p>

  <p>If HourSchool, or substantially all of its assets were acquired, or in the unlikely event that HourSchool goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. As set forth below, you acknowledge that such transfers may occur, and that any acquirer of HourSchool may continue to use your Personal Information as set forth in this policy. This Privacy Policy inures to the benefit of successors and assigns of HourSchool.</p>

  <div class="heading14" style="margin-top: 30px">WITH RESPECT TO PERSONAL INFORMATION OTHER THAN A CHILD’S PERSONAL INFORMATION, WE SHARE SUCH PERSONAL INFORMATION ONLY AS DESCRIBED BELOW.</div>

  <p>Advertisers: As discussed above, we may allow advertisers to choose the demographic information of users who will see their advertisements and you agree that we may use any of the information we have collected from you (including, without limitation, information you may have decided not to show to other users) to select or allow the advertiser to select the appropriate audience for those advertisements. For example, we may allow an advertiser to target an ad to you based on your query history.</p>

  <p>Affiliated Businesses We Do Not Control: We anticipate that we may become affiliated with a variety of businesses and work closely with them. In certain situations, these businesses may sell items to you through the Website. In other situations, HourSchool may provide services, or sell products jointly with affiliated businesses. You can easily recognize when an affiliated business is associated with your transaction, and we will share your Personal Information that is related to such transactions with that affiliated business.</p>

  <p>Agents: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you. Unless we tell you differently, HourSchool's agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us or otherwise for the benefit of HourSchool. You hereby consent to our sharing of Personal Information for the above purposes.</p>

  <p>User profiles: User profile information including users’ name, email address, and other information you enter (“User Submissions”) may be displayed to other users to facilitate user interaction within the Website. Email addresses are used to add new User Submissions to user profiles and to communicate to you. Users’ email addresses will not be directly revealed to other users by HourSchool, except, when the user is “connected” to another user via registration for a workshop, apprenticeship, or other HourSchool event.</p>

  <p>Communication in response to User Submissions: As part of the Website and services, you may receive from HourSchool email and other communication relating to your User Submissions. You acknowledge and agree that by posting such User Submissions, HourSchool may send you email and other communication that it determines in its sole discretion relate to your User Submissions.</p>

  <p>Business Transfers: In some cases, we may choose to buy or sell assets. In these types of transactions, user information is typically one of the business assets that are transferred. Moreover, if HourSchool, or substantially all of its assets were acquired, or in the unlikely event that HourSchool goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of HourSchool or its assets may continue to use your Personal Information as set forth in this policy. This Privacy Policy inures to the benefit of successors and assigns of HourSchool.</p>

  <p>Protection of HourSchool and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the any applicable law, regulation or other legal requirement; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of HourSchool, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</p>

  <p>With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.</p>

  <div class="heading14" style="margin-top: 30px">IS PERSONAL INFORMATION ABOUT ME SECURE?</div>
  <p>Your HourSchool account Personal Information is protected by a password for your privacy and security. You need to ensure that there is no unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer (or other device) and browser by signing off after you have finished accessing your account. HourSchool endeavors to protect user information to ensure that user account information is kept private, however, HourSchool cannot guarantee the security of user account information. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

  <p>Please be aware that whenever you voluntarily post information to public areas on Website or any other public forums, such information can be accessed by the public.</p>

  <div class="heading14" style="margin-top: 30px">WHAT PERSONAL INFORMATION CAN I ACCESS?</div>
  <p>HourSchool allows you to access the following information about you for the purpose of viewing, and in certain situations, updating or deleting that information. This list will change as the Website changes.</p>

  <p>Real name</p>

  <p>Account and user profile information</p>

  <p>User e-mail address</p>

  <p>Username and password</p>

  <p>User preferences</p>

  <p>Moreover, parents may review, edit, and delete information relating to their child’s account at any time. A parent can contact our customer service department to access, change, or delete the child’s Personal Information by sending an e-mail to hello@HourSchool.com. Please include the child’s member name and the parent’s e-mail address in the e-mail so that we can better assist you with your inquiry or request.</p>

  <p>Please note that Personal Information about a child may remain in back-up storage for some period of time after a request for deletion of that child’s account. This may be the case even though no information about that account remains in our active user databases.</p>

  <div class="heading14" style="margin-top: 30px">WHAT CHOICES DO I HAVE?</div>
  <p>As stated previously, you can always opt not to disclose information, even though it may be needed to take advantage of or register for certain features of the Website and services.</p>

  <p>You are able to add or update certain information on pages, such as those listed in the “What Personal Information Can I Access” section above. When you update information, however, we often maintain a copy of the unrevised information in our records.</p>

  <p>You may request deletion of your HourSchool account by sending an e-mail to hello@hourschool.com. Please note that some information may remain in our records after deletion of your account.</p>

  <p>If you do not wish to receive email or other mail from us, please indicate this preference by notifying us at hello@HourSchool.com. preference by notifying us at hello@HourSchool.com. Please note that you may still receive transactional email and other legal notices from us.</p>

  <div class="heading14" style="margin-top: 30px">CHANGES TO THIS PRIVACY POLICY</div>
  <p>HourSchool may make changes to this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email. Users are bound by any changes to the Privacy Policy when he or she uses the Website after such changes have been first posted.</p>

  <div class="heading14" style="margin-top: 30px">QUESTIONS OR CONCERNS</div>
  <p>If you have any questions or concerns regarding privacy on our Website, please send a detailed message to HourSchool's via email at hello@hourschool.com, or write to us at Privacy Compliance, HourSchool, 1309 Chestnut Ave., Austin, TX 78702, or telephone us at (512) 879-8767. We will make reasonable efforts to resolve your concerns. Please note that if you are not 18 years of age or older, then you must have your parent or legal guardian’s permission to call us.</p>


</div>