<%= render :partial => '/pages/show/subnav/about-subnav' %>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading28 brown">Resources</div>
</div>

<div class="container_16" style="width: 960px">
<p style="font-size: 15px; line-height: 2em">We spend a lot of time learning how communities work and thrive, because peer teaching only works if it's in the context of a vibrant community.</p>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Tools and resources we developed:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Community Handbook [pdf]</li>
    <li style="line-height: 2em">HourSchool in a Box [pdf]</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Case studies:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">Green Doors: Taking it Offline</li>
    <li style="line-height: 2em">Center61: Pay with your skills</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading14" style="margin-top: 10px; margin-bottom: 10px">Academic Report:</div>
  <ul style="list-style: none; margin: 0">
    <li style="line-height: 2em">A scientific inquiry into the business activities of HourSchool by Nick Petten</li>
  </ul>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="well">
    <p style="font-size: 15px; line-height: 2em">Are you interested in working with us to implement a peer teaching program in your community or organization? Drop us a note at <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com" %>!</p>
  </div>
</div>