<style type="text/css">
  .section-header{font-size: 40px;}
  a{color: #ff7773;}
</style>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Services
    </p>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">

  <div class="span8">
    <div class="heading14" style="margin-top: 10px; margin-bottom: 5px">Visioning & Programming</div>
    <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">User Research & Synthesis</div>
    <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Service Design & Experience Mapping</div>
    <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>

    <div class="heading14" style="margin-top: 30px; margin-bottom: 5px">Community Workshops</div>
    <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>
  </div>
  <div class="span4">
    <div class="well">
      <p style="font-size: 15px; line-height: 2em">Interested in working with us to implement a peer teaching program in your community or organization? Drop us a note at <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com", :style => "color: #ff7733" %>!</p>
    </div>
  </div>
</div>

<hr>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Projects
    </p>
  </center>
</div>


<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <%= link_to (image_tag 'v4/services/greendoors.jpg', :style => "margin-bottom: 10px"), projects_greendoors_path %>
  <div class="heading14" style="margin-top: 10px; margin-bottom: 5px"><%= link_to "Green Doors", projects_greendoors_path%></div>
  <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>

  <%= image_tag 'v4/services/center61.jpg', :style => "margin-top: 30px; margin-bottom: 10px" %>
  <div class="heading14" style="margin-top: 10px; margin-bottom: 5px">Center61 <span class="label">In Progress</span></div>

  <p>We translate community-centered values, behaviors, and aspirations into a design vision and drivers. We use this foundation to create a design vision, plan, and programming.</p>

</div>

