<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-inactive">
          <a href="/about" class="sub-nav-inactive">About</a>
        </li>
        <li class="sub-nav-active">
          <a href="/story" class="sub-nav-active">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">Campaign</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">Teaching was the best part of people's days</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>

      <img src="/images/v2/church_under_the_bridge.jpg" width="700" style="margin-right: 20px; margin-bottom: 20px">
      <p>HourSchool began as a project about homelessness at the Austin Center for Design. We met with homeless people, listened to their stories, and learned about their good and bad days. Contrary to common perception,homelessness is not the guy you see at the corner of the street or on the side of a freeway. In fact, 40% of the homeless population in Austin is made up of women and children. They are people like you and me, but going through tough times and trying to improve their situations. We found that their biggest problem is perception - both in how society perceives them, and how that perception affects the way they perceive themselves.</p>

      <p>Over and over again, they told us that the best part of their day was when they could help others and share what they know - from where to buy a bus pass and writing a resume to cooking and sewing. Countless organizations are working extremely hard to provide the homeless with essential goods and services - shelter, food, and medical assistance. Although these are fundamental to one’s physical survival, we believe they are not enough to lift someone out of a situation like homelessness. Many of current social services exist on the Maslow’s hierarchy paradigm, where they believe the bottom layers of the triangle must be served before one can move up to other needs such as self-esteem and being part of a community. However, if you consider looking at the Maslow’s hierarchy from a bird’s eye point of view, you quickly realize the self-actualization layer is actually at the core of what makes us human being. It is an innate human need that needs to be fulfilled, in order for us to not just able to live, but have the desire to live. That desire is often what separates between the chronically homeless and the ones that are actively trying to change their situation. We combined this belief with our observations of people’s enhanced self-esteem when they share their knowledge. These insights led us to focus on people’s assets, not their liabilities. For homeless people to feel power to change their situations, we began to look at what they could offer.</p>

      <p>The innate need of all of us to feel needed, useful, and part of a community remains true, no matter what economic situation and residential status. It applies to anyone who doesn’t have outlets to give back and share what they know – the retired folks, the college-educated barista, and the rest of us who don’t necessarily get to utilize all of our skills and passions in our regular day job.</p>

  </div>
</div>
