<div class="grid_2" style="margin-right: 30px">
  <%= link_to "About", about_path %><br>
  <%= link_to "Story", story_path %> <br>
  <%= link_to "Team", team_path %>
</div>

<div class="marcomm-with-sidebar">
  <div class="page-content">
    <div class="heading15-marcomm">How it all started:</div>

      <img src="/images/v2/church_under_the_bridge.jpg" width="700" style="margin-right: 20px; margin-bottom: 20px">
      <p>HourSchool began as a project about homelessness at the Austin Center for Design. But we very quickly realized this was a project about people. We met with people, heard their stories, learned about their good and bad days, and we began to know these people by name. It turns out that homelessness is not the guy you see with a beer in the hand at the corner of the street. In fact, 40% of the homeless population in Austin is made up of women and children. Frankly, they are people like you and me, going through some tough times, and trying as hard as they can to improve their situation. The biggest problem facing people experiencing homelessness is a problem of perception - both the way that society perceives them, and how that then affects the way they perceive themselves.</p>

      <p>We heard the same story, over and over again. For the homeless, the best part of their day was when they were helping others and sharing what they know with one another – from carpentry and roofing to oil painting and computer skills. Countless organizations are working extremely hard to provide the homeless with essential goods and services - shelter, food, and medical assistance. Although these are fundamental to one’s physical survival, we believe they are not enough to lift someone out of a situation like homelessness. Many of current social services exist on the Maslow’s hierarchy paradigm, where they believe the bottom layers of the triangle must be served before one can move up to other needs such as self-esteem and being part of a community. However, if you consider looking at the Maslow’s hierarchy from a bird’s eye point of view, you quickly realize the self-actualization layer is actually at the core of what makes us human being. It is an innate human need that needs to be fulfilled, in order for us to not just able to live, but have the desire to live. That desire is often what separates between the chronically homeless and the ones that are actively trying to change their situation.</p>

      <p>Reflecting upon what we saw, we were reminded by personal stories in our lives, where we have seen first hand how people’s shift in their self-perception and increase in self-esteem  when they were given an opportunity to share their knowledge and teach other people. It was also this insight that led us to believe the importance of focusing on peoples assets, not their liabilities. Instead of constantly asking about their problems and deficiencies, we need to begin focusing on things they can offer, in order for them to feel they have the power to change their own situation.</p>

      <p>The innate need of all of us to feel needed, useful, and part of a community remains true, no matter what economic situation you may be in. This applies to anyone who doesn’t have outlets to give back and share what they know – the retired folks, the college-educated barista, and the rest of us who don’t necessarily get to utilize all of our skills and passions in our regular day job. This was how HourSchool was born - to be a channel for people to share what they know with people around them. </p>

  </div>
</div>
