<%= render :partial => '/pages/show/subnav/about-subnav' %>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      The Team
    </p>
  </center>
</div>
<hr>

<div class="container_16" style="margin: 0; width: 960px; margin-top: 20px">
  <div class="span6">
    <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/2/Me_NACCC_Punkhaus_SQ.jpg?1323105471" class="about-bio-team-photo">
    <div class="heading16">Alex Pappas</div>
    <div class="about-bio-team-blurb">"I love traveling light, getting lost, and making new maps along the way. I like things that wear in, instead of out.  Those objects fascinate me because they're often attached to people who lead interesting lives, and those are the people I love to surround myself with. Think, make, share, rinse, and repeat.  I want to see the world through your lens and affect change locally.  I spend Sundays wrenching on old motorcycles, stop by anytime."</div>
  </div>

  <div class="span6">
    <img src="https://si0.twimg.com/profile_images/3508246404/85996e7cbce14c21d9e894709666d771.jpeg" class="about-bio-team-photo">
    <div class="heading16">Ruby Ku</div>
    <div class="about-bio-team-blurb">"I surround myself with courageous people full of world-changing ideas who don't define themselves by how much they make. Turning these ideas into reality is what makes me jump out of bed every morning. I love being in the water, on the mountains and by the rocks because they remind me to not live in a bubble. I spend almost all of my money on plane tickets, visiting my friends and family that live around the world. Hong Kong, Toronto, and Austin are all homes."</div>
  </div>
</div>

<div class="container_16" style="margin: 0; width: 960px; margin-top: 30px">
  <div class="span6">
    <img src="http://dl.dropbox.com/u/139993/jwu_aboutpic.png" class="about-bio-team-photo">
    <div class="heading16">Joannie Wu</div>
    <div class="about-bio-team-blurb">"You can usually find me riding around Austin on my IRO bicycle heading to work where I develop products and services that are beautiful as well as useful. When not at work, I'm either running the dirt trails of Town Lake or hanging upside down from my legs on a spinning pole. I like to stay busy, active, and hungry for learning but at the end of the day I find the most joy in the simple comfort of rubbing my corgi's fuzzy belly."</div>
  </div>
  <div class="span6">
    <img src="https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" class="about-bio-team-photo" width="125">
    <div class="heading16">Richard Schneeman</div>
    <div class="about-bio-team-blurb">"Howdy there, my name is Richard and I have a confession to make. I - love - dumplings. Love them! Pan fried with soy sauce (so good). I also enjoy teaching Ruby on Rails at the University of Texas, playing board games, and drinking coffee. So - much - coffee! If you're ever in Austin texas say hi at a AustinOnRails meeting. ^_^"</div>
  </div>
</div>

<div class="container_16" style="margin: 0; width: 960px; margin-top: 30px">
  <div class="span6">
    <img src="http://m.c.lnkd.licdn.com/media/p/2/000/1a6/0af/06f80be.jpg" class="about-bio-team-photo">
    <div class="heading16">Christina Tran</div>
    <div class="about-bio-team-blurb">"I'm a bookworm and an introvert who loves connecting with other people. The thing I do best is listening. I'm a recovering workaholic who's learning to go with the flow. I believe in mindfulness, slowing down, and unplugging. I believe in eating delicious things, laughing a lot, and surrounding myself with people who want to make a difference in the world. I'm a board-games-and-comics kind of geek. Let's share a meal and play!"</div>
  </div>
  <div class="span6">
    <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/528346_108625245949243_529052369_n.jpg" class="about-bio-team-photo" width="125">
    <div class="heading16">Mijo Pappas</div>
    <div class="about-bio-team-blurb">"I adore my life as a recently retired teacher of French. I am giving to my free time as much devotion as I did to my professional life. Everyday is full of interesting and challenging activities and restful moments. I get excited about new projects that connect people in communities and love to follow creative ideas and impulses. Keeping up with reading, movies and planting flowers is not enough. I love to cook for my family and my friends, whom I adore, and now and then, I'll take a long trip inside the United States or abroad to discover new vistas and meet new people. Exercise is a must. My afternoon nap is, however, sacred."</div>
  </div>
</div>
