<div class="heading32 green">Wall of Missions</div>

<div style="float: right; margin-top: -50px; margin-right: 20px">
  Choose a city:
  <select class="span3">
    <option>Austin, TX</option>
    <option>Ann Arbor, MI</option>
    <option>Waterloo, ON</option>
    <option>San Francisco, CA</option>
  </select>
</div>

<% @missions.each do |mission| %>
  <div style="float: left"%>
    <div style="width: 300px; height: 180px; margin-right: 20px">
      <% if mission.photo.present? %>
        <%= image_tag(mission.photo, :size => "300x180") %>
      <% end %>
    </div>
    <div style="background-color: white; width: 280px; padding: 10px">
      <div class="title-text" id="explore"><%= mission.title %></div>
      <div class="heading11" id="explore"><%= mission.city.name %>, <%= mission.city.state %></div>
    </div>
  </div>
<% end %>


