<div class="heading32 green">Wall of Missions</div>

<% @live_missions.each do |mission| %>
  <div style="float: left"%>
    <div style="width: 300px; height: 180px; margin-right: 20px">
      <% if mission.photo.present? %>
        <%= link_to (image_tag(mission.photo, :size => "300x180")), mission %>
      <% end %>
    </div>
    <div style="background-color: white; width: 280px; height: 76px; padding: 10px">
      <div class="title-text" id="explore"><%= full_mission_title(mission).truncate(57) %></div>
      <div class="heading11" id="explore"><%= mission.city.name %>, <%= mission.city.state %></div>
    </div>
  </div>
<% end %>


