<style type="text/css">

  .left_sidebar_header{
    font-family: Georgia; font-weight: bold; font-size: 11px; padding-top: 5px; color: black;
  }

  .left_sidebar{
    font-family: Georgia; font-size: 11px; padding-bottom: 10px; padding-right: 2px;
  }

</style>


<div style="margin-left: -75px">

  <div class="left" id="left_events">
     <li id="gce_widget-3" class="widget widget_gce_widget"><h2 class="widgettitle">Past Events</h2>
       <div class="gce-widget-list" id="gce_widget-3-container">

         <ul class="gce-list" style="margin-left: 0">

           <p class="left_sidebar_header">Shop Talks:</p>
           <p class="left_sidebar">
             <a href="http://www.facebook.com/media/set/?set=a.183908268290846.52562.130364753645198&amp;type=3" target="_blank">Wood Basics</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.200363083312031.60788.130364753645198&amp;type=3" target="_blank"> Tool Basics I: Hand Tools</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.204777559537250.62809.130364753645198&amp;type=3" target="_blank"> Tool Basics II: Power Tools</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.215567648458241.67473.130364753645198&amp;type=3" target="_blank"> Tool Basics III: Make Your Own Picture Frame</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.246739745341031.81428.130364753645198&amp;type=3" target="_blank"> Chickens!</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.229616987053307.77774.130364753645198&amp;type=3" target="_blank"> Envelope &amp; Card Making</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.262285600453112.84859.130364753645198&amp;type=3" target="_blank"> Groovy Car Talk I: Routine Maintenance</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.336823196332685.100287.130364753645198&amp;type=3" target="_blank"> Groovy Car Talk II: Emergency Needs</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.294889293859409.92150.130364753645198&amp;type=3" target="_blank"> Food Design</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.317957044885967.97602.130364753645198&amp;type=3" target="_blank"> Landscape Design</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.370561009625570.107472.130364753645198&amp;type=3" target="_blank">Glass Casting</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.394912207190450.111989.130364753645198&amp;type=1" target="_blank">Laser Cutting<br />
             </a><a href="http://www.facebook.com/media/set/?set=a.421753504506320.116397.130364753645198&amp;type=3" target="_blank">Furniture Design &amp; Restoration<br />
             </a><a href="http://www.facebook.com/media/set/?set=a.433662579982079.118716.130364753645198&amp;type=3" target="_blank">Beer Brewing</a>
           </p>

           <p class="left_sidebar_header">In the Community:</p>
           <p class="left_sidebar">
             <a href="http://www.facebook.com/media/set/?set=a.301588929856112.93783.130364753645198&amp;type=3" target="_blank">Girl Scouts STEM Fest</a><br />
             <a href="http://www.facebook.com/media/set/?set=a.318692664812405.97728.130364753645198&amp;type=3" target="_blank"> Komen Race for the Cure<br />
             </a><a href="http://www.facebook.com/media/set/?set=a.404853142863023.114002.130364753645198&amp;type=3" target="_blank">Youth Empowerment Program at the Ann Richards School<br />
             </a><a href="http://www.facebook.com/media/set/?set=a.427231920625145.117435.130364753645198&amp;type=3" target="_blank">Austin Funky Chicken Coop Tour</a>
           </p>

         </ul>

       </div>
      </li>
  </div>

</div>

